<div class="Form Form--centered">
  <div class="Heading">
    <h1>Resend confirmation instructions</h1>
  </div>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "shared/flash_messages", messages: resource.errors.full_messages.map { |message| [ :alert, message ] } if resource.errors.full_messages.any? %>

    <div class="Form-field">
      <%= f.label :email, class: "Form-label" %>
      <%= f.email_field :email, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="Form-submit">
      <%= f.button "Resend confirmation instructions", type: "submit", class: "Button" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
