<%= render layout: "shared/dashboard" do %>
  <div class="Heading">
    <h1><%= t('headings.products') %></h1>
  </div>

  <% if current_user.rooms.any? %>
    <% content_for :js do %>
      <%= javascript_include_tag "accordion_tabs" %>
    <% end %>
    <% content_for :css do %>
      <%= stylesheet_link_tag "accordion_tabs" %>
    <% end %>
    <accordion-tabs breakpoint="20rem">
      <details>
        <summary><%= t('filter.all') %></summary>
        <%= render "shared/products", categories: @all_categories, products: @all_products, empty_state: t('empty_state.user_products', brands_path: brands_path, categories_path: categories_path, products_path: products_path) %>
      </details>
      <% current_user.rooms.each do |room| %>
        <details>
          <summary><%= room.name %></summary>
          <%= render "shared/products", products: room.products.sort_by{|c| c[:name].downcase}, empty_state: t('empty_state.room_products') %>
        </details>
      <% end %>
      <% if @products_without_room.any? %>
        <details>
          <summary>Other</summary>
          <%= render "shared/products", products: @products_without_room %>
        </details>
      <% end %>
    </accordion-tabs>
  <% else %>
    <%= render "shared/products", categories: @all_categories, products: @all_products, empty_state: t('empty_state.user_products', brands_path: brands_path, categories_path: categories_path, products_path: products_path) %>
  <% end %>
<% end %>
