<% content_for :css do %>
  <%= stylesheet_link_tag "note", crossorigin: true, integrity: true %>
<% end %>
<div class="Note">
  <div class="Heading">
    <h1>Notes <small><%= @product_variant.present? ? @product_variant.display_name : @product.display_name %></small></h1>

    <% if @note&.updated_at %>
      <p class="u-textEnd">
        <small>
          <b>Last updated:</b> <time datetime="<%= format_iso_datetime @note.updated_at %>"><%= format_datetime(@note.updated_at).html_safe %></time>
        </small>
      </p>
    <% end %>
  </div>

  <%= form_for @note.present? ? @note : :note, url: (notes_path if @note.blank?), method: @note.present? ? :put : :post do |f| %>
    <%= f.text_area :text, hidden: true, "data-note-textarea": "focus" %>
    <%= f.hidden_field :product_id, value: @product.id %>
    <%= f.hidden_field :product_variant_id, value: @product_variant.id if @product_variant.present? %>

    <%= render "shared/markdown_editor" %>

    <div class="Form-submit">
      <%= f.button "Save", type: "submit", class: "Button" %>
    </div>
  <% end %>
</div>
