<% additional_instructions ||= [] %>

<% content_for :css do %>
  <%= stylesheet_link_tag "entity_form", crossorigin: true, integrity: true %>
<% end %>
<% content_for :js do %>
  <%= javascript_include_tag "entity_form", type: "module", nonce: true, crossorigin: true, integrity: true %>
<% end %>

<div class="Form">
  <div class="Heading">
    <h1><%= yield :heading %></h1>
  </div>

  <% if custom_product.errors.any? %>
    <%= render "shared/flash_messages", messages: custom_product.errors.map { |error| ["alert", error.full_message] } %>
  <% end %>

  <div class="Form-field">
    <h2 class="h3 Form-label">
      <%= f.label :name %>
    </h2>
    <%= f.text_field :name, required: true %>
  </div>

  <div class="Form-field">
    <h2 class="Form-label h3"><%= Category.model_name.human(count: 2) %></h2>
    <div class="Options is-light EntityForm-subCategories">
      <% categories.each do |category| %>
        <details <% if (category.sub_category_ids & custom_product.sub_category_ids).any? %>open<% end %>>
          <summary><%= category.name %></summary>
          <% category.sub_categories.each do |sub_category| %>
            <div class="Options-item">
              <%= check_box_tag "custom_product[sub_category_ids][#{sub_category.id}]", sub_category.id, custom_product.sub_category_ids.include?(sub_category.id), name: "custom_product[sub_category_ids][]" %>
              <%= label_tag "custom_product[sub_category_ids][#{sub_category.id}]", sub_category.name %>
            </div>
          <% end %>
        </details>
      <% end %>
    </div>
  </div>

  <div class="Form-field">
    <h2 class="h3 Form-label">
      <%= CustomProduct.human_attribute_name(:description) %> <small><i>(optional)</i></small>
    </h2>
    <%= f.text_area :description, hidden: true, "data-note-textarea": true %>
    <%= render "shared/markdown_editor" %>
  </div>

  <div class="Form-submit">
    <%= f.button type: "submit", class: "Button Button--loadingIcon" do %>
      <span><%= t('product.new.submit') %></span>
    <% end %>
  </div>
</div>
