<%= render layout: "shared/dashboard", locals: { active_dashboard_menu: @active_dashboard_menu } do %>
  <%= form_for @custom_product, url: custom_product_path(id: @custom_product.id), html: { class: "EntityForm", method: :put } do |f| %>
    <% content_for :heading do %>
      <%= t('edit') %>
      <span><%= @custom_product.name %></span>
    <% end %>

    <%= render "form", f: f, custom_product: @custom_product, categories: @categories %>
  <% end %>
<% end %>
