<%= render layout: "shared/dashboard" do %>
  <div class="Heading">
    <h1><%= t('headings.custom_products') %></h1>
    <%= link_to t('new_custom_product.link'), dashboard_new_custom_product_path, class: "Button" %>
  </div>

  <% if @custom_products.any? %>
    <%= render "shared/products",
      items: @custom_products,
      include_images: true,
      include_image_upload: true,
      hide_brand: true,
      include_edit_link: true,
      include_delete_button: true,
      include_setup: true,
      delete_button_label: t('delete_custom_product.label'),
      delete_confirm_msg: 'delete_custom_product.confirm',
      delete_path: :delete_path
    %>
  <% else %>
    <%= render "shared/empty_state", message: t('empty_state.custom_products') %>
  <% end %>
<% end %>
