<%= render layout: "shared/dashboard", locals: { active_dashboard_menu: @active_dashboard_menu } do %>
  <div class="Heading">
    <h1><%= CustomProduct.model_name.human(count: 2) %></h1>
    <%= link_to t('custom_product.new.link'), dashboard_new_custom_product_path, class: "Button" %>
  </div>

  <% if @custom_products.any? %>
    <%= render "shared/products",
      items: @custom_products,
      include_images: true,
      include_image_upload: true,
      hide_brand: true,
      hide_release_date: true,
      hide_since: true,
      hide_period: true,
      include_edit_link: true,
      delete_button_label: t('custom_product.delete.label'),
      delete_confirm_msg: 'custom_product.delete.confirm'
    %>
  <% else %>
    <%= render "shared/empty_state", message: t('empty_state.custom_products') %>
  <% end %>
<% end %>
