<% content_for :css do %>
  <%= stylesheet_link_tag "entity", crossorigin: true, integrity: true %>
  <%= stylesheet_link_tag "product", crossorigin: true, integrity: true %>
  <%= stylesheet_link_tag "custom_product", crossorigin: true, integrity: true %>
<% end %>
<% content_for :js do %>
  <%= javascript_include_tag "gallery", type: "module", nonce: true, crossorigin: true, integrity: true %>
<% end %>
<div class="Entity">
  <div class="Entity-main">
    <div class="Product-details">
      <div class="Heading">
        <h1>
          <%= @possession.custom_product.name %>
        </h1>
      </div>

      <div class="CustomProduct">
        <% if @possession.image.attached? %>
          <div class="CustomProduct-image ImageLightbox">
            <div class="ImageLightbox-item">
              <button class="ImageLightbox-thumb ImageGallery-thumb" aria-controls="image-dialog-<%= @possession.image.id %>">
                <picture>
                  <source srcset="<%= cdn_image_url(@possession.image.variant(:thumb_avif)) %>" type="image/avif">
                  <%= image_tag cdn_image_url(@possession.image.variant(:thumb)), "aria-hidden": "true", alt: "", type: "image/webp" %>
                </picture>
              </button>
              <dialog class="ImageLightbox-dialog ImageGallery-dialog is-light" id="image-dialog-<%= @possession.image.id %>">
                <picture>
                  <source srcset="<%= cdn_image_url(@possession.image.variant(:large_avif)) %>" type="image/avif">
                  <%= image_tag cdn_image_url(@possession.image.variant(:large)), "aria-hidden": "true", alt: "", loading: "lazy", type: "image/webp" %>
                </picture>
              </dialog>
            </div>
          </div>
        <% end %>

        <div>
          <dl class="Data">
            <dt>Built by</dt>
            <dd><%= link_to @possession.custom_product.user.user_name, user_path(id: @possession.custom_product.user.user_name.downcase) %></dd>
            <dt>Built in</dt>
            <dd><%= @possession.custom_product.built_in %></dd>
            <dt><%= t('headings.category').html_safe %></dt>
            <dd>
              <%= @possession.custom_product.sub_categories.map { |sub_category| link_to sub_category.name, products_path(sub_category: sub_category.friendly_id) }.join(", ").html_safe %>
              <% if @possession.custom_product.custom_attributes.present? %>
                <br><span class="Data-secondary"><%= custom_attributes_list @possession.custom_product %></span>
              <% end %>
            </dd>
          </dl>

          <% if @possession.custom_product.description.present? %>
            <div class="Entity-description Rte">
              <%= sanitize @possession.custom_product.formatted_description.html_safe, tags: %w(p b i strong em br ul ol li) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if user_signed_in? && @possession.user == current_user %>
    <div class="Entity-sub Product-sub u-pullOut">
      <div class="ProductPossession">
        <% if @possession.object.errors.any? %>
          <%= render "shared/flash_messages", messages: @possession.object.errors.map { |error| ["alert", error.full_message] } %>
        <% end %>

        <div class="ProductPossession-heading u-flex u-gap-md u-alignCenter">
          <div>
            <%= render "shared/image_upload", item: @possession, size: "4rem", prefix: "possessions" %>
          </div>
          <span>
            <b class="ProductPossession-headingName"><%= t('symbols.in_your_collection') %></b>
            <% if @possession.created_at %>
              <small>since <time datetime="<%= formatted_datetime @possession.created_at %>"><%= formatted_datetime @possession.created_at %></time></small>
            <% end %>
          </span>
        </div>

        <% if @setups.any? %>
          <%= form_for @possession, method: :put, html: { class: "ProductPossession-setup u-flex u-gap-md u-alignCenter" } do |f| %>
            <label for="setup-select-<%= @possession.id %>">Setup</label>
            <select name="setup_id" class="SetupSelect" id="setup-select-<%= @possession.id %>">
              <option value="">None</option>
              <% @setups.each do |setup| %>
                <option value="<%= setup.id %>"<%= " selected" if @possession.setup == setup %>><%= setup.name %></option>
              <% end %>
            </select>
          <% end %>
          <%= javascript_tag nonce: true do %>
            document.querySelectorAll(".SetupSelect").forEach(select => {
              select.addEventListener("change", () => {
                select.closest("form").submit();
              });
            });
          <% end %>
        <% end %>

        <ul class="ProductPossession-metaLinks Entity-metaLinks MetaLinks">
          <li>
            <%= button_to @possession.delete_path, method: :delete, class: "DeleteButton", "data-msg": @possession.delete_confirm_msg do %>
                <%= @possession.delete_button_label %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
