<% content_for :css do %>
  <%= stylesheet_link_tag "entity", crossorigin: true, integrity: true %>
  <%= stylesheet_link_tag "product", crossorigin: true, integrity: true %>
  <%= stylesheet_link_tag "custom_product", crossorigin: true, integrity: true %>
<% end %>
<% content_for :js do %>
  <%= javascript_include_tag "gallery", type: "module", nonce: true, crossorigin: true, integrity: true %>
<% end %>
<div class="Entity">
  <div class="Entity-main">
    <div class="Product-details">
      <div class="Heading">
        <h1>
          <%= @custom_product.display_name %>
        </h1>
      </div>

      <div class="CustomProduct">
        <% if @custom_product.image.attached? %>
          <div class="CustomProduct-image ImageLightbox">
            <div class="ImageLightbox-item">
              <button class="ImageLightbox-thumb ImageGallery-thumb" aria-controls="image-dialog-<%= @custom_product.image.id %>">
                <picture>
                  <%= image_tag cdn_image_url(@custom_product.image.variant(:thumb)), "aria-hidden": "true", alt: "" %>
                </picture>
              </button>
              <dialog class="ImageLightbox-dialog ImageGallery-dialog is-light" id="image-dialog-<%= @custom_product.image.id %>">
                <picture>
                  <%= image_tag cdn_image_url(@custom_product.image.variant(:large)), "aria-hidden": "true", alt: "", loading: "lazy" %>
                </picture>
              </dialog>
            </div>
          </div>
        <% end %>

        <div class="CustomProduct-content">
          <dl class="Data">
            <dt><%= t('headings.category').html_safe %></dt>
            <dd>
              <%= @custom_product.sub_categories.map { |sub_category| link_to sub_category.name, products_path(sub_category: sub_category.friendly_id) }.join(", ").html_safe %>
              <% if @custom_product.custom_attributes.present? %>
                <br><span class="Data-secondary"><%= custom_attributes_list @custom_product %></span>
              <% end %>
            </dd>
          </dl>

          <% if @custom_product.description.present? %>
            <div class="Entity-description Rte">
              <%= sanitize @custom_product.formatted_description.html_safe, tags: %w(p b i strong em br ul ol li) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if user_signed_in? && @custom_product.user == current_user %>
    <div class="Entity-sub Product-sub u-pullOut">
      <% if @possession %>
        <div class="ProductPossession" data-current="<%= !@possession.prev_owned %>">
          <% if @custom_product.errors.any? %>
            <%= render "shared/flash_messages", messages: @custom_product.errors.map { |error| ["alert", error.full_message] } %>
          <% end %>

          <div class="ProductPossession-heading u-flex u-alignCenter">
            <div>
              <%= render "shared/image_upload", item: @custom_product, image_update_item: @custom_product, size: "4rem", prefix: "possessions" %>
            </div>
            <div>
              <b class="ProductPossession-headingName"><%= @possession.prev_owned ? t('symbols.prev_owned') : t('symbols.in_your_collection') %></b>
              <% if @possession.period_from || @possession.period_to || @possession.setup %>
                <div class="ProductPossession-period">
                  <% if @possession.prev_owned %>
                    <% if @possession.period_from && @possession.period_to %>
                      <small>
                        <span class="u-block">Owned from:</span>
                        <time datetime="<%= formatted_date @possession.period_from %>"><%= formatted_date @possession.period_from %></time> &ndash; <time datetime="<%= formatted_date @possession.period_to %>"><%= formatted_date @possession.period_to %></time>
                      </small>
                    <% elsif @possession.period_from %>
                      <small>
                        <span>Owned since:</span>
                        <time datetime="<%= formatted_date @possession.period_from %>"><%= formatted_date @possession.period_from %></time>
                      </small>
                    <% elsif @possession.period_to %>
                      <small>
                        <span>Owned until:</span>
                        <time datetime="<%= formatted_date @possession.period_to %>"><%= formatted_date @possession.period_to %></time>
                      </small>
                    <% end %>
                  <% else %>
                    <% if @possession.period_from %>
                      <small>
                        <span>Since:</span>
                        <time datetime="<%= formatted_date @possession.period_from %>"><%= formatted_date @possession.period_from %></time>
                      </small>
                    <% end %>
                  <% end %>
                  <% if @possession.setup %>
                    <small>
                      <span>Setup:</span>
                      <%= link_to @possession.setup.name, dashboard_setup_path(@possession.setup) %>
                    </small>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>

          <details class="ProductPossession-metaLinks Entity-metaLinks">
            <summary>Edit / Remove</summary>
            <%= form_for @possession, method: :put, html: { class: "ProductPossession-setup", id: "possession-form-#{@possession.id}" } do |f| %>
              <div class="ProductPossession-form">
                <% unless @possession.prev_owned %>
                  <%= f.label :period_from, "Since" %>
                  <%= f.date_field :period_from %>
                  <% if @setups.any? %>
                    <label for="setup-select-<%= @possession.id %>">Setup</label>
                    <select name="possession[setup_id]" class="SetupSelect" id="setup-select-<%= @possession.id %>">
                      <option value="">None</option>
                      <% @setups.each do |setup| %>
                        <option value="<%= setup.id %>"<%= " selected" if @possession.setup == setup %>><%= setup.name %></option>
                      <% end %>
                    </select>
                  <% end %>
                <% else %>
                  <%= f.label :period_from, "From" %>
                  <%= f.date_field :period_from %>
                  <%= f.label :period_to, "Until" %>
                  <%= f.date_field :period_to %>
                <% end %>
              </div>
            <% end %>
            <div class="u-flex u-spaceBetween">
              <button class="Button Button--loadingIcon" form="possession-form-<%= @possession.id %>">Save</button>
              <% if @possession.prev_owned %>
                <%= button_to @possession.delete_button_label,
                  @possession.delete_path,
                  method: :delete,
                  class: "DeleteButton u-textUnderline",
                  "data-msg": @possession.delete_confirm_msg
                %>
              <% else %>
                <%= render "shared/remove_product_from_possessions", possession: @possession, id: @possession.id %>
              <% end %>
            </div>
          </details>
        </div>
      <% else %>
        <div class="Product-action">
          <%= button_to possessions_path(custom_product_id: @custom_product.id), class: "Button Button--loadingIcon" do %>
            <span class="u-flex u-alignCenter u-gap-sm">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" width="20" height="20"><path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/></svg>
              <%= t('add_to_collection').html_safe %>
            </span>
          <% end %>
        </div>

        <div class="Product-action">
          <%= button_to possessions_path(custom_product_id: @custom_product.id, prev_owned: true), class: "Button Button--secondary Button--loadingIcon" do %>
            <span class="u-flex u-alignCenter u-gap-sm">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" width="20" height="20"><path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/></svg>
              <%= t('add_to_prev_owned').html_safe %>
            </span>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <% if @possession %>
      <%= javascript_tag nonce: true do %>
        document.querySelectorAll(".SetupSelect").forEach(select => {
          select.addEventListener("change", () => {
            select.closest("form").submit();
          });
        });
      <% end %>
    </div>
  <% end %>
</div>
