<article class="SearchResult">
  <div class="u-flex u-spaceBetween u-alignCenter u-gap-md u-flexWrap">
    <div class="SearchResult-entityName">
      <%
        normalized_query = query.downcase

        if result.item_type == 'Product'
          name = result.product_name
          path = product_path(result.product_slug)
      %>
        <%= result.brand_name %> <%= link_to name, path %>
      <% elsif result.item_type == 'ProductVariant'
          name = result.product_variant_name
          path = product_variant_path(id: result.product_variant_slug, product_id: result.product_slug)
      %>
        <%= result.brand_name %> <%= link_to name, path %>
      <%  elsif result.item_type == 'Brand'
          name = result.brand_name
          full_name = result.brand_full_name.present? ? result.brand_full_name : nil
          path = brand_path(result.brand_slug)
      %>
        <%= link_to name, path %>
        <% if full_name %>
          <span class="SearchResult-entityFullName"><%= full_name %></span>
        <% end %>
      <% end %>
    </div>
    <% if result.item_type == 'Product' or result.item_type == 'ProductVariant' %>
      <small><%= Product.model_name.human %></small>
    <% elsif result.item_type == 'Brand' %>
      <small><%= Brand.model_name.human %></small>
    <% end %>
  </div>
</article>
