<% unless flash.any? %>
  <div class="SearchResults">
    <div class="Heading">
      <h1><%= sanitize t('search_results.heading', query: h(@query)).html_safe %></h1>
    </div>

    <form id="search-filter">
      <input type="hidden" name="query" value="<%= @query %>">
      <div class="Pagination">
        <label>
          <input type="radio" id="filter-all" value="" name="filter"<%= " checked" if params[:filter].blank? %>>
          All
        </label>
        <label>
          <input type="radio" id="filter-products" value="products" name="filter"<%= " checked" if params[:filter] == 'products' %>>
          <%= Product.model_name.human(count: 2) %>
        </label>
        <label>
          <input type="radio" id="filter-brands" value="brands" name="filter"<%= " checked" if params[:filter] == 'brands' %>>
          <%= Brand.model_name.human(count: 2) %>
        </label>
        <button class="Button">Filter</button>
        <%= javascript_tag nonce: true do %>
          {
            const form = document.getElementById("search-filter");

            if (form) {
              const button = form.querySelector("button");

              if (button) {
                button.hidden = true;

                form.querySelectorAll("input").forEach(input => {
                  input.addEventListener("change", () => {
                    form.submit();
                  })
                });
              }
            }
          }
        <% end %>
      </div>
    </form>

    <%= render "list", results: @results, query: @query %>
  </div>
<% end %>
