<% content_for :css do %>
  <%= stylesheet_link_tag "entity_form", crossorigin: true, integrity: true %>
<% end %>
<% content_for :js do %>
  <%= javascript_include_tag "entity_form", type: "module", crossorigin: true, integrity: true %>
<% end %>

<div class="Form">
  <div class="Heading">
    <h1><%= yield :heading %></h1>
  </div>

  <% if @setup.errors.any? %>
    <%= render "shared/flash_messages", messages: @setup.errors.map { |error| ["alert", error.full_message] } %>
  <% end %>

  <div class="Form-field">
    <%= f.label :name, class: 'h4 Form-label' %>
    <%= f.text_field :name, placeholder: "e.g. Living room or Office", required: true %>
  </div>
  <div class="Form-field">
    <span class="h4 Form-label">Private</span>
    <div class="u-flex u-alignCenter u-gap-md">
      <div class="u-flex u-alignCenter u-gap-sm">
        <%= f.radio_button :private, 0, required: true, checked: @setup.present? ? !@setup.private? : false %>
        <%= f.label :private, "No", value: 0 %>
      </div>
      <div class="u-flex u-alignCenter u-gap-sm">
        <%= f.radio_button :private, 1, required: true, checked: @setup.present? ? @setup.private? : false %>
        <%= f.label :private, "Yes", value: 1 %>
      </div>
    </div>
    <p class="Form-hint">
      <small>
        Please note that marking a setup as private only hides the setup from your public profile.
        Products that have been added to a private setup will still be shown on your profile.
      </small>
    </p>
  </div>
  <div class="Form-submit">
    <button type="submit" class="Button">Save</button>
  </div>
</div>
