<% content_for :css do %>
  <%= stylesheet_link_tag "form" %>
  <%= stylesheet_link_tag "setups" %>
<% end %>
<%= render layout: "shared/dashboard" do %>
  <div class="Heading">
    <h1><%= t('headings.setups') %></h1>
  </div>

  <% if @setups.any? %>
    <div class="u-pullOut">
      <table>
        <thead>
          <tr>
            <th><%= t("headings.name") %></th>
            <th class="u-textCenter"><%= t("activerecord.attributes.setup.private") %></th>
            <th class="Table-products"><%= t("headings.products") %></th>
          </tr>
        </thead>
        <tbody>
          <% @setups.each do |setup| %>
            <tr>
              <th><%= link_to setup.name, dashboard_setup_path(setup) %></th>
              <td class="u-textCenter"><%= setup.private? ? "&check;".html_safe : "-" %></td>
              <td class="Table-products"><%= setup.possessions.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <%= render "shared/empty_state", message: t('empty_state.setups') %>
  <% end %>

  <%= render "setups/form", method: :post, heading: "Create setup" %>
<% end %>
