<% content_for :css do %>
  <%= stylesheet_link_tag "add_entity_dialog", crossorigin: true, integrity: true %>
<% end %>

<%= render layout: "shared/dashboard" do %>
  <div class="Heading">
    <div>
      <h1><%= @setup.name %></h1>
      <% if @setup.private? %><small>Private</small><% end %>
    </div>
    <%= render "shared/category_filter", categories: @categories %>
  </div>

  <%= render "shared/products",
    items: @possessions,
    categories: @categories,
    empty_state: t('empty_state.setup_products'),
    include_images: true,
    include_image_upload: true,
    include_delete_button: true,
    hide_since: true,
    hide_period: true,
    delete_button_label: t('product.remove_from_setup.label'),
    delete_confirm_msg: 'product.remove_from_setup.confirm',
    delete_path: :remove_from_setup
  %>

  <div class="PageActions">
    <div class="PageAction">
      <button type="button" data-dialog="add-products" class="Button">
        Add / Remove products
      </button>
      <dialog class="AddEntityDialog" id="add-products">
        <%= form_for @setup, method: :put do |f| %>
          <h2>Add Products <small>to <%= @setup.name %></small></h2>
          <div class="AddEntityDialog-list">
            <% @all_possessions .each do |presenter| %>
              <div class="AddEntityDialog-option">
                <%= check_box_tag "setup[possession_ids][]", presenter.id, { id: "setup_possession_ids_#{presenter.id}", checked: @setup.possession_ids.include?(presenter.id) } %>
                <%= f.label :possession_ids, value: presenter.id do %>
                  <% if presenter.image.attached? %>
                    <picture>
                      <%= image_tag cdn_image_url(presenter.image.variant(:thumb)), "aria-hidden": "true", alt: "", width: 50, height: 50 %>
                    </picture>
                  <% else %>
                    <span class="OpenImageDialog-placeholder" style="inline-size: 3.125rem;">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" width="24" height="24"><path stroke-linecap="round" stroke-linejoin="round" d="m2.3 15.8 5.1-5.2a2.3 2.3 0 0 1 3.2 0l5.1 5.2m-1.4-1.6 1.4-1.4a2.3 2.3 0 0 1 3.1 0l3 3m-18 3.7h16.4a1.5 1.5 0 0 0 1.6-1.5V6a1.5 1.5 0 0 0-1.6-1.5H3.9A1.5 1.5 0 0 0 2.3 6v12a1.5 1.5 0 0 0 1.5 1.5ZM14.2 8.2h0v0h0v0Zm.4 0a.4.4 0 1 1-.7 0 .4.4 0 0 1 .7 0Z"/></svg>
                    </span>
                  <% end %>
                  <%= presenter.display_name %>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" class="AddEntityDialog-checkmark"><path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.8 6 6 9-13.6"/></svg>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="Form-submit">
            <div class="u-flex u-spaceBetween">
              <%= f.button "Save", type: "submit", class: "Button" %>
              <button formmethod="dialog">Close</button>
            </div>
          </div>
        <% end %>
      </dialog>
    </div>
    <div class="PageAction">
      <%= button_to t('setup.delete.label'),
        setup_path(id: @setup.id),
        method: :delete,
        class: "DeleteButton Button Button--negative",
        "data-msg": t('setup.delete.confirm', name: @setup.name)
      %>
    </div>
  </div>
<% end %>
