<%= render layout: "shared/dashboard" do %>
  <div class="Heading">
    <h1><%= @setup.name %></h1>
    <div class="Heading-amount">
      <%= t('amount_products', count: @setup.products.size) %>
    </div>
  </div>

  <%= render "shared/products", products: @setup.products, empty_state: t('empty_state.setup_products') %>

  <div class="PageActions">
    <div class="PageAction">
      <%= render "shared/back_link" %>
    </div>
    <div class="PageAction">
      <%= button_to t('delete_setup.label'), dashboard_setup_path(id: @setup.id), method: :delete, class: "DeleteButton Button Button--negative" %>

      <%= javascript_tag nonce: true do %>
        Array.from(document.querySelectorAll(".DeleteButton")).forEach(button => {
          button.closest("form").addEventListener("submit", (event) => {
            if (!window.confirm("<%= t('delete_setup.confirm') %>")) {
              event.preventDefault();
            }
          });
        });
      <% end %>
    </div>
  </div>

<% end %>
