<% content_for :css do %>
  <%= stylesheet_link_tag "statistics", crossorigin: true, integrity: true %>
  <%= stylesheet_link_tag "tabs", crossorigin: true, integrity: true %>
<% end %>

<%= render layout: "shared/dashboard", locals: { active_dashboard_menu: active_dashboard_menu } do %>
  <div class="Heading">
    <h1><%= t('headings.statistics') %></h1>
  </div>

  <div class="Statistics">
    <ul class="Tabs">
      <li>
        <%= link_to "Current", dashboard_statistics_root_path, "aria-current": active == :current %>
      </li>
      <li>
        <%= link_to "Total", dashboard_statistics_total_path, "aria-current": active == :total %>
      </li>
      <li>
        <%= link_to "Yearly", dashboard_statistics_yearly_path, "aria-current": active == :yearly %>
      </li>
    </ul>

    <h2>Overview</h2>

    <ul class="StatisticsNumbers">
      <% overview_statistics.each do |statistic| %>
      <li class="StatisticsNumbers-item">
        <div class="StatisticsNumber">
          <%= statistic[:label] %>
          <span class="StatisticsNumber-value"><%= statistic[:value] %></span>
          <span class="StatisticsNumber-unit"><%= statistic[:unit] %></span>
        </div>
      </li>
      <% end %>
    </ul>

    <%= yield %>
  </div>
<% end %>
