<% content_for :css do %>
  <%= stylesheet_link_tag "statistics" %>
  <%= stylesheet_link_tag "tabs" %>
<% end %>

<%= render layout: "shared/dashboard", locals: { active_dashboard_menu: active_dashboard_menu } do %>
  <div class="Heading">
    <h1><%= t('headings.insights') %></h1>
  </div>

  <div class="Statistics">
    <ul class="Tabs">
      <li>
        <%= link_to "Current", dashboard_statistics_root_path, "aria-current": active == :current %>
      </li>
      <li>
        <%= link_to "Total", dashboard_statistics_total_path, "aria-current": active == :total %>
      </li>
      <li>
        <%= link_to "Yearly", dashboard_statistics_yearly_path, "aria-current": active == :yearly %>
      </li>
    </ul>

    <h2>Overview</h2>

    <%= render "overview_statistics", overview_statistics: overview_statistics %>

    <%= yield %>
  </div>
<% end %>
