<div class="Heading">
  <h1>Users</h1>
</div>

<% content_for :css do %>
  <%= stylesheet_link_tag "users", crossorigin: true, integrity: true %>
<% end %>
<div class="Users">
  <div class="Users-ranking">
    <div class="u-breakpoint u-breakpoint--xs">
      <table class="u-breakpoint-item-l">
        <thead>
          <tr>
            <th class="Users-rank">Rank</th>
            <th>User</th>
            <th>Score</th>
            <th>Member since</th>
          </tr>
        </thead>
        <tbody>
          <% @users_by_products.each_with_index do |user, i| %>
            <tr>
              <td><%= i + 1 %></td>
              <td>
                <% if user["profile_visibility"] == "hidden" %>
                  <div class="u-flex u-gap-md u-alignCenter">
                    <%= render "shared/avatar", user: user, size: 32 %>
                    <b><%= user["user_name"] %></b>
                  </div>
                <% else %>
                  <%= link_to user.profile_path, class: "u-flex u-gap-md u-alignCenter" do %>
                    <%= render "shared/avatar", user: user, size: 32 %>
                    <b><%= user["user_name"] %></b>
                  <% end %>
                <% end %>
              </td>
              <td><%= user["count"] %></td>
              <td>
                <time datetime="<%= formatted_date user["created_at"] %>"><%= formatted_date user["created_at"] %></time>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <ol class="EntityList EntityList--products u-breakpoint-item-s">
        <% @users_by_products.each_with_index do |user, i| %>
          <li class="EntityList-item">
            <div class="EntityList-content">
              <div class="EntityList-name">
                <div class="u-flex u-gap-md">
                  <div>
                    <%= i + 1 %>.
                  </div>
                  <% if user["profile_visibility"] == "hidden" %>
                    <div class="u-flex u-gap-md u-alignCenter">
                      <%= render "shared/avatar", user: user, size: 32 %>
                      <b><%= user["user_name"] %></b>
                    </div>
                  <% else %>
                    <%= link_to user.profile_path, class: "u-flex u-gap-md u-alignCenter" do %>
                      <%= render "shared/avatar", user: user, size: 32 %>
                      <b><%= user["user_name"] %></b>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <dl class="EntityList-data Data">
                <dt>Score:</dt>
                <dd><%= user["count"] %></dd>

                <dt>Member since:</dt>
                <dd>
                  <time datetime="<%= formatted_date user["created_at"] %>"><%= formatted_date user["created_at"] %></time>
                </dd>
              </dl>
            </div>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
  <div class="Users-info Rte">
    <p>The score is the sum of all brands and products that a user has either created or edited.</p>
    <p>Only users that created and/or edited a brand or a product are shown here.</p>
  </div>
</div>
