<% content_for :css do %>
  <%= stylesheet_link_tag "statistics" %>
<% end %>

<%= render layout: "users/shared/layout", locals: { user: @user, heading: @heading } do %>
  <div class="UserProfile">

    <div class="UserProfile-content">

      <div class="UserProfile-collection">
        <%= render "shared/overview/section_heading",
            heading: t('headings.collection'),
            heading_class: "UserProfile-heading",
            view_all_path: @user.collection_path %>
        <%= render "shared/collection_preview",
            collection: @collection,
            empty_message: @user.possessions.empty? ? t('empty_state.profile_collection_empty', user_name: h(@user.user_name)) : t('empty_state.profile_collection_no_images', user_name: h(@user.user_name)) %>
      </div>

      <%= render "shared/overview/statistics_section",
          section_class: "UserProfile-statistics",
          heading_class: "UserProfile-heading",
          heading: t('headings.insights'),
          statistics: overview_statistics_for(
            products_count: @current_amount_of_products,
            brands_count: @current_amount_of_brands,
            user: @user
          ) %>

      <%= render "shared/overview/events_section",
          section_class: "UserProfile-events",
          heading_class: "UserProfile-heading",
          heading: t('headings.events'),
          events: @events,
          attendee_counts: @event_attendee_counts,
          empty_message: t('empty_state.no_upcoming_events_profile', user_name: h(@user.user_name), path: dashboard_events_path) %>

    </div>
    
    <div class="UserProfile-feed">
      <%= render "shared/overview/section_heading",
          heading: t('headings.activity'),
          heading_class: "UserProfile-heading" %>
      <%= render "shared/activity_feed/feed", feed_items: @activity_rows, empty_state_message: t('empty_state.no_activity_profile', user_name: h(@user.user_name)) %>
    </div>

  </div>
<% end %>
