<% content_for :css do %>
  <%= stylesheet_link_tag "profile" %>
<% end %>

<% if @user.hidden? %>
  <div class="Profile-hiddenNotice">
    <p class="u-container">
      Your profile is not visible to other users. You can change this in your <%= link_to "account settings", edit_user_registration_path %>.
    </p>
  </div>
<% end %>

<div class="Profile">
  <div class="Profile-header">
    <%= image_tag cdn_image_url(@user.decorative_image.variant(format: :webp)), "aria-hidden": "true", alt: "", class: "Profile-headerImage", width: 1512, height: 314 if @user.decorative_image.attached? %>
  </div>
  <div class="Profile-heading is-dark">
    <div class="u-container">
      <div class="Profile-headingContainer">
        <div class="Profile-avatar">
          <%= render "shared/avatar", user: @user %>
        </div>
        <div class="Profile-headingContent">
          <h1 class="h3"><%= @user.user_name %></h1>
          <dl class="Data Data--inline">
            <dt>Member since</dt>
            <dd>
              <time datetime="<%= formatted_date @user.created_at %>"><%= formatted_date @user.created_at %></time>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="Profile-content u-container">
    <div class="Profile-meta u-pullOut">
      <div class="Profile-dataContainer">
        <dl class="Profile-data Data Data--grid">
          <div>
            <dt><%= t('headings.current_products') %></dt>
            <dd><%= user_possessions_count(@user) %></dd>
          </div>
          <div>
            <dt><%= t('headings.prev_owneds') %></dt>
            <dd><%= user_prev_owneds_count(@user) %></dd>
          </div>
        </dl>
        <dl class="Profile-data Data Data--grid">
        <div>
          <dt>Products created</dt>
          <dd><%= @products_created %></dd>
          </div>
          <div>
          <dt>Products edited</dt>
          <dd><%= @products_edited %></dd>
          </div>
          <div>
          <dt>Brands created</dt>
          <dd><%= @brands_created %></dd>
          </div>
          <div>
          <dt>Brands edited</dt>
          <dd><%= @brands_edited %></dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="Profile-products">
      <div class="Tabs u-pullOut" id="tabs">
        <ul class="Tabs-list">
          <li><%= link_to t('headings.current_products'), @user.profile_path, "aria-current": request.path == @user.profile_path ? "page" : "false" %></li>
          <% @user.setups.each do |setup| %>
            <li><%= link_to setup.name, user_setup_path(user_id: @user.user_name, setup: setup.id), "aria-current": request.path == user_setup_path(user_id: @user.user_name, setup: setup.id) ? "page" : "false" %></li>
          <% end %>
          <% if @user.prev_owneds.any? %>
            <li><%= link_to t('headings.prev_owneds'), user_previous_products_path(user_id: @user.user_name), "aria-current": request.path == user_previous_products_path(user_id: @user.user_name) ? "page" : "false" %></li>
          <% end %>
        </ul>
      </div>
      <%= javascript_tag nonce: true do %>
        {
          const tabs = document.querySelector("#tabs");
          const tabsList = tabs.querySelector(".Tabs-list");
          const activeTab = tabsList.querySelector('[aria-current="page"]');

          if (tabs.clientWidth < tabs.scrollWidth) {
            activeTab.scrollIntoView();

            setScrollHint();

            tabs.addEventListener("scroll", () => {
              requestAnimationFrame(setScrollHint);
            }, { passive: true });
          }

          function setScrollHint() {
            tabs.classList.add("is-scrollable");
            tabs.classList.toggle("at-start", tabs.scrollLeft <= 0);
            tabs.classList.toggle("at-end", tabs.scrollWidth - tabs.clientWidth - tabs.scrollLeft <= 0);
          }
        }
      <% end %>
      <%= render "shared/products", user: @user, categories: @categories, items: @possessions, sub_category: @sub_category, reset_path: @reset_path, empty_state: t('empty_state.public_profile', name: @user.user_name, pull_out: false) %>
    </div>
  </div>
</div>
