<% content_for :css do %>
  <%= stylesheet_link_tag "profile" %>
<% end %>

<div class="Profile">
  <div class="Profile-meta">
    <h1><%= @user.user_name %></h1>
    <dl class="Data">
      <dt>Member since</dt>
      <dd>
        <time datetime="<%= formatted_date @user.created_at %>"><%= formatted_date @user.created_at %></time>
      </dd>
      <dt class="Data-divider"><%= t('headings.current_products') %></dt>
      <dd><%= user_products_count(@user) %></dd>
      <dt><%= t('headings.prev_owneds') %></dt>
      <dd><%= user_prev_owneds_count(@user) %></dd>
      <dt class="Data-divider">Products created</dt>
      <dd><%= @products_created %></dd>
      <dt>Products edited</dt>
      <dd><%= @products_edited %></dd>
      <dt>Brands created</dt>
      <dd><%= @brands_created %></dd>
      <dt>Brands edited</dt>
      <dd><%= @brands_edited %></dd>
    </dl>
  </div>
  <div class="Profile-products">
    <ul class="Tabs">
      <li><%= link_to t('headings.current_products'), user_path(id: @user.user_name), "aria-current": request.path == user_path(id: @user.user_name) ? "page" : "false" %></li>
      <li><%= link_to t('headings.prev_owneds'), user_previous_products_path(user_id: @user.user_name), "aria-current": request.path == user_previous_products_path(user_id: @user.user_name) ? "page" : "false" %></li>
    </ul>
    <%= render "shared/products", user: @user, categories: @categories, products: @products, sub_category: @sub_category, reset_path: @reset_path, empty_state: t('empty_state.public_profile', name: @user.user_name) %>
  </div>
</div>
