<nav aria-label="Filter by letter">
  <ol class="Pagination">
    <li>
      <a href="<%= filter_path %>"<%= ' aria-current="true"'.html_safe unless params[:letter].present? %>>All</a>
    </li>
    <% ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'].each do |letter| %>
      <li>
        <a href="<%= filter_path %>?letter=<%= letter %>"<%= ' aria-current="true"'.html_safe if params[:letter] == letter %>><%= letter %></a>
      </li>
    <% end %>
  </ol>
</nav>
