<% small_button ||= false %>
<% include_lists ||= false %>
<% if bookmark %>
  <%= button_to bookmark_path(bookmark, redirect_to: delete_redirect_to), method: :delete, class: "Button Button--loadingIcon #{ 'Button--sm' if small_button }", "aria-pressed": "true" do %>
    <span class="u-flex u-alignCenter u-gap-sm">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" width="20" height="20"><path stroke-linecap="round" stroke-linejoin="round" d="M17.6 3.32c1.1.13 1.9 1.08 1.9 2.19V21L12 17.25 4.5 21V5.5c0-1.1.8-2.05 1.9-2.18a48.5 48.5 0 0 1 11.2 0Z"/></svg>
      <%= t('symbols.in_your_bookmarks') %>
    </span>
  <% end %>
  <% if include_lists && current_user.bookmark_lists.length > 0 %>
    <%= form_for bookmark, method: :put, html: { class: "EntityPossession-setup", id: "bookmark-list-form" } do |f| %>
      <input type="hidden" name="redirect_to" value="<%= request.path %>">
      <div class="u-flex u-gap-md u-alignCenter">
        <label for="select-bookmark-list">List</label>
        <select name="bookmark_list_id" id="select-bookmark-list">
          <option value="">None</option>
          <% current_user.bookmark_lists.each do |bookmark_list| %>
            <option value="<%= bookmark_list.id %>"<%= " selected" if bookmark.bookmark_list_id == bookmark_list.id %>><%= bookmark_list.name %></option>
          <% end %>
        </select>
      </div>
    <% end %>
  <% end %>
<% else %>
  <%= button_to create_bookmarks_path, class: "Button Button--loadingIcon Button--secondary #{ 'Button--sm' if small_button }", "aria-pressed": "false" do %>
    <span class="u-flex u-alignCenter u-gap-sm">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" width="20" height="20"><path stroke-linecap="round" stroke-linejoin="round" d="M17.6 3.32c1.1.13 1.9 1.08 1.9 2.19V21L12 17.25 4.5 21V5.5c0-1.1.8-2.05 1.9-2.18a48.5 48.5 0 0 1 11.2 0Z"/></svg>
      <%= t('add_to_bookmarks') %>
    </span>
  <% end %>
<% end %>
