<% render_lists ||= false %>
<% bookmark_list ||= nil %>
<% bookmark_lists ||= [] %>
<% delete_button_label ||= nil %>
<% delete_confirm_msg ||= nil %>
<% delete_dialog ||= false %>
<% categories ||= [] %>
<% sub_category ||= nil %>

<%= render layout: "shared/dashboard", locals: { active_dashboard_menu: active_dashboard_menu } do %>
  <div class="Heading">
    <h1><%= heading %></h1>
    <%= render "shared/category_filter", categories: categories, sub_category: sub_category unless render_lists %>
  </div>

  <% if render_lists %>
    <div class="BookmarksLists">
      <h2 class="h4"><%= "Lists" %></h2>
      <% if bookmark_lists.length > 0 %>
        <ol>
          <% bookmark_lists.each do |list| %>
            <li>
              <%= link_to list.name, dashboard_bookmark_list_path(list), "aria-current": request.path == dashboard_bookmark_list_path(list) ? "page" : "false" %>
            </li>
          <% end %>
        </ol>
      <% else %>
        -
      <% end %>

      <%= link_to "Add list", dashboard_new_bookmark_list_path, class: "Button Button--secondary Button--sm" %>
    </div>
    <div class="Heading">
      <h2><%= "All bookmarks" %></h2>
      <%= render "shared/category_filter", categories: categories, sub_category: sub_category %>
    </div>
  <% end %>

  <% if bookmarks.any? %>
    <ol class="EntityList EntityList--products">
      <% bookmarks.each do |bookmark| %>
        <li class="EntityList-item is-<%= bookmark.product.discontinued? ? "discontinued" : "continued" %> Bookmark">
          <%= render layout: "shared/product_item", locals: {
            product: bookmark.product,
            name: bookmark.product.name,
            path: bookmark.product.path,
            brand: bookmark.product.brand,
            model_no: bookmark.product.model_no,
            variant_name: bookmark.product_variant.present? ? bookmark.product_variant.name : nil,
            item_type: bookmark.item_type,
            diy_kit: bookmark.product.diy_kit?,
            sub_category_names: bookmark.product.sub_category_names,
            custom_attributes: bookmark.product.custom_attributes
          } do %>
            <div class="Bookmark-footer u-flex u-gap-lg u-spaceBetween u-alignCenter">
              <small class="c-secondary"><%= Product.model_name.human(count: 1) %></small>

              <ul class="MetaLinks">
                <li>
                  <% if delete_dialog %>
                    <%= render "shared/remove_bookmark_from_bookmark_list", possession: bookmark, id: bookmark.id %>
                  <% else %>
                    <%= button_to bookmark_path(id: bookmark.id, redirect: dashboard_bookmarks_path), method: :delete, class: "DeleteButton", "data-msg": bookmark.delete_confirm_msg do %>
                      <small><%= bookmark.delete_button_label %></small>
                    <% end %>
                  <% end %>
                </li>
              </ul>
            </div>
          <% end %>
        </li>
      <% end %>
    </ol>
  <% else %>
    <%= render "shared/empty_state", message: t('empty_state.bookmarks') %>
  <% end %>

  <% if bookmark_list %>
    <div class="PageActions">
      <div class="PageAction">
        <button type="button" data-dialog="add-products" class="Button">
          Add / remove bookmarks
        </button>
        <dialog class="AddEntityDialog" id="add-products">
          <%= form_for bookmark_list, method: :put do |f| %>
            <input type="hidden" name="bookmark_list[bookmark_ids][]">
            <h2>Add bookmarks <small>to <%= bookmark_list.name %></small></h2>
            <div class="AddEntityDialog-list">
              <% all_bookmarks.each do |presenter| %>
                <div class="AddEntityDialog-option">
                  <%= check_box_tag "bookmark_list[bookmark_ids][]", presenter.id, { id: "bookmark_list_bookmark_ids_#{presenter.id}", checked: bookmark_list.bookmark_ids.include?(presenter.id) } %>
                  <%= f.label :bookmark_ids, value: presenter.id do %>
                    <span>
                      <%= presenter.display_name %>
                      <% if presenter.bookmark_list %>
                        <small>
                          <%= presenter.bookmark_list.name %>
                        </small>
                      <% end %>
                    </span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" class="AddEntityDialog-checkmark"><path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.8 6 6 9-13.6"/></svg>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="Form-submit">
              <div class="u-flex u-spaceBetween">
                <%= f.button "Save", type: "submit", class: "Button" %>
                <button formmethod="dialog">Close</button>
              </div>
            </div>
          <% end %>
        </dialog>
      </div>
      <div class="PageAction u-flex u-gap-md">
        <%= button_to t('bookmark_list.delete.label'),
          bookmark_list_path(id: bookmark_list.id),
          method: :delete,
          class: "DeleteButton Button Button--negative",
          "data-msg": t('bookmark_list.delete.confirm', name: bookmark_list.name)
        %>
        <%= link_to t('bookmark_list.update.label'),
          dashboard_edit_bookmark_list_path(id: bookmark_list.id),
          class: "Button Button--secondary"
        %>
      </div>
    </div>
  <% end %>
<% end %>
