<% mark ||= nil %>

<table-saw class="u-pullOut" text-align breakpoint="(max-width: 40rem)" type="container">
  <table>
    <thead>
      <tr>
        <th><%= Brand.human_attribute_name(:name) %></th>
        <th><%= Category.model_name.human(count: 2) %></th>
        <th class="Table-products u-alignCenter"><%= Product.model_name.human(count: 2) %></th>
        <th>Country</th>
        <% if user_signed_in? %>
          <th class="Table-symbols">
            <span class="u-hiddenVisually">Status</span>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% brands.each do |brand| %>
        <tr<% if brand.discontinued? %> class="is-discontinued"<% end %>>
          <th scope="row"><b><%= link_to (mark ? highlight(brand.name, mark) : brand.name), brand_path(id: brand.friendly_id) %></b></th>
          <td>
            <%= brand.categories.any? ? brand.categories.map{ |category| category.name }.join(", ").html_safe : "-" %>
          </td>
          <td class="Table-products"><%= brand.products_count.nil? ? "0" : brand.products_count %></td>
          <td>
            <%= brand.country_name.present? ? brand.country_name : "-" %>
          </td>
          <% if user_signed_in? %>
            <td class="Table-symbols">
              <%= render "shared/symbols", brand: brand %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</table-saw>
