<% mark ||= nil %>

<table-saw text-align>
  <table>
    <thead>
      <tr>
        <th class="Table-name"><%= t('name') %></th>
        <th><%= t('headings.categories').html_safe %></th>
        <th class="u-alignCenter"><%= t('headings.products') %></th>
        <th>Country</th>
        <th class="Table-symbols"></th>
      </tr>
    </thead>
    <tbody>
      <% brands.each do |brand| %>
        <tr<% if user_has_brand?(current_user, brand) %> class="is-positive"<% end %>>
          <th scope="row"><%= link_to (mark ? highlight(brand.name, mark) : brand.name), brand_path(id: brand.friendly_id) %></th>
          <td>
            <%= brand.categories.any? ? brand.categories.map{ |category| category.name }.join(", ").html_safe : "-" %>
          </td>
          <td class="u-alignCenter"><%= brand.products_count %></td>
          <td>
            <%= brand.country_name.present? ? brand.country_name : "-" %>
          </td>
          <td>
            <%= render "shared/symbols", brand: brand %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</table-saw>
