<% mark ||= nil %>

<ol class="EntityList EntityList--brands">
  <% brands.each do |brand| %>
    <li class="EntityList-item<% if brand.discontinued? %> is-discontinued <% elsif brand.continued? %> is-continued<% end %>">
        <div class="EntityList-name">
          <div class="u-flex u-gap-sm u-spaceBetween u-alignCenter">
            <div>
              <%= link_to (mark ? highlight(brand.name, mark) : brand.name), brand_path(id: brand.friendly_id) %>
              <% if brand.full_name.present? %>
                <span class="EntityList-modelName">
                  <%= brand.full_name %>
                </span>
              <% end %>
            </div>
            <%= render "shared/symbols", item: brand, type: 'Brand' %>
          </div>
        </div>

        <% if brand.categories.any? %>
          <ul class="EntityList-tags">
            <% brand.categories.each do |category| %>
            <li class="Tag"><%= category.name %></li>
            <% end %>
          </ul>
        <% end %>

        <div class="u-flex u-spaceBetween u-gap-lg">
          <div class="EntityList-productsCount">
            <% count = product_counts.present? ? (product_counts[brand.id] || 0) : (brand.products_count.present? ? brand.products_count : 0) %>
            <%= link_to "#{count} #{t('activerecord.models.product', count: count)}", brand_products_path_with_filter(brand, category, sub_category, params.permit(products: {})) %>
          </div>

          <% if brand.country_name.present? %>
            <div class="EntityList-country">
              <%= brand.country_name %>
              <img class="Flag" src="/flags/<%= brand.country_code.downcase %>.svg" alt="Flag of <%= brand.country_name %>" title="<%= brand.country_name %>" loading="lazy" width="25">
            </div>
          <% end %>
        </div>

    </li>
  <% end %>
</ol>
