<% mark ||= nil %>

<table-saw class="u-pullOut" text-align breakpoint="(max-width: 40rem)" type="container">
  <table>
    <thead>
      <tr>
        <th><%= Brand.human_attribute_name(:name) %></th>
        <th><%= Category.model_name.human(count: 2) %></th>
        <th class="Table-products u-alignCenter"><%= Product.model_name.human(count: 2) %></th>
        <th>Country</th>
        <th class="Table-symbols">Status</th>
      </tr>
    </thead>
    <tbody>
      <% brands.each do |brand| %>
        <tr<% if user_has_brand?(current_user, brand) %> class="has-item"<% end %>>
          <th scope="row"><b><%= link_to (mark ? highlight(brand.name, mark) : brand.name), brand_path(id: brand.friendly_id) %></b></th>
          <td>
            <%= brand.categories.any? ? brand.categories.map{ |category| category.name }.join(", ").html_safe : "-" %>
          </td>
          <td class="Table-products"><%= brand.products_count.nil? ? "0" : brand.products_count %></td>
          <td>
            <%= brand.country_name.present? ? brand.country_name : "-" %>
          </td>
          <td class="Table-symbols">
            <%= render "shared/symbols", brand: brand, only: [:discontinued, :has_brand] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</table-saw>
