<% content_for :css do %>
  <%= stylesheet_link_tag "changelog" %>
<% end %>

<h1><%= t('headings.changelog') %> <span><%= model.name %></span></h1>

<% if model.versions.any? %>
  <ol reversed class="Changelog">
    <% model.versions.reverse.each_with_index do |version, i| %>
      <% user = version.whodunnit.present? ? User.find(version.whodunnit) : nil %>
      <li class="Changelog-item">
        <p>
            <b>
            <% if version.event == "create" %>
              <b>Created</b>
            <% else %>
              <%= t('changelog.change', number: model.versions.size - i - 1) %>
            <% end %>
            </b>
            <%= t('changelog.by') %>
            <% if user %>
              <%= user.profile_visibility === "hidden" ? user.user_name : link_to(user.user_name, user_path(user.user_name)) %>
            <% else %>
              hifilog.com
            <% end %>
            &mdash;
            <time data-time="true" datetime="<%= formatted_datetime version.created_at %>"><%= formatted_datetime version.created_at %></time>
        </p>
        <table-saw>
          <table class="Changelog-data">
            <thead>
              <tr>
                <th><%= t('changelog.attribute') %></th>
                <th><%= t('changelog.before') %></th>
                <th><%= t('changelog.after') %></th>
              </tr>
            </thead>
            <tbody>
            <% changelog(version.object_changes).each do |change| %>
              <tr>
                <td><%= t('brand.' + change[0]) %></td>
                <td>
                  <span class="Changelog-old"><%= change[1][0] %></span>
                </td>
                <td>
                  <span class="Changelog-new"><%= change[1][1] %></span>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </table-saw>
      </li>
    <% end %>
  </ol>
<% else %>
  <p>No changelog entries so far.</p>
<% end %>

<%= render "shared/back_link", path: back_path %>
