<%
  def convert(unit)
    case unit
    when 'kg' then
      multi = 1 / 0.454
      other_unit = 'lb'
    when 'lb' then
      multi = 0.454
      other_unit = 'kg'
    when 'cm' then
      multi = 1 / 2.54
      other_unit = 'in'
    when 'in' then
      multi = 1 * 2.54
      other_unit = 'cm'
    end

    [multi, other_unit]
  end
%>
<% content_for :css do %>
  <%= stylesheet_link_tag "changelog", crossorigin: true, integrity: true %>
<% end %>

<h1><%= t('headings.changelog') %> <span><%= model.name %></span></h1>
<% if versions.any? %>
<ol reversed class="Changelog">
    <% versions.reverse.each_with_index do |version, i| %>
      <%
        if version.whodunnit.nil?
          user_fallback = "hifilog.com"
        else
          if User.find_by(id: version.whodunnit).nil?
            user_fallback = "<i>Deleted</i>"
          else
            user = User.find(version.whodunnit)
          end
        end
      %>
      <li class="Changelog-item">
        <p class="Changelog-itemHeading">
          <b>
          <% if version.event == "create" %>
            <b><%= t('headings.created') %></b>
          <% else %>
            <%= t('changelog.change') %>
          <% end %>
          </b>
          <%= t('changelog.by') %>
          <% if user %>
            <%= user.profile_visibility === "hidden" ? user.user_name : link_to(user.user_name, user.profile_path) %>
          <% else %>
            <%= user_fallback.html_safe %>
          <% end %>
          &mdash;
          <time datetime="<%= format_iso_datetime version.created_at %>"><%= format_datetime(version.created_at).html_safe %></time>
        </p>

          <% changelog = get_changelog(version.object_changes) %>
          <ul>
            <% changelog.each do |change| %>
              <% unless change[0] == "slug" %>
                <li>
                    <b><%= t('brand.' + change[0]) %></b>
                    <dl>
                          <dt><%= t('changelog.before') %></dt>
                          <dd class="Changelog-old">
                            <% if change[0] == "custom_attributes" %>
                              <% if change[1][0].present? %>
                                <ul>
                                  <% JSON.parse(change[1][0]).sort.each do |ca| %>
                                    <% active_record = CustomAttribute.find_by(label: ca[0]) %>
                                    <% if active_record.present? %>
                                      <li>
                                        <b><%= t("custom_attribute_labels.#{ca[0]}") %>:</b><br>
                                        <% if ca[1].is_a?(Hash) %>
                                          <% unit = ca[1]['unit'].present? ? ca[1]['unit'] : active_record.units.first %>
                                          <% translated_unit = t("custom_attribute_units.#{unit}").html_safe if unit.present? %>
                                          <% if ca[1]['value'].is_a?(Hash) %>
                                            <% ca[1]['value'].each do |v| %>
                                              <%= t("custom_attribute_inputs.#{v[0]}") %>: <%= number_with_precision(v[1], precision: 4, strip_insignificant_zeros: true) %> <%= translated_unit %>
                                              <% if active_record.units.size == 2 %>
                                                <% multi, other_unit = convert(unit) %>
                                                / <%= number_with_precision(v[1] * multi, precision: 4, strip_insignificant_zeros: true) %> <%= other_unit %>
                                              <% end %>
                                              <br>
                                            <% end %>
                                          <% elsif ca[1]['value'].present? %>
                                            <%= number_with_precision(ca[1]['value'], precision: 4, strip_insignificant_zeros: true) %> <%= translated_unit %>
                                            <% if active_record.units.size == 2 %>
                                              <% multi, other_unit = convert(unit) %>
                                              <% if other_unit %>
                                                / <%= number_with_precision(ca[1]['value'] * multi, precision: 4, strip_insignificant_zeros: true) %> <%= other_unit %>
                                              <% end %>
                                            <% end %>
                                          <% else %>
                                            n/a
                                          <% end %>
                                        <% elsif ca[1].is_a?(Array) %>
                                          <%= ca[1].map { |id| t("custom_attributes.#{active_record.options[id.to_s]}") }.join(", ") %>
                                        <% else %>
                                          <% if active_record[:input_type] == 'boolean' %>
                                            <%= t("custom_attributes.#{ca[1] ? 'yes' : 'no'}") %>
                                          <% else %>
                                            <%= t("custom_attributes.#{active_record.options[ca[1].to_s]}") %>
                                          <% end %>
                                        <% end %>
                                      </li>
                                    <% end %>
                                  <% end unless change[1][0].nil? %>
                                </ul>
                              <% else %>
                                -
                              <% end %>
                            <% elsif change[0] == "brand_id" && change[1][0].present? %>
                              <%= Brand.find(change[1][0]).name %>
                            <% elsif change[0] == "country_code" && change[1][0].present? %>
                              <%= country_name_from_country_code(change[1][0]) %>
                            <% elsif !change[1][0].nil? %>
                              <% if change[1][0] == false %>
                                No
                              <% elsif change[1][0] == true %>
                                Yes
                              <% else %>
                                <%= change[1][0] %>
                              <% end %>
                            <% else %>
                              -
                            <% end %>
                          </dd>

                          <dt><%= t('changelog.after') %></dt>
                          <dd class="Changelog-new">
                            <% if change[0] == "custom_attributes" %>
                              <% if change[1][1].present? %>
                                <ul>
                                  <% JSON.parse(change[1][1]).sort.each do |ca| %>
                                    <% active_record = CustomAttribute.find_by(label: ca[0]) %>
                                    <% if active_record.present? %>
                                    <li>
                                        <b><%= t("custom_attribute_labels.#{ca[0]}") %>:</b><br>
                                        <% if ca[1].is_a?(Hash) %>
                                          <% unit = ca[1]['unit'].present? ? ca[1]['unit'] : active_record.units.first %>
                                          <% translated_unit = t("custom_attribute_units.#{unit}").html_safe if unit.present? %>
                                          <% if ca[1]['value'].is_a?(Hash) %>
                                            <% ca[1]['value'].each do |v| %>
                                              <%= t("custom_attribute_inputs.#{v[0]}") %>: <%= number_with_precision(v[1], precision: 4, strip_insignificant_zeros: true) %> <%= translated_unit %>
                                              <% if active_record.units.size == 2 %>
                                                <% multi, other_unit = convert(unit) %>
                                                / <%= number_with_precision(v[1] * multi, precision: 4, strip_insignificant_zeros: true) %> <%= other_unit %>
                                              <% end %>
                                              <br>
                                            <% end %>
                                          <% elsif ca[1]['value'].present? %>
                                            <%= number_with_precision(ca[1]['value'], precision: 4, strip_insignificant_zeros: true) %> <%= translated_unit %>
                                            <% if active_record.units.size == 2 %>
                                              <% multi, other_unit = convert(unit) %>
                                              <% if other_unit %>
                                                / <%= number_with_precision(ca[1]['value'] * multi, precision: 4, strip_insignificant_zeros: true) %> <%= other_unit %>
                                              <% end %>
                                            <% end %>
                                          <% else %>
                                            n/a
                                          <% end %>
                                        <% elsif ca[1].is_a?(Array) %>
                                          <%= ca[1].map { |id| t("custom_attributes.#{active_record.options[id.to_s]}") }.join(", ") %>
                                        <% else %>
                                          <% if active_record[:input_type] == 'boolean' %>
                                            <%= t("custom_attributes.#{ca[1] ? 'yes' : 'no'}") %>
                                          <% else %>
                                            <%= t("custom_attributes.#{active_record.options[ca[1].to_s]}") %>
                                          <% end %>
                                        <% end %>
                                      </li>
                                    <% end %>
                                  <% end unless change[1][1].nil? %>
                                </ul>
                              <% else %>
                                -
                              <% end %>
                            <% elsif change[0] == "brand_id" && change[1][1].present? %>
                              <%= Brand.find(change[1][1]).name %>
                            <% elsif change[0] == "country_code" && change[1][1].present? %>
                              <%= country_name_from_country_code(change[1][1]) %>
                            <% elsif !change[1][1].nil? %>
                              <% if change[1][1] == false %>
                                No
                              <% elsif change[1][1] == true %>
                                Yes
                              <% else %>
                                <%= change[1][1] %>
                              <% end %>
                            <% else %>
                              -
                            <% end %>
                          </dd>

                    </dl>
                </li>
              <% end %>
            <% end %>
          </ul>

        <% if version.comment.present? %>
          <div class="Changelog-itemComment Rte">
            <p><b><%= t('changelog.comment') %>:</b></p>
            <%= sanitize(simple_format(version.comment.strip), tags: %w(p b i strong em br ul ol li)) %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ol>
<% else %>
  <p>No changelog entries so far.</p>
<% end %>

<%= render "shared/back_link", path: back_path %>
