<% content_for :css do %>
  <%= stylesheet_link_tag "dashboard", crossorigin: true, integrity: true %>
<% end %>
<div class="Dashboard">
  <div class="Dashboard-menu">
    <nav aria-label="<%= t('headings.dashboard') %>">
      <div class="Dashboard-userName<%= " Dashboard-userName--sm" if current_user.user_name.size > 10 %> u-flex u-alignCenter u-gap-md">
        <%= render "shared/avatar", user: current_user, size: 48 %>
        <span><%= current_user.user_name %></span>
      </div>
      <ul class="Sidebar-menu">
        <li>
          <a class="Sidebar-link" href="<%= dashboard_root_path %>"<%= active_menu_state(active_dashboard_menu, :dashboard) %>>
            Dashboard
          </a>
        </li>
        <li>
          <a class="Sidebar-link" href="<%= dashboard_statistics_root_path %>"<%= active_menu_state(active_dashboard_menu, :statistics) %>>
            <%= t('headings.statistics') %>
          </a>
        </li>
        <li>
          <a class="Sidebar-link" href="<%= dashboard_history_path %>"<%= active_menu_state(active_dashboard_menu, :history) %>>
            <%= t('headings.history') %>
          </a>
        </li>
        <li class="Sidebar-separator">
          <span>
            <a class="Sidebar-link" href="<%= dashboard_products_path %>"<%= active_menu_state(active_dashboard_menu, :products) %>>
              <%= t('headings.collection') %>
            </a>
            <small data-user-count="products"></small>
          </span>
        </li>
        <li>
          <span>
            <a class="Sidebar-link" href="<%= dashboard_custom_products_path %>"<%= active_menu_state(active_dashboard_menu, :custom_products) %>>
              <%= CustomProduct.model_name.human(count: 2) %>
            </a>
            <small data-user-count="custom_products"></small>
          </span>
        </li>
        <li>
          <span>
            <a class="Sidebar-link" href="<%= dashboard_prev_owneds_path %>"<%= active_menu_state(active_dashboard_menu, :prev_owneds) %>>
              <%= t('headings.prev_owneds') %>
            </a>
            <small data-user-count="previous_products"></small>
          </span>
        </li>
        <li>
          <span>
            <a class="Sidebar-link" href="<%= dashboard_setups_path %>"<%= active_menu_state(active_dashboard_menu, :setups) %>>
              <%= Setup.model_name.human(count: 2) %>
            </a>
            <small data-user-count="setups"></small>
          </span>
        </li>
        <li>
          <span>
            <a class="Sidebar-link" href="<%= dashboard_bookmarks_path %>"<%= active_menu_state(active_dashboard_menu, :bookmarks) %>>
              <%= Bookmark.model_name.human(count: 2) %>
            </a>
            <small data-user-count="bookmarks"></small>
          </span>
          <% if current_user.bookmark_lists.any? %>
            <ul>
              <% current_user.bookmark_lists.each do |list| %>
                <li>
                  <%= link_to list.name, dashboard_bookmark_list_path(list), "aria-current": @active_dashboard_menu == "bookmark_list_#{list.id}" ? "page" : "false", class: "Sidebar-link" %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </li>
        <li>
          <span>
            <a class="Sidebar-link" href="<%= dashboard_notes_path %>"<%= active_menu_state(active_dashboard_menu, :notes) %>>
              <%= Note.model_name.human(count: 2) %>
            </a>
            <small data-user-count="notes"></small>
          </span>
        </li>
        <li>
          <span>
            <a class="Sidebar-link" href="<%= dashboard_events_path %>"<%= active_menu_state(active_dashboard_menu, :events) %>>
              <%= Event.model_name.human(count: 2) %>
            </a>
            <small data-user-count="events"></small>
          </span>
        </li>
        <li class="Sidebar-separator">
          <a class="Sidebar-link" href="<%= current_user.profile_path %>"<%= active_menu_state(active_dashboard_menu, :profile) %>>
            <%= t('headings.profile') %>
          </a>
        </li>
        <li>
          <a class="Sidebar-link" href="<%= dashboard_contributions_path %>"<%= active_menu_state(active_dashboard_menu, :contributions) %>><%= t('headings.contributions') %></a>
        </li>
        <li>
          <a class="Sidebar-link" href="<%= edit_user_registration_path %>"<%= active_menu_state(active_dashboard_menu, :account) %>><%= t('headings.account') %></a>
        </li>
        <li>
          <%= button_to t('user_form.logout'), destroy_user_session_path, method: :delete, class: "Sidebar-link"  %>
        </li>
      </ul>
    </nav>
  </div>

  <div class="Dashboard-products">
    <%= yield %>
  </div>
</div>
