<% content_for :css do %>
  <%= stylesheet_link_tag "dashboard" %>
<% end %>
<div class="Dashboard">
  <nav class="Dashboard-menu" aria-label="<%= t('headings.dashboard') %>">
    <div class="Dashboard-userName h3"><%= current_user.user_name %></div>
    <ul class="Dashboard-links">
      <li>
        <a class="Dashboard-link" href="<%= dashboard_root_path %>"<%= active_dashboard_menu_state(@active_dashboard_menu, :dashboard) %>>
          Dashboard
        </a>
      </li>
      <li>
        <a class="Dashboard-link" href="<%= current_user.profile_path %>"<%= active_dashboard_menu_state(@active_dashboard_menu, :profile) %>>
          <%= t('profile') %>
        </a>
      </li>
      <li class="Dashboard-separator">
        <a class="Dashboard-link" href="<%= dashboard_products_path %>"<%= active_dashboard_menu_state(@active_dashboard_menu, :products) %>>
          <%= t('headings.collection') %>
        </a>
        <small><%= user_possessions_count(current_user) %></small>
      </li>
      <li>
        <a class="Dashboard-link" href="<%= dashboard_bookmarks_path %>"<%= active_dashboard_menu_state(@active_dashboard_menu, :bookmarks) %>>
          <%= t('headings.bookmarks') %>
        </a>
        <small><%= user_bookmarks_count(current_user) %></small>
      </li>
      <li>
        <a class="Dashboard-link" href="<%= dashboard_setups_path %>"<%= active_dashboard_menu_state(@active_dashboard_menu, :setups) %>>
          <%= t('headings.setups') %>
        </a>
        <small><%= user_setups_count(current_user) %></small>
      </li>
      <li>
        <a class="Dashboard-link" href="<%= dashboard_custom_products_path %>"<%= active_dashboard_menu_state(@active_dashboard_menu, :custom_products) %>>
          <%= t('headings.custom_products') %>
        </a>
        <small><%= user_custom_products_count(current_user) %></small>
      </li>
      <li>
        <a class="Dashboard-link" href="<%= dashboard_prev_owneds_path %>"<%= active_dashboard_menu_state(@active_dashboard_menu, :prev_owneds) %>>
          <%= t('headings.prev_owneds') %>
        </a>
        <small><%= user_prev_owneds_count(current_user) %></small>
      </li>
      <li>
        <a class="Dashboard-link" href="<%= dashboard_notes_path %>"<%= active_dashboard_menu_state(@active_dashboard_menu, :notes) %>>
          <%= t('headings.notes') %>
        </a>
        <small><%= user_notes_count(current_user) %></small>
      </li>
      <li class="Dashboard-separator">
        <a class="Dashboard-link" href="<%= dashboard_contributions_path %>"<%= active_dashboard_menu_state(@active_dashboard_menu, :contributions) %>><%= t('headings.contributions') %></a>
      </li>
      <li>
        <a class="Dashboard-link" href="<%= edit_user_registration_path %>"<%= active_dashboard_menu_state(@active_dashboard_menu, :account) %>><%= t('account') %></a>
      </li>
      <li>
        <%= button_to t('user_form.logout'), destroy_user_session_path, method: :delete, class: "Dashboard-link"  %>
      </li>
    </ul>
  </nav>

  <div class="Dashboard-products">
    <%= yield %>
  </div>
</div>
