<% content_for :css do %>
  <%= stylesheet_link_tag "dashboard" %>
<% end %>
<div class="Dashboard">
  <div class="Dashboard-menu">
    <nav aria-label="<%= t('headings.dashboard') %>">
      <a href="<%= current_user.profile_path %>" class="Dashboard-userName<%= " Dashboard-userName--sm" if current_user.user_name.size > 10 %> u-flex u-alignCenter u-gap-md">
        <%= render "shared/avatar", user: current_user, size: 48 %>
        <div class="Dashboard-userNameContent">
          <span class="Dashboard-userNameText"><%= current_user.user_name %></span>
          <span class="Dashboard-userNameLink"><%= t('headings.profile') %></span>
        </div>
      </a>

      <ul class="Sidebar-menu">
        <li>
          <a class="Sidebar-link u-flex u-alignCenter u-gap-sm" href="<%= dashboard_root_path %>"<%= active_menu_state(active_dashboard_menu, :dashboard) %>>
            <%= render "shared/dashboard_nav_icon", icon: :home %>
            <b><%= t('headings.home') %></b>
          </a>
        </li>

        <li>
          <a class="Sidebar-link u-flex u-alignCenter u-gap-sm" href="<%= dashboard_feed_path %>"<%= active_menu_state(active_dashboard_menu, :feed) %>>
            <%= render "shared/dashboard_nav_icon", icon: :feed %>
            <b><%= t('headings.feed') %></b>
          </a>
        </li>

        <li>
          <div class="u-flex u-alignCenter u-gap-sm">
            <%= render "shared/dashboard_nav_icon", icon: :gear %>
            <b><%= t('headings.collection') %></b>
          </div>

          <ul>
            <li>
              <a class="Sidebar-link" href="<%= dashboard_products_path %>"<%= active_menu_state(active_dashboard_menu, :products) %>>
                <%= t('headings.current_products') %>
              </a>
              <span data-user-count="products"></span>
            </li>
            <li>
              <a class="Sidebar-link" href="<%= dashboard_prev_owneds_path %>"<%= active_menu_state(active_dashboard_menu, :prev_owneds) %>>
                <%= t('headings.prev_owneds') %>
              </a>
              <span data-user-count="previous_products"></span>
            </li>
            <li>
              <a class="Sidebar-link" href="<%= dashboard_custom_products_path %>"<%= active_menu_state(active_dashboard_menu, :custom_products) %>>
                <%= t('headings.custom_products') %>
              </a>
              <span data-user-count="custom_products"></span>
            </li>
            <li>
              <a class="Sidebar-link" href="<%= dashboard_setups_path %>"<%= active_menu_state(active_dashboard_menu, :setups) %>>
                <%= t('headings.setups') %>
              </a>
              <span data-user-count="setups"></span>
            </li>
            <li>
              <a class="Sidebar-link" href="<%= dashboard_history_path %>"<%= active_menu_state(active_dashboard_menu, :history) %>>
                <%= t('headings.history') %>
              </a>
            </li>
            <li>
              <a class="Sidebar-link" href="<%= dashboard_statistics_root_path %>"<%= active_menu_state(active_dashboard_menu, :statistics) %>>
                <%= t('headings.insights') %>
              </a>
            </li>
          </ul>
        </li>

        <li>
          <div class="u-flex u-alignCenter u-gap-sm">
            <a class="Sidebar-link u-flex u-alignCenter u-gap-sm" href="<%= dashboard_events_path %>"<%= active_menu_state(active_dashboard_menu, :events) %>>
              <%= render "shared/dashboard_nav_icon", icon: :events %>
              <b><%= t('headings.events') %></b>
            </a>
            <span data-user-count="events"></span>
          </div>
        </li>

        <li>
          <div class="u-flex u-alignCenter u-gap-sm">
            <a class="Sidebar-link u-flex u-alignCenter u-gap-sm" href="<%= dashboard_notes_path %>"<%= active_menu_state(active_dashboard_menu, :notes) %>>
              <%= render "shared/dashboard_nav_icon", icon: :notes %>
              <b><%= Note.model_name.human.pluralize %></b>
            </a>
            <span data-user-count="notes"></span>
          </div>
        </li>

        <li>
          <div class="u-flex u-alignCenter u-gap-sm">
            <a class="Sidebar-link u-flex u-alignCenter u-gap-sm" href="<%= dashboard_bookmarks_path %>"<%= active_menu_state(active_dashboard_menu, :bookmarks) %>>
              <%= render "shared/dashboard_nav_icon", icon: :bookmarks %>
              <b><%= Bookmark.model_name.human.pluralize %></b>
            </a>
            <span data-user-count="bookmarks"></span>
          </div>
        </li>

        <li>
          <a class="Sidebar-link u-flex u-alignCenter u-gap-sm" href="<%= dashboard_following_path %>"<%= active_menu_state(active_dashboard_menu, :community) %>>
            <%= render "shared/dashboard_nav_icon", icon: :community %>
            <b><%= t('headings.my_community') %></b>
          </a>
        </li>

        <li>
          <div class="u-flex u-alignCenter u-gap-sm">
            <%= render "shared/dashboard_nav_icon", icon: :settings %>
            <b><%= t('headings.settings') %></b>
          </div>

          <ul>
            <li>
              <a class="Sidebar-link" href="<%= dashboard_profile_settings_path %>"<%= active_menu_state(active_dashboard_menu, :profile) %>>
                <%= t('headings.profile') %>
              </a>
            </li>
            <li>
              <a class="Sidebar-link" href="<%= dashboard_notification_settings_path %>"<%= active_menu_state(active_dashboard_menu, :notifications) %>>
                <%= t('headings.notifications') %>
              </a>
            </li>
            <li>
              <a class="Sidebar-link" href="<%= dashboard_blocked_path %>"<%= active_menu_state(active_dashboard_menu, :blocked) %>>
                <%= t('headings.blocked') %>
              </a>
            </li>
            <li>
              <a class="Sidebar-link" href="<%= edit_user_registration_path %>"<%= active_menu_state(active_dashboard_menu, :account) %>>
                <%= t('headings.account') %>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>

  <div class="Dashboard-products">
    <%= yield %>
  </div>
</div>
