<%
  actions ||= nil
  is_current ||= false
%>

<div class="EntityListItem EntityListItem--<%= item_type.parameterize %> <%= item_type %> <%= is_discontinued ? "is-discontinued" : "is-continued" unless is_discontinued.nil? %>" id="<%= "#{item_type.parameterize}-#{item.id}" %>"<%= " aria-current=true" if is_current %>>
  <div class="EntityListItem-wrapper">
    <div class="EntityListItem-header u-status">
      <div class="EntityListItem-main">
        <%= main %>
      </div>
      <%= render "shared/symbols", item:, type: item_type %>
    </div>

    <%= content %>
  </div>

  <% if actions.present? %>
    <div class="EntityListItem-footer">
      <%= actions %>
    </div>
  <% end %>
</div>
