<% content_for :css do %>
  <%= stylesheet_link_tag "tabs" %>
  <%= stylesheet_link_tag "events" %>
<% end %>

<div class="Events">
  <%= yield :header %>

  <% i = 1 %>
  <% if years.any? %>
    <div class="Events-years">
      <% years.each do |year| %>
        <div class="Events-year">
          <h2><%= year[0] %></h2>
          <div class="Events-months">
          <% year[1].each do |month| %>
            <div class="Events-month">
              <h3><%= Date::MONTHNAMES[month[0]] %></h3>
              <ol class="Events-list EntityList EntityList--events" start="<%= i %>">
                <% month[1].each do |event| %>
                  <% i += 1 %>
                  <li class="EntityList-item">
                    <%= render "shared/event_item", event: event, attendee_counts: @event_attendee_counts %>
                  </li>
                <% end %>
              </ol>
            </div>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= render "shared/empty_state", message: "<p>#{empty_state_message}</p>" %>
  <% end %>
</div>
