<% date_format ||= :short %>
<% footer = local_assigns[:footer] %>
<% attendee_counts = local_assigns[:attendee_counts] %>
<% attendee_count = attendee_counts ? (attendee_counts[event.id] || 0) : event.event_attendees.size %>
<% main = capture do %>
  <span class="Event-days">
    <% if date_format == :full %>
      <%= humanize_date_range(event.start_date, event.end_date) %>
    <% else %>
      <time datetime="<%= event.start_date %>">
        <%= event.start_date.strftime("%A") %> <%= event.start_date.strftime("%-d").to_i.ordinalize %>
      </time>
      <% if event.end_date.present? %> –
        <time datetime="<%= event.end_date %>">
          <%= event.end_date.strftime("%A") %> <%= event.end_date.strftime("%-d").to_i.ordinalize %>
        </time>
      <% end %>
    <% end %>
  </span>
  <%= link_to event.name, event_path(year: event.calendar_year, slug: event.friendly_id), class: "EntityListItem-name" %>
<% end %>

<% content = capture do %>
  <div class="u-flex u-spaceBetween u-gap-lg u-mt-auto">
    <% if event.country_code.present? %>
      <div class="EntityList-country u-flex u-gap-smd u-alignCenter">
        <% country_name = country_name_from_country_code(event.country_code) %>
        <img class="Flag" src="/flags/<%= event.country_code.downcase %>.svg" alt="Flag of <%= country_name %>" title="<%= country_name %>" loading="lazy" width="25">
        <%= country_name %>
      </div>
    <% end %>

    <div class="EntityList-productsCount">
      <%= "#{attendee_count} #{t('activerecord.models.event_attendee', count: attendee_count)}" %>
    </div>
  </div>
<% end %>

<% if footer.present? %>
  <% actions = capture do %>
    <%= footer %>
  <% end %>
<% else %>
  <% actions = nil %>
<% end %>

<%= render "shared/entity_list_item",
  is_discontinued: event.discontinued?,
  item: event,
  item_type: 'Event',
  main:,
  content:,
  actions:,
  name: event.name
%>
