<% after_destroy_redirect ||= nil %>
<% after_create_redirect ||= nil %>

<% content_for :css do %>
  <%= stylesheet_link_tag "tabs", crossorigin: true, integrity: true %>
  <%= stylesheet_link_tag "events", crossorigin: true, integrity: true %>
<% end %>

<div class="Events">
  <%= yield :header %>

  <% i = 1 %>
  <% if @years.any? %>
    <div class="Events-years">
      <% @years.each do |year| %>
        <div class="Events-year">
          <h2><%= year[0] %></h2>
          <div class="Events-months">
          <% year[1].each do |month| %>
            <div class="Events-month">
              <h3><%= Date::MONTHNAMES[month[0]] %></h3>
              <ol class="Events-list EntityList EntityList--events" start="<%= i %>">
                <% month[1].each do |event| %>
                  <% i += 1 %>
                  <li class="EntityList-item">
                    <%= render layout: "shared/event_item", locals: {
                      event: event,
                      after_create_redirect: after_create_redirect,
                      after_destroy_redirect: after_destroy_redirect
                    } do
                    %>
                      <% bookmark = Bookmark.find_by(item_id: event.id, item_type: 'Event') %>
                      <%= render "shared/bookmark_button",
                        bookmark: bookmark,
                        delete_redirect_to: events_path,
                        create_bookmarks_path: bookmarks_path(event_id: event.id, anchor: "event-#{event.id}"),
                        small_button: true
                      %>
                    <% end %>
                  </li>
                <% end %>
              </ol>
            </div>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= render "shared/empty_state", message: "<p>#{empty_state_message}</p>" %>
  <% end %>
</div>
