<% after_destroy_redirect ||= nil %>

<% content_for :css do %>
  <%= stylesheet_link_tag "tabs", crossorigin: true, integrity: true %>
  <%= stylesheet_link_tag "events", crossorigin: true, integrity: true %>
<% end %>

<div class="Events">
  <%= yield :header %>

  <% i = 1 %>
  <% if @years.any? %>
    <div class="Events-years">
      <% @years.each do |year| %>
        <div class="Events-year">
          <h2><%= year[0] %></h2>
          <div class="Events-months">
          <% year[1].each do |month| %>
            <div class="Events-month">
              <h3><%= Date::MONTHNAMES[month[0]] %></h3>
              <ol class="Events-list" start="<%= i %>">
                <% month[1].each do |event| %>
                  <% i += 1 %>
                  <li class="Event" id="event-<%= event.id %>">
                    <div class="Event-header">
                      <span class="Event-days">
                        <time datetime="<%= event.start_date %>">
                          <%= event.start_date.strftime("%A") %> <%= event.start_date.strftime("%-d").to_i.ordinalize %>
                        </time>
                        <% if event.end_date.present? %> –
                          <time datetime="<%= event.end_date %>">
                            <%= event.end_date.strftime("%A") %> <%= event.end_date.strftime("%-d").to_i.ordinalize %>
                          </time>
                        <% end %>
                      </span>
                      <div class="u-flex u-alignCenter u-gap-md">
                        <% country_name = country_name_from_country_code(event.country_code) %>
                        <img class="Flag" src="/flags/<%= event.country_code.downcase %>.svg" alt="Flag of <%= country_name %>" title="<%= country_name %>" loading="lazy" width="25">
                      </div>
                    </div>
                    <div class="Event-content">
                      <h4>
                        <%= event.name %>
                      </h4>
                      <address>
                        <p>
                          <%= event.address.gsub("\n", "<br>").html_safe %><br>
                          <%= country_name %>
                        </p>
                      </address>
                      <% if event.url.present? %>
                        <a href="<%= event.url %>"><%= event.url %></a>
                      <% end %>
                    </div>
                    <div class="Event-attend">
                      <%= event.event_attendees.size %> <%= t("activerecord.models.event_attendee", count: event.event_attendees.size) %>
                      <% if event.event_attendees.map(&:user).include?(current_user) %>
                        <%= button_to event_attendee_path(id: event.event_attendees.find_by(user: current_user).id, redirect: after_destroy_redirect, past: @active_events == :past), method: :delete, class: "Button Button--sm Button--accent Button--secondary" do %>
                          <%= @active_events == :upcoming ? "I don't attend anymore" : "I did not attend" %>
                        <% end %>
                      <% else %>
                        <%= button_to event_attendees_path(event_id: event.id, past: @active_events == :past), class: "Button Button--sm Button--accent" do %>
                          <%= @active_events == :upcoming ? 'Attend' : 'Attended' %>
                        <% end %>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              </ol>
            </div>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= render "shared/empty_state", message: "<p>#{empty_state_message}</p>" %>
  <% end %>
</div>
