<% filter_active_label = (type == :products or type == :brand_products) ? t('continued') : t('active') %>
<% categories ||= [] %>

<% country_filter = capture do %>
  <div class="Filter-section">
    <label for="filter-country" class="Filter-option">
      <%= Brand.human_attribute_name(:country_code) %>
    </label>
    <%= country_select(nil,
      "country",
      {
        include_blank: "All",
        priority_countries: Brand.where.not(country_code: nil).map { |b| b.country_code.upcase }.uniq,
        selected: params[:country]&.upcase
      },
      {
        class: "Filter-input",
        id: "filter-country"
      })
    %>
  </div>
<% end %>

<% diy_kit = capture do %>
  <div class="Filter-section">
    <label for="filter-diy-kit" class="Filter-option">Assembly</label>
    <select class="Filter-input" name="diy_kit" id="filter-diy-kit">
      <option value=""<%= ' selected'.html_safe if params[:diy_kit].blank? %>>
        <%= t("filter.all") %>
      </option>
      <option value="0"<%= ' selected'.html_safe if params[:diy_kit] == "0" %>>
        Pre-assembled
      </option>
      <option value="1"<%= ' selected'.html_safe if params[:diy_kit] == "1" %>>
        DIY kit
      </option>
    </select>
  </div>
<% end %>

<% custom_attributes = capture do %>
  <% if custom_attributes&.any? && (sub_category || ['loudspeakers', 'headphones'].include?(category&.slug)) %>
    <div class="Filter-section Filter-section--attributes">
      <div class="Filter-values">
        <% custom_attributes.each do |custom_attribute| %>
          <fieldset>
            <% if custom_attribute.label.present? %>
              <legend class="Filter-option"><%= t("custom_attribute_labels.#{custom_attribute.label}") %></legend>
            <% end %>
            <ul class="Pagination">
              <% custom_attribute.options.each do |option| %>
                <li class="Pagination-item">
                  <label>
                    <input type="checkbox" name="attr[<%= custom_attribute.id %>][]" value="<%= option[0] %>"<%= ' checked aria-current="true"'.html_safe if params[:attr] && params[:attr][custom_attribute.id.to_s]&.include?(option[0].to_s) %>>
                    <%= t("custom_attributes.#{option[1]}") %>
                  </label>
                </li>
              <% end %>
            </ul>
          </fieldset>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<%= form_tag request.path, method: :get, id: "filter" do |f| %>
  <input type="hidden" name="sort" value="<%= params[:sort] %>">
  <% if category.present? %>
    <%= hidden_field_tag :category, sub_category.present? ? "#{category.friendly_id}[#{sub_category.friendly_id}]" : category.friendly_id %>
  <% end %>
  <div class="Filter">
    <button class="Filter-open Button Button--secondary" type="button" aria-controls="filter" aria-expanded="false">Filter</button>
    <div class="Filter-form">
      <div class="Filter-options">
        <div class="Filter-section">
          <label class="Filter-option" for="entity-search"><%= t('search') %></label>
          <input id="entity-search" class="Filter-input" type="text" name="query" placeholder="Name" value="<%= query %>">
        </div>

        <div class="Filter-section">
          <label for="filter-letter" class="Filter-option">Name</label>
          <select class="Filter-input" name="letter" id="filter-letter">
            <option value=""<%= ' selected'.html_safe if params[:letter].blank? %>>
              <%= t('filter.all') %>
            </option>
            <% abc.each do |letter| %>
              <option value="<%= letter %>"<%= ' selected'.html_safe if params[:letter] == letter %>>
                <%= letter.upcase %>
              </option>
            <% end %>
          </select>
        </div>

        <div class="Filter-section">
          <label for="filter-status" class="Filter-option"><%= t('status') %></label>
          <select class="Filter-input" name="status" id="filter-status">
            <option value=""<%= ' selected'.html_safe if params[:status].blank? %>>
              <%= t("filter.all") %>
            </option>
            <option value="continued"<%= ' selected'.html_safe if params[:status] == "continued" %>>
              <%= filter_active_label %>
            </option>
            <option value="discontinued"<%= ' selected'.html_safe if params[:status] == "discontinued" %>>
              <%= t('discontinued') %>
            </option>
          </select>
        </div>

        <% if categories.any? %>
          <div class="Filter-section">
            <label class="Filter-option" for="filter-sub-categories" class="Filter-option"><%= Category.model_name.human %></label>
            <select class="Filter-input" name="category" id="filter-sub-categories">
              <option value=""<%= ' selected'.html_safe unless sub_category.present? %>>
                <%= t('filter.all') %>
              </option>
              <% categories.each do |group| %>
                <option value="<%= group[0].slug %>"<%= ' selected'.html_safe if category.present? && category.slug == group[0].slug %>>
                  <%= group[0].name %>
                </option>
                <optgroup label="<%= group[0].name %> categories">
                  <% group[1].each do |sub| %>
                    <option value="<%= group[0].slug %>[<%= sub.slug %>]"<%= ' selected'.html_safe if sub_category.present? && sub_category.slug == sub.slug %>>
                      <%= sub.name %>
                    </option>
                  <% end %>
                </optgroup>
              <% end %>
            </select>
          </div>
        <% end %>

        <% if type == :products %>
          <%= diy_kit %>
          <%= custom_attributes %>

          <div class="Filter-section Filter-section--divider Filter-options">
            <span class="Filter-legend">Brands</span>
            <%= country_filter %>
          </div>
        <% end %>

        <% if type == :brands %>
          <%= country_filter %>

          <div class="Filter-section Filter-section--divider Filter-options">
            <span class="Filter-legend">Products</span>
            <%= diy_kit %>
            <%= custom_attributes %>
          </div>
        <% end %>

        <% if type == :brand_products %>
          <%= diy_kit %>
          <%= custom_attributes %>
        <% end %>

        <div class="Filter-actions u-flex u-gap-md">
          <button class="Filter-close" type="button" aria-controls="filter" aria-expanded="false">Close</button>
          <div class="Filter-submit u-flex u-gap-md u-alignCenter">
            <button class="Button Button--sm" type="submit">Filter</button>
            <%= link_to "Reset", reset_path, class: "Filter-reset" %>
          </div>
        </div>
      </div>
    </div>

    <p class="Filter-status<%= " is-active" if filter_applied %>">
      <% if filter_applied %>
        <svg class="IconSymbol IconSymbol--positive" xmlns="http://www.w3.org/2000/svg" viewBox="2 2 20 20" width="24" height="24"><path stroke-linecap="round" stroke-linejoin="round" d="m9 12.8 2.3 2.2L15 9.7m6 2.3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/></svg> Filters applied.
      <% else %>
        No filters applied.
      <% end %>
    </p>
  </div>
<% end %>
