<button type="button" class="OpenImageDialog OpenImageDialog--upload" data-dialog="<%= prefix %>-image-dialog-<%= item.id %>">
  <% if image_update_item.images.attached? %>
    <span class="OpenImageDialog-placeholder" style="<%= "--size: #{size}" if defined?(size) %>">
      <picture>
        <%= image_tag cdn_image_url(item.highlighted_image.variant(:thumb)), "aria-hidden": "true", alt: "", loading: "lazy" %>
      </picture>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="w-6 h-6" viewBox="0 0 24 24" width="24" height="24"><path stroke-linecap="round" stroke-linejoin="round" d="m2.3 15.8 5.1-5.2a2.3 2.3 0 0 1 3.2 0l5.1 5.2m-1.4-1.6 1.4-1.4a2.3 2.3 0 0 1 3.1 0l3 3m-18 3.7h16.4a1.5 1.5 0 0 0 1.6-1.5V6a1.5 1.5 0 0 0-1.6-1.5H3.9A1.5 1.5 0 0 0 2.3 6v12a1.5 1.5 0 0 0 1.5 1.5ZM14.2 8.2h0v0h0v0Zm.4 0a.4.4 0 1 1-.7 0 .4.4 0 0 1 .7 0Z"/></svg>
        Change
      </span>
    </span>
  <% else %>
    <span class="OpenImageDialog-placeholder" style="<%= "--size: #{size}" if defined?(size) %>">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="w-6 h-6" viewBox="0 0 24 24" width="24" height="24"><path stroke-linecap="round" stroke-linejoin="round" d="m2.3 15.8 5.1-5.2a2.3 2.3 0 0 1 3.2 0l5.1 5.2m-1.4-1.6 1.4-1.4a2.3 2.3 0 0 1 3.1 0l3 3m-18 3.7h16.4a1.5 1.5 0 0 0 1.6-1.5V6a1.5 1.5 0 0 0-1.6-1.5H3.9A1.5 1.5 0 0 0 2.3 6v12a1.5 1.5 0 0 0 1.5 1.5ZM14.2 8.2h0v0h0v0Zm.4 0a.4.4 0 1 1-.7 0 .4.4 0 0 1 .7 0Z"/></svg>
      Upload
    </span>
  <% end %>
</button>
<dialog id="<%= prefix %>-image-dialog-<%= item.id %>">
  <%= form_for(image_update_item, url: item.update_path, html: { method: :put, class: "Form" }) do |f| %>
    <%= render "shared/flash_messages", messages: image_update_item.errors.full_messages.map { |message| [ :alert, message ] } if image_update_item.errors.full_messages.any? %>
    <% if image_update_item.images.attached? %>
      <div class="Form-field">
        <fieldset>
          <legend class="h4">Current photos</legend>
          <div class="u-grid u-gap-md">
            <% image_update_item.images.each_with_index do |image, i| %>
              <%= f.hidden_field :images, multiple: true, value: image.signed_id %>
              <div class="u-flex u-gap-md u-alignCenter">
                <picture>
                  <%= image_tag cdn_image_url(image.variant(:thumb)), "aria-hidden": "true", alt: "", style: "inline-size: 5rem; block-size: 5rem;" %>
                </picture>
                <div>
                  <div class="ImageDialog-delete">
                    <%= f.radio_button :highlighted_image_id, image.id, checked: item.highlighted_image.id == image.id, id: "highlighted-image-#{item.id}-#{i}" %>
                    <%= f.label :highlighted_image_id, "Highlighted image", for: "highlighted-image-#{item.id}-#{i}" %>
                  </div>
                  <div class="ImageDialog-delete">
                    <input type="checkbox" value="<%= image.id %>" name="delete_image[]" id="delete-image-<%= item.id %>-<%= i %>">
                    <%= f.label :delete_image, "Delete image", for: "delete-image-#{item.id}-#{i}" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </fieldset>
      </div>
    <% end %>
    <div class="Form-field">
      <%= f.label :images, class: "h4" do %>Upload photos<% end %>
      <p>Upload photos of your <b><%= item.display_name %></b> and showcase it on your profile.</p>
      <p class="FlashMessage FlashMessage--info">
        <b>Note:</b> You may be held personally liable for uploading images that infringe the rights of intellectual property owners. Only upload images to which you have the rights or which are available for public use.
      </p>
      <div>
        <%= f.file_field :images, accept: "image/jpeg,image/png,image/gif,image/webp", multiple: true, include_hidden: false %>
      </div>
    </div>

    <div class="Form-submit u-flex u-spaceBetween">
      <%= f.button type: "submit", class: "Button Button--loadingIcon" do %>
        <span><%= t('user.edit.update.save.submit') %></span>
      <% end %>
      <button formmethod="dialog">Close</button>
    </div>
  <% end %>
</dialog>
