<div class="IndexPage" id="list">
  <div class="IndexPage-header">
    <div class="IndexPage-headerFilter">
      <% if yield(:actions).present? %>
        <div class="IndexPage-actions">
          <%= yield :actions %>
        </div>
      <% end %>
      <%= yield :header %>
    </div>

    <div class="IndexPage-filter">
      <%= yield :filter %>
    </div>
  </div>
  <div class="IndexPage-content">
    <% if records.length > 0 %>
      <div class="u-breakpoint u-breakpoint--l">
        <div class="IndexPage-contentHeader">
          <p class="FilterInfo">
            <small><%= page_entries_info records %></small>
          </p>
          <form class="u-flex u-alignCenter u-gap-md">
            <%= hidden_fields_for_params(params.except(:order, :controller, :action)) %>
            <%= yield :sort %>
            <%= javascript_tag nonce: true do %>
              document.querySelector("#sort-select").addEventListener("change", ({ target }) => {
                target.closest("form").submit();
              });
            <% end %>
          </form>
        </div>
        <%= yield :table %>
        <%= paginate records %>
      </div>
    <% else %>
      <%= render "shared/empty_state", message: empty_state_message %>
    <% end %>

    <%= render "shared/symbols_legend", type: %>
  </div>
</div>
