<% empty_state ||= "" %>
<% pull_out ||= defined?(pull_out) ? pull_out : true %>
<% include_images ||= defined?(include_images) ? include_images : true %>
<% include_image_upload ||= defined?(include_image_upload) ? include_image_upload : true %>
<% include_edit_link ||= false %>
<% include_delete_button ||= false %>
<% include_setup ||= false %>
<% hide_brand ||= false %>
<% hide_release_date ||= false %>
<% hide_period ||= false %>
<% hide_since ||= false %>
<% delete_dialog ||= false %>

<div class="<%= "u-pullOut" if pull_out %> ProductListing">
  <% if items.any? %>
    <table>
      <thead>
        <tr>
          <% if include_images %>
            <th class="Table-image">Photo</th>
          <% end %>
          <th><%= t('name') %></th>
          <% unless hide_release_date %>
            <th><%= t('product.released') %></th>
          <% end %>
          <% unless hide_since %>
            <th style="width: 6em">Since</th>
          <% end %>
          <% unless hide_period %>
            <th style="width: 6em">From</th>
            <th style="width: 6em">Until</th>
          <% end %>
          <th><%= t('headings.category').html_safe %></th>
          <% if include_setup %>
            <th><%= t('headings.setup') %></th>
          <% end %>
          <% if include_edit_link || include_delete_button %>
            <th class="u-textEnd Table-actions">Actions</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% items.each do |item| %>
          <tr>
            <% if include_images %>
              <td class="Table-image">
                <% if include_image_upload %>
                  <%= render "shared/image_upload", item: item, image_update_item: item.image_update_item, prefix: "table" %>
                <% else %>
                  <%= render "shared/product_image_dialog", item: item, image_update_item: item.image_update_item, prefix: "table" %>
                <% end %>
              </td>
            <% end %>
            <th scope="row">
              <% unless hide_brand %>
                <%= item.product.present? ? item.brand_name : "<i>#{item.brand_name}</i>".html_safe %><br>
              <% end %>
              <b><%= item.show_path.present? ? (link_to "#{item.product.name if item.product_variant.present?} #{item.short_name}".strip, item.show_path) : item.name %></b>
              <% if item.product_option %>
                <small class="Table-productOption"><%= item.product_option.option %></small>
              <% end %>
            </th>
            <% unless hide_release_date %>
              <td class="Table-date">
                <% if item.release_date.present? %>
                  <time datetime="<%= item.release_date %>" data-format="false"><%= item.release_date %></time>
                <% else %>
                  -
                <% end %>
              </td>
            <% end %>
            <% unless hide_since %>
              <td class="Table-sm">
                <% if item.period_from.present? %>
                  <time datetime="<%= formatted_date item.period_from %>"><%= formatted_date item.period_from %></time>
                <% else %>
                  -
                <% end %>
              </td>
            <% end %>
            <% unless hide_period %>
              <td class="Table-sm">
                <% if item.period_from.present? %>
                  <time datetime="<%= formatted_date item.period_from %>"><%= formatted_date item.period_from %></time>
                <% else %>
                  -
                <% end %>
              </td>
              <td class="Table-sm">
                <% if item.period_to.present? %>
                  <time datetime="<%= formatted_date item.period_to %>"><%= formatted_date item.period_to %></time>
                <% else %>
                  -
                <% end %>
              </td>
            <% end %>
            <td class="Table-sm">
              <% if item.sub_categories.any? %>
                <%= item.sub_categories.map{ |sub_category| sub_category.name }.join(", ") %>
              <% else %>
                <%= item.categories.map{ |category| category.name }.join(", ") %>
              <% end %>
            </td>
            <% if include_setup %>
              <td class="Table-sm">
                <%= item.setup.present? ? item.setup.name : "-" %>
              </td>
            <% end %>
            <% if include_edit_link || include_delete_button %>
              <td class="Table-sm">
                <ul class="MetaLinks">
                  <% if include_edit_link %>
                    <li><%= link_to "Edit", item.edit_path %></li>
                  <% end %>
                  <% if include_delete_button %>
                    <li>
                      <% if delete_dialog %>
                        <%= render "shared/remove_product_from_possessions", possession: item, id: item.id %>
                      <% else %>
                        <%= button_to item.delete_button_label,
                          item.delete_path,
                          method: :delete,
                          class: "DeleteButton",
                          "data-msg": item.delete_confirm_msg
                        %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <ol class="ProductList">
      <% items.each do |item| %>
        <li class="ProductList-item">
          <% if include_images %>
            <div class="u-flex u-gap-md">
              <div>
                <% if include_image_upload %>
                  <%= render "shared/image_upload", item: item, image_update_item: item.image_update_item, prefix: "list" %>
                <% else %>
                  <%= render "shared/product_image_dialog", item: item, image_update_item: item.image_update_item, prefix: "list" %>
                <% end %>
              </div>
            <% end %>
              <div class="ProductList-content">
                <div class="ProductList-name">
                  <a href="<%= item.show_path %>">
                    <%= item.brand_name unless hide_brand %>
                    <b><%= "#{item.product.name if item.product_variant.present?} #{item.short_name}".strip %></b>
                  </a>
                  <% if item.product_option %>
                    <br><small><%= item.product_option.option %></small>
                  <% end %>
                </div>
                <div class="ProductList-categories">
                  <p>
                    <% if item.sub_categories.any? %>
                      <%= item.sub_categories.map{ |sub_category| sub_category.name }.join(", ") %>
                    <% else %>
                      <%= item.categories.map{ |category| category.name }.join(", ") %>
                    <% end %>
                  </p>
                  <% unless hide_since %>
                    <% if item.period_from %>
                      <p>
                        <b>Since:</b>
                        <time datetime="<%= formatted_date item.period_from %>"><%= formatted_date item.period_from %></time>
                      </p>
                    <% end %>
                  <% end %>
                  <% unless hide_period %>
                    <% if item.period_from || item.period_to %>
                      <p>
                        <% if item.prev_owned %>
                          <% if item.period_from && item.period_to %>
                            <b>Owned from:</b>
                            <time datetime="<%= formatted_date item.period_from %>"><%= formatted_date item.period_from %></time> &ndash; <time datetime="<%= formatted_date item.period_to %>"><%= formatted_date item.period_to %></time>
                          <% elsif item.period_from %>
                            <b>Owned since:</b>
                            <time datetime="<%= formatted_date item.period_from %>"><%= formatted_date item.period_from %></time>
                          <% elsif item.period_to %>
                            <b>Owned until:</b>
                            <time datetime="<%= formatted_date item.period_to %>"><%= formatted_date item.period_to %></time>
                          <% end %>
                        <% else %>
                          <% if item.period_from %>
                            <b>Since:</b>
                            <time datetime="<%= formatted_date item.period_from %>"><%= formatted_date item.period_from %></time>
                          <% end %>
                        <% end %>
                      </p>
                    <% end %>
                  <% end %>
                  <% if include_setup && item.setup.present? %>
                    <p>
                      <b>Setup:</b>
                      <%= item.setup.name %>
                    </p>
                  <% end %>
                </div>
                <% if include_edit_link || include_delete_button %>
                  <div class="ProductList-metaLinks">
                    <ul class="MetaLinks">
                      <% if include_edit_link %>
                        <li><%= link_to "Edit", item.edit_path %></li>
                      <% end %>
                      <% if include_delete_button %>
                        <li>
                          <% if delete_dialog %>
                            <%= render "shared/remove_product_from_possessions", possession: item, id: "#{item.id}-2" %>
                          <% else %>
                            <%= button_to item.delete_button_label,
                              item.delete_path,
                              method: :delete,
                              class: "DeleteButton",
                              "data-msg": item.delete_confirm_msg
                            %>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
              </div>
          <% if include_images %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ol>
  <% else %>
    <%= render "shared/empty_state", message: empty_state %>
  <% end %>
</div>
