<% empty_state ||= "" %>
<% include_images ||= defined?(include_images) ? include_images : true %>
<% include_image_upload ||= defined?(include_image_upload) ? include_image_upload : true %>
<% include_edit_link ||= false %>
<% include_delete_button ||= false %>
<% include_setup ||= false %>
<% hide_brand ||= false %>
<% hide_release_date ||= false %>
<% hide_period ||= false %>
<% hide_since ||= false %>
<% delete_dialog ||= false %>
<% items_breakpoint ||= 'm' %>
<% remove_entity_partial ||= 'shared/remove_product_from_possessions' %>

<div class="u-breakpoint u-breakpoint--<%= items_breakpoint %>">
  <% if items.any? %>
    <table class="u-breakpoint-item-l">
      <thead>
        <tr>
          <% if include_images %>
            <th class="Table-image">Photo</th>
          <% end %>
          <th><%= Product.human_attribute_name(:name) %></th>
          <% unless hide_release_date %>
            <th><%= Product.human_attribute_name(:release_date) %></th>
          <% end %>
          <% unless hide_since %>
            <th style="width: 6em">Since</th>
          <% end %>
          <% unless hide_period %>
            <th style="width: 6em">From</th>
            <th style="width: 6em">Until</th>
          <% end %>
          <th><%= Category.model_name.human %></th>
          <% if include_setup %>
            <th><%= Setup.model_name %></th>
          <% end %>
          <% if include_edit_link || include_delete_button %>
            <th class="u-textEnd Table-actions">
              <span class="u-hiddenVisually">
                Actions
              </span>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% items.each do |item| %>
          <tr>
            <% if include_images %>
              <td class="Table-image">
                <% if include_image_upload %>
                  <%= render "shared/image_upload", item: item, image_update_item: item.image_update_item, prefix: "table" %>
                <% else %>
                  <%= render "shared/product_image_dialog", item: item, prefix: "table" %>
                <% end %>
              </td>
            <% end %>
            <th scope="row">
              <% unless hide_brand %>
                <%= item.product.present? ? item.brand_name : "<i>#{item.brand_name}</i>".html_safe %><br>
              <% end %>
              <b><%= item.show_path.present? ? (link_to "#{item.product.name if item.product_variant.present?} #{item.short_name}".strip, item.show_path) : item.name %></b>
              <% if item.product_option %>
                <small class="Table-productOption"><%= item.product_option.option %></small>
              <% end %>
            </th>
            <% unless hide_release_date %>
              <td class="Table-sm Table-date">
                <% if item.release_date.present? %>
                  <time datetime="<%= item.release_date %>" data-format="false"><%= item.release_date %></time>
                <% else %>
                  -
                <% end %>
              </td>
            <% end %>
            <% unless hide_since %>
              <td class="Table-sm">
                <% if item.period_from.present? %>
                  <time datetime="<%= formatted_date item.period_from %>"><%= formatted_date item.period_from %></time>
                <% else %>
                  -
                <% end %>
              </td>
            <% end %>
            <% unless hide_period %>
              <td class="Table-sm">
                <% if item.period_from.present? %>
                  <time datetime="<%= formatted_date item.period_from %>"><%= formatted_date item.period_from %></time>
                <% else %>
                  -
                <% end %>
              </td>
              <td class="Table-sm">
                <% if item.period_to.present? %>
                  <time datetime="<%= formatted_date item.period_to %>"><%= formatted_date item.period_to %></time>
                <% else %>
                  -
                <% end %>
              </td>
            <% end %>
            <td class="Table-sm">
              <% if item.sub_categories.any? %>
                <%= item.sub_categories.map{ |sub_category| sub_category.name }.join(",<br>").html_safe %>
              <% else %>
                <%= item.categories.map{ |category| category.name }.join(",<br>").html_safe %>
              <% end %>
            </td>
            <% if include_setup %>
              <td class="Table-sm">
                <%= item.setup.present? ? item.setup.name : "-" %>
              </td>
            <% end %>
            <% if include_edit_link || include_delete_button %>
              <td class="Table-sm">
                <ul class="MetaLinks">
                  <% if include_edit_link %>
                    <li><%= link_to "Edit", item.edit_path %></li>
                  <% end %>
                  <% if include_delete_button %>
                    <li>
                      <% if delete_dialog %>
                        <%= render remove_entity_partial, possession: item, id: item.id %>
                      <% else %>
                        <%= button_to item.delete_button_label,
                          item.delete_path,
                          method: :delete,
                          class: "DeleteButton",
                          "data-msg": item.delete_confirm_msg
                        %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <ol class="EntityList EntityList--products u-breakpoint-item-s">
      <% items.each do |item| %>
        <li class="EntityList-item">
          <% if include_images %>
            <div class="EntityList-image">
              <% if include_image_upload %>
                <%= render "shared/image_upload", item: item, image_update_item: item.image_update_item, prefix: "list" %>
              <% else %>
                <%= render "shared/product_image_dialog", item: item, prefix: "list" %>
              <% end %>
            </div>
          <% end %>
          <div class="EntityList-content">
            <div class="EntityList-name">
              <% unless hide_brand %>
                <span>
                  <%= item.brand_name %>
                </span>
              <% end %>
              <a href="<%= item.show_path %>">
                <b><%= "#{item.product.name if item.product_variant.present?} #{item.short_name}".strip %></b>
              </a>
              <% if item.product_option %>
                <br><small><%= item.product_option.option %></small>
              <% end %>
            </div>
            <dl class="EntityList-data Data">
              <dt><%= Category.model_name.human %></dt>
              <dd>
                <% if item.sub_categories.any? %>
                  <%= item.sub_categories.map{ |sub_category| sub_category.name }.join(", ") %>
                <% else %>
                  <%= item.categories.map{ |category| category.name }.join(", ") %>
                <% end %>
              </dd>
              <% unless hide_since %>
                <% if item.period_from %>
                  <dt>Since</dt>
                  <dd>
                    <time datetime="<%= formatted_date item.period_from %>"><%= formatted_date item.period_from %></time>
                  </dd>
                <% end %>
              <% end %>
              <% unless hide_period %>
                <% if item.prev_owned %>
                  <% if item.period_from && item.period_to %>
                    <dt>Owned from</dt>
                    <dd><time datetime="<%= formatted_date item.period_from %>"><%= formatted_date item.period_from %></time> &ndash; <time datetime="<%= formatted_date item.period_to %>"><%= formatted_date item.period_to %></time></dd>
                  <% elsif item.period_from %>
                    <dt>Owned since</dt>
                    <dd><time datetime="<%= formatted_date item.period_from %>"><%= formatted_date item.period_from %></time></dd>
                  <% elsif item.period_to %>
                    <dt>Owned until</dt>
                    <dd><time datetime="<%= formatted_date item.period_to %>"><%= formatted_date item.period_to %></time></dd>
                  <% end %>
                <% else %>
                  <% if item.period_from %>
                    <dt>Since</dt>
                    <dd><time datetime="<%= formatted_date item.period_from %>"><%= formatted_date item.period_from %></time></dd>
                  <% end %>
                <% end %>
              <% end %>
              <% if include_setup && item.setup.present? %>
                <dt>Setup</dt>
                <dd><%= item.setup.name %></dd>
              <% end %>
            </dl>
            <% if include_edit_link || include_delete_button %>
              <div class="EntityList-metaLinks">
                <ul class="MetaLinks">
                  <% if include_edit_link %>
                    <li><%= link_to "Edit", item.edit_path %></li>
                  <% end %>
                  <% if include_delete_button %>
                    <li>
                      <% if delete_dialog %>
                        <%= render "shared/remove_product_from_possessions", possession: item, id: "#{item.id}-2" %>
                      <% else %>
                        <%= button_to item.delete_button_label,
                          item.delete_path,
                          method: :delete,
                          class: "DeleteButton",
                          "data-msg": item.delete_confirm_msg
                        %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
        </li>
      <% end %>
    </ol>
  <% else %>
    <%= render "shared/empty_state", message: empty_state %>
  <% end %>
</div>
