<% mark ||= nil %>
<% hide_brand ||= false %>
<% hide_category ||= false %>

<ol class="EntityList EntityList--products">
  <% products.each do |product| %>
    <li class="EntityList-item is-<%= product.discontinued? ? "discontinued" : "continued" %>">
        <div class="EntityList-name">
          <div class="u-flex u-gap-sm u-spaceBetween u-alignCenter">
            <div>
              <% unless hide_brand %>
                <span class="EntityList-brandName">
                  <%= product.brand.name %>
                </span>
              <% end %>
              <a href="<%= product.path %>">
                <%= mark ? highlight(product.name, mark) : product.name %>
              </a>
              <% if product.model_no.present? %>
                <span class="EntityList-modelName">
                  <%= product.model_no %>
                </span>
              <% end %>
            </div>
            <%= render "shared/symbols", product: product %>
          </div>
        </div>

        <% if product.diy_kit? || (product.custom_attributes_labels.present? && product.custom_attributes_labels.any?) %>
          <ul class="EntityList-tags">
            <% if product.diy_kit? %>
              <li class="Tag">
                <%= t('activerecord.attributes.product.diy_kit') %>
              </li>
            <% end %>
            <% product.custom_attributes_labels.each do |attr| %>
              <li class="Tag"><%= attr %></li>
            <% end %>
          </ul>
        <% end %>

        <% if !hide_category || product.earliest_release_date.present? || product.latest_discontinued_date.present? || product.lowest_price.present? %>
        <dl class="EntityList-data Data">
          <% unless hide_category %>
            <dt><%= Category.model_name.human %></dt>
            <dd><%= product.sub_categories.map{ |sub_category| sub_category.name }.join(", ") %></dd>
          <% end %>

          <% if product.earliest_release_date.present? || product.latest_discontinued_date.present? %>
            <dt><%= t('activerecord.attributes.product.release_date') %></dt>
            <dd>
              <% if product.earliest_release_date.present? && product.latest_discontinued_date.present? %>
                <%= sanitize(format_partial_date(*product.earliest_release_date)) %> &ndash; <%= sanitize(format_partial_date(*product.latest_discontinued_date)) %>
              <% elsif product.latest_discontinued_date.present? %>
                n/a &ndash; <%= sanitize(format_partial_date(*product.latest_discontinued_date)) %>
              <% elsif product.earliest_release_date.present? %>
                <%= sanitize(format_partial_date(*product.earliest_release_date)) %>
              <% end %>
            </dd>
          <% end %>

          <% if product.lowest_price.present? %>
            <dt><%= t('activerecord.attributes.product.price') %></dt>
            <dd><%= "From " if product.prices.size > 1 %><%= display_price(product.lowest_price[0], product.lowest_price[1]) %></dd>
          <% end %>
        </dl>
      <% end %>
    </li>
  <% end %>
</ol>
