<% empty_state ||= "" %>
<% include_edit_link ||= false %>
<% include_setup ||= false %>
<% hide_brand ||= false %>
<% hide_period ||= false %>
<% hide_since ||= false %>
<% delete_dialog ||= false %>

<% if items.any? %>
  <ol class="EntityList EntityList--products">
    <% items.each do |item| %>
      <li class="EntityList-item">
        <div class="EntityListItem">
          <div class="u-flex u-gap-md">

              <div class="EntityList-image">
                <%= render "shared/image_upload", item: item, image_update_item: item.image_update_item, prefix: "list" %>
              </div>

            <div class="EntityListItem-main">
              <% unless hide_brand %>
                <span class="EntityListItem-brandName">
                  <%= item.brand_name %>
                </span>
              <% end %>
              <a href="<%= item.show_path %>" class="EntityListItem-name">
                <%= "#{item.product.name if item.product_variant.present?} #{item.short_name}".strip %>
              </a>
              <% if item.product_option.present? || item.model_no.present? %>
                <small class="EntityListItem-modelName">
                  <%= item.model_no if item.model_no.present? %>
                  <% if item.product_option.present? && item.model_no.present? %>&middot;<% end %>
                  <%= item.product_option.option if item.product_option.present? %>
                </small>
              <% end %>
            </div>

          </div>

          <div>
            <dl class="EntityListItem-data Data u-pb-1">
              <dt><%= Category.model_name.human %></dt>
              <dd>
                <% if item.sub_categories.any? %>
                  <%= item.sub_categories.map{ |sub_category| sub_category.name }.join(", ") %>
                <% else %>
                  <%= item.categories.map{ |category| category.name }.join(", ") %>
                <% end %>
              </dd>
              <% unless hide_since %>
                <% if item.period_from %>
                  <dt>Since</dt>
                  <dd>
                    <time datetime="<%= item.period_from %>"><%= format_date(item.period_from).html_safe %></time>
                  </dd>
                <% end %>
              <% end %>
              <% unless hide_period %>
                <% if item.prev_owned %>
                  <% if item.period_from && item.period_to %>
                    <dt>Owned from</dt>
                    <dd><time datetime="<%= item.period_from %>"><%= format_date(item.period_from).html_safe %></time> &ndash; <time datetime="<%= item.period_to %>"><%= format_date(item.period_to).html_safe %></time></dd>
                  <% elsif item.period_from %>
                    <dt>Owned since</dt>
                    <dd><time datetime="<%= item.period_from %>"><%= format_date(item.period_from).html_safe %></time></dd>
                  <% elsif item.period_to %>
                    <dt>Owned until</dt>
                    <dd><time datetime="<%= item.period_to %>"><%= format_date(item.period_to).html_safe %></time></dd>
                  <% end %>
                <% else %>
                  <% if item.period_from %>
                    <dt>Since</dt>
                    <dd><time datetime="<%= item.period_from %>"><%= format_date(item.period_from).html_safe %></time></dd>
                  <% end %>
                <% end %>
              <% end %>
              <% if item.price_purchase.present? || item.gift? %>
                <dt><%= Possession.human_attribute_name(:price_purchase) %></dt>
                <dd><%= item.gift? ? item.gift_label : display_price(item.price_purchase, item.price_purchase_currency) %></dd>
              <% end %>
              <% if item.purchase_condition.present? %>
                <dt><%= Possession.human_attribute_name(:purchase_condition) %></dt>
                <dd><%= item.purchase_condition_label %></dd>
              <% end %>
              <% if item.price_sale.present? %>
                <dt><%= Possession.human_attribute_name(:price_sale) %></dt>
                <dd><%= display_price(item.price_sale, item.price_sale_currency) %></dd>
              <% end %>
              <% if include_setup && item.setup.present? %>
                <dt>Setup</dt>
                <dd><%= item.setup.name %></dd>
              <% end %>
            </dl>
          </div>

          <div class="EntityListItem-footer EntityListItem-metaLinks">
            <ul class="MetaLinks">
              <% if include_edit_link %>
                <li><%= link_to "Edit", item.edit_path %></li>
              <% end %>
              <li>
                <% if delete_dialog %>
                  <%= render "shared/remove_product_from_possessions", possession: item, id: "#{item.id}-2" %>
                <% else %>
                  <%= button_to item.delete_button_label,
                    item.delete_path,
                    method: :delete,
                    class: "DeleteButton",
                    "data-msg": item.delete_confirm_msg
                  %>
                <% end %>
              </li>
            </ul>

          </div>
        </div>
      </li>
    <% end %>
  </ol>
<% else %>
  <%= render "shared/empty_state", message: empty_state %>
<% end %>
