<% categories ||= [] %>
<% empty_state ||= "" %>
<% setups ||= [] %>

<% if categories.length > 1 %>
  <ol class="Pagination u-pullIn">
    <li>
      <a class="Pagination-all" href="<%= @is_public_profile ? user_path(id: user.user_name) : dashboard_products_path %>"<%= ' aria-current="true"'.html_safe unless params[:category].present? %>><%= t('filter.all') %></a>
    </li>
    <% categories.each do |category| %>
      <li>
        <a href="<%= @is_public_profile ? user_path(id: user.user_name, category: category.friendly_id) : dashboard_products_path(category: category.friendly_id) %>"<%= ' aria-current="true"'.html_safe if params[:category] == category.friendly_id %>><%= category.name %></a>
      </li>
    <% end %>
  </ol>
<% end %>


<% if products.any? %>
  <table-saw>
    <table>
      <thead>
        <tr>
          <th><%= t('name') %></th>
          <th><%= t('headings.brand').html_safe %></th>
          <th><%= t('headings.category').html_safe %></th>
          <% if setups.any? %>
            <th><%= t('headings.setup') %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% products.each do |product| %>
          <tr>
            <th scope="row"><%= link_to product.name, product_path(id: product.friendly_id) %></th>
            <td><%= product.brand.name %></td>
            <td>
              <% if product.sub_categories.any? %>
                <%= product.sub_categories.map{ |sub_category| sub_category.name }.join(", ") %>
              <% else %>
                <%= product.categories.map{ |category| category.name }.join(", ") %>
              <% end %>
            </td>
            <% if setups.any? %>
              <td>
                <% setup = setups.find_by(products: product.id) %>
                <%= setup ? setup.name : "-" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </table-saw>
<% else %>
  <%= render "shared/empty_state", message: empty_state %>
<% end %>
