<% mark ||= nil %>
<% hide_brand ||= false %>
<% hide_category ||= false %>

<table-saw class="u-pullOut" breakpoint="(max-width: 52rem)" type="container">
  <table>
    <thead>
      <tr>
        <th><%= t('name') %></th>
        <% unless hide_brand %>
          <th><%= t('headings.brand').html_safe %></th>
        <% end %>
        <% unless hide_category %>
          <th><%= t('headings.category').html_safe %></th>
        <% end %>
        <th><%= t('activerecord.attributes.sub_category.custom_attribute_ids') %></th>
        <th class="Table-date"><%= t('product.released').html_safe %></th>
        <th><%= t('activerecord.attributes.product.price') %></th>
        <th class="Table-symbols">Status</th>
      </tr>
    </thead>
    <tbody>
      <% products.each do |product| %>
        <tr<% if user_has_product?(current_user, product) %> class="is-positive"<% end %>>
          <th scope="row"><%= link_to (mark ? highlight(product.name, mark) : product.name), product_path(id: product.friendly_id) %></th>
          <% unless hide_brand %>
            <td><%= product.brand.name %></td>
          <% end %>
          <% unless hide_category %>
            <td class="Table-sm">
              <%= product.sub_categories.map(&:name).join(", <br>").html_safe %>
            </td>
          <% end %>
          <td class="Table-sm">
            <% attr_list = custom_attributes_list product %>
            <%= attr_list ? attr_list : "-" %>
          </td>
          <td class="Table-sm"><%= product.release_date.present? ? product.release_date : "-" %></td>
          <td class="Table-sm"><%= product.price.present? ? product.display_price : "-" %></td>
          <td class="Table-symbols">
            <%= render "shared/symbols", product: product %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</table-saw>
