<% categories ||= [] %>
<% empty_state ||= "" %>
<% setups ||= [] %>
<% pull_out ||= defined?(pull_out) ? pull_out : true %>
<% include_images ||= defined?(include_images) ? include_images : true %>
<% include_image_upload ||= defined?(include_image_upload) ? include_image_upload : true %>

<% if include_image_upload %>
  <% content_for :css do %>
    <%= stylesheet_link_tag "form" %>
  <% end %>
<% end %>

<% if categories.length > 1 %>
  <details class="CategoryFilter">
    <summary>
      <span><b><%= t('headings.category') %>:</b> <%= sub_category ? sub_category.name : "All" %></span>
    </summary>
    <div class="CategoryFilter-categories">
      <dl class="Data">
        <% categories.each do |section| %>
          <dt><%= section[0].name %></dt>
          <dd>
            <%= section[1].map { |sub_category| link_to sub_category[:name], sub_category[:path], "aria-current": (
              if @sub_category && @sub_category.friendly_id == sub_category[:friendly_id]
                'true'
              else
                'false'
              end
            ) }.join(", ").html_safe %>
          </dd>
        <% end %>
      </dl>
      <% if sub_category %>
        <a class="Button Button--secondary" href="<%= reset_path %>">Show all</a>
      <% end %>
    </div>
  </details>
<% end %>

<div class="<%= "u-pullOut" if pull_out %> ProductListing">
  <% if items.any? %>
    <table>
      <thead>
        <tr>
          <% if include_images %>
            <th class="Table-image">Photo</th>
          <% end %>
          <th><%= t('name') %></th>
          <th><%= t('headings.category').html_safe %></th>
          <% if setups.any? %>
            <th><%= t('headings.setup') %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% items.each do |item| %>
          <tr>
            <% if include_images %>
              <td class="Table-image">
                <% if include_image_upload %>
                  <%= render "shared/image_upload", item: item %>
                <% else %>
                  <%= render "shared/product_image_dialog", item: item, prefix: "table" %>
                <% end %>
              </td>
            <% end %>
            <th scope="row">
              <% if item.product.brand.present? %>
                <%= item.product.brand.name %><br>
              <% end %>
              <b><%= link_to "#{item.product.name if item.product_variant.present?} #{item.short_name}".strip, item.product_or_variant_path %></b>
            </th>
            <td class="Table-sm">
              <% if item.product.sub_categories.any? %>
                <%= item.product.sub_categories.map{ |sub_category| sub_category.name }.join(", ") %>
              <% else %>
                <%= item.product.categories.map{ |category| category.name }.join(", ") %>
              <% end %>
            </td>
            <% if setups.any? %>
              <td class="Table-sm">
                <% setup = setups.find_by(possessions: item.id) %>
                <%= setup ? setup.name : "-" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <ol class="ProductList">
      <% items.each do |item| %>
        <li class="ProductList-item">
          <% if include_images %>
            <div class="u-flex u-gap-md">
              <div>
                <% if include_image_upload %>
                  <%= render "shared/image_upload", item: item %>
                <% else %>
                  <%= render "shared/product_image_dialog", item: item, prefix: "list" %>
                <% end %>
              </div>
            <% end %>
              <div>
                <div class="ProductList-name">
                  <% if item.product.brand.present? %>
                    <%= item.product.brand.name %><br>
                  <% end %>
                  <b><%= link_to "#{item.product.name if item.product_variant.present?} #{item.short_name}".strip, item.product_or_variant_path %></b>
                </div>
                <p class="ProductList-categories">
                  <% if item.product.sub_categories.any? %>
                    <%= item.product.sub_categories.map{ |sub_category| sub_category.name }.join(", ") %>
                  <% else %>
                    <%= item.product.categories.map{ |category| category.name }.join(", ") %>
                  <% end %>
                </p>
              </div>
          <% if include_images %>
            </div>
          <% end %>
          <% if setups.any? %>
            <small>
              <i>
                <% setup = setups.find_by(possessions: item.id) %>
                <%= setup.name if setup.present? %>
              </i>
            </small>
          <% end %>
        </li>
      <% end %>
    </ol>
  <% else %>
    <%= render "shared/empty_state", message: empty_state %>
  <% end %>
</div>
