<% categories ||= [] %>
<% empty_state ||= "" %>

<% if categories.any? %>
  <nav class="Pagination" aria-label="Filter by letter">
    <ol class="Pagination-list">
      <li>
        <a class="Pagination-all" href="<%= dashboard_products_path %>"<%= ' aria-current="true"'.html_safe unless params[:category].present? %>>All</a>
      </li>
      <% categories.each do |category| %>
        <li>
          <a href="<%= dashboard_products_category_path(category: category.friendly_id) %>"<%= ' aria-current="true"'.html_safe if params[:category] == category.friendly_id %>><%= category.name %></a>
        </li>
      <% end %>
    </ol>
  </nav>
<% end %>

<% if products.any? %>
  <table>
    <thead>
      <th><%= t('headings.manufacturer').html_safe %></th>
      <th><%= t('name') %></th>
      <th><%= t('headings.category').html_safe %></th>
    </thead>
    <tbody>
      <% products.each do |product| %>
        <tr>
          <td><%= product.manufacturer.name %></td>
          <th scope="row"><%= link_to product.name, manufacturer_product_path(id: product.friendly_id, manufacturer_id: product.manufacturer.friendly_id) %></th>
          <td>
            <% if product.sub_categories.any? %>
              <%= product.sub_categories.map{ |sub_category| sub_category.name }.join(", ") %>
            <% else %>
              <%= product.categories.map{ |category| category.name }.join(", ") %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= render "shared/empty_state", message: empty_state %>
<% end %>
