<% mark ||= nil %>
<% hide_brand ||= false %>
<% hide_category ||= false %>

<ol class="EntityList EntityList--products">
  <% products.each do |product| %>
    <li class="EntityList-item is-<%= product.discontinued? ? "discontinued" : "continued" %>">
        <div class="EntityList-name">
          <div class="u-flex u-gap-sm u-spaceBetween u-alignCenter">
            <div>
              <% unless hide_brand %>
                <span class="EntityList-brandName">
                  <%= product.brand.name %>
                </span>
              <% end %>
              <a href="<%= product.path %>">
                <%= mark ? highlight(product.name, mark) : product.name %>
              </a>
              <% if product.model_no.present? || product.variant_name.present? %>
                <span class="EntityList-modelName">
                  <%= product.variant_name if product.variant_name.present? %>
                  <% if product.variant_name.present? && product.model_no.present? %>&middot;<% end %>
                  <%= product.model_no if product.model_no.present? %>
                </span>
              <% end %>
            </div>
            <%= render "shared/symbols", product: product %>
          </div>
        </div>

        <% if product.diy_kit? || (product.custom_attributes.present? && product.custom_attributes.any?) %>
          <ul class="EntityList-tags">
            <% if product.diy_kit? %>
              <li class="Tag">
                <%= t('activerecord.attributes.product.diy_kit') %>
              </li>
            <% end %>
            <%
              product.custom_attributes&.each do |custom_attribute|
                attr = @custom_attributes_for_products.find { |ca| ca.label == custom_attribute[0] }
                if attr&.options
                  option_value = attr.options[custom_attribute[1].to_s]
                  if option_value.present?
            %>
                <li class="Tag"><%= I18n.t("custom_attributes.#{option_value}") %></li>
            <%
                  end
                end
              end
            %>
          </ul>
        <% end %>

        <% if !hide_category || product.formatted_release_date.present? || product.formatted_discontinued_date.present? || product.price.present? %>
        <dl class="EntityList-data Data">
          <% unless hide_category %>
            <dt><%= Category.model_name.human %></dt>
            <dd><%= product.sub_category_names.join(", ") %></dd>
          <% end %>

          <% if product.formatted_release_date.present? || product.formatted_discontinued_date.present? %>
            <dt><%= t('activerecord.attributes.product.release_date') %></dt>
            <dd>
              <% if product.formatted_release_date.present? && product.formatted_discontinued_date.present? %>
                <%= sanitize(product.formatted_release_date) %> &ndash; <%= sanitize(product.formatted_discontinued_date) %>
              <% elsif product.formatted_discontinued_date.present? %>
                n/a &ndash; <%= sanitize(product.formatted_discontinued_date) %>
              <% elsif product.formatted_release_date.present? %>
                <%= sanitize(product.formatted_release_date) %>
              <% end %>
            </dd>
          <% end %>

          <% if product.price.present? %>
            <dt><%= t('activerecord.attributes.product.price') %></dt>
            <dd><%= display_price(product.price, product.price_currency) %></dd>
          <% end %>
        </dl>
      <% end %>
    </li>
  <% end %>
</ol>
