<% mark ||= nil %>
<% hide_brand ||= false %>

<table-saw class="u-pullOut">
  <table>
    <thead>
      <tr>
        <th><%= t('name') %></th>
        <% unless hide_brand %>
          <th><%= t('headings.brand').html_safe %></th>
        <% end %>
        <th><%= t('headings.category').html_safe %></th>
        <th colspan="2"><%= t('product.release_date').html_safe %></th>
      </tr>
    </thead>
    <tbody>
      <% products.each do |product| %>
        <tr<% if user_has_product?(current_user, product) %> class="is-positive"<% end %>>
          <th scope="row"><%= link_to (mark ? highlight(product.name, mark) : product.name), product_path(id: product.friendly_id) %></th>
          <% unless hide_brand %>
            <td><%= product.brand.name %></td>
          <% end %>
          <td><%= product.sub_categories.any? ? product.sub_categories.map { |sub_category| sub_category.name }.join(", ") : "-" %></td>
          <td><%= product.release_date.present? ? product.release_date : "-" %></td>
          <td>
            <%= render "shared/symbols", product: product %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</table-saw>
