<% categories ||= [] %>
<% empty_state ||= "" %>
<% setups ||= [] %>

<% if categories.length > 1 %>
  <details class="CategoryFilter">
    <summary>
      <span><b><%= t('headings.category') %>:</b> <%= sub_category ? sub_category.name : "All" %></span>
    </summary>
    <div class="CategoryFilter-categories">
      <dl class="Data">
        <% categories.each do |section| %>
          <dt><%= section[0].name %></dt>
          <dd>
            <%= section[1].map { |sub_category| link_to sub_category[:name], sub_category[:path], "aria-current": (
              if @sub_category && @sub_category.friendly_id == sub_category[:friendly_id]
                'true'
              else
                'false'
              end
            ) }.join(", ").html_safe %>
          </dd>
        <% end %>
      </dl>
      <% if sub_category %>
        <a class="Button Button--secondary" href="<%= reset_path %>">Show all</a>
      <% end %>
    </div>
  </details>
<% end %>

<div class="u-pullOut">
  <% if products.any? %>
    <table-saw breakpoint="(max-width: 40rem)" type="container">
      <table>
        <thead>
          <tr>
            <th><%= t('name') %></th>
            <th><%= t('headings.brand').html_safe %></th>
            <th><%= t('headings.category').html_safe %></th>
            <% if setups.any? %>
              <th><%= t('headings.setup') %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% products.each do |product| %>
            <tr>
              <th scope="row"><%= link_to product.name, product_path(id: product.friendly_id) %></th>
              <td><%= product.brand.name %></td>
              <td class="Table-sm">
                <% if product.sub_categories.any? %>
                  <%= product.sub_categories.map{ |sub_category| sub_category.name }.join(", ") %>
                <% else %>
                  <%= product.categories.map{ |category| category.name }.join(", ") %>
                <% end %>
              </td>
              <% if setups.any? %>
                <td class="Table-sm">
                  <% setup = setups.find_by(products: product.id) %>
                  <%= setup ? setup.name : "-" %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </table-saw>
  <% else %>
    <%= render "shared/empty_state", message: empty_state %>
  <% end %>
</div>
