<%
  def convert(unit)
    case unit
    when 'kg' then
      multi = 1 / 0.454
      other_unit = 'lb'
    when 'lb' then
      multi = 0.454
      other_unit = 'kg'
    when 'cm' then
      multi = 1 / 2.54
      other_unit = 'in'
    when 'in' then
      multi = 1 * 2.54
      other_unit = 'cm'
    end

    [multi, other_unit]
  end
%>
<h2>Characteristics</h2>
<dl class="Entity-section Data">
  <% Array(attributes).sort.each do |ca| %>
    <% active_record = CustomAttribute.find_by(label: ca[0]) %>
    <% if active_record.present? %>
      <dt><%= t("custom_attribute_labels.#{ca[0]}") %></dt>
      <dd>
        <% if ca[1].is_a?(Hash) %>
          <% unit = ca[1]['unit'].present? ? ca[1]['unit'] : active_record.units.first %>
          <% translated_unit = t("custom_attribute_units.#{unit}").html_safe if unit.present? %>
          <% if ca[1]['value'].is_a?(Hash) %>
            <% ca[1]['value'].each do |v| %>
              <%= t("custom_attribute_inputs.#{v[0]}") %>: <%= number_with_precision(v[1], precision: 4, strip_insignificant_zeros: true) %> <%= translated_unit %>
              <% if active_record.units.size == 2 %>
                <% multi, other_unit = convert(unit) %>
                / <%= number_with_precision(v[1] * multi, precision: 4, strip_insignificant_zeros: true) %> <%= other_unit %>
              <% end %>
              <br>
            <% end %>
          <% elsif ca[1]['value'].present? %>
            <%= number_with_precision(ca[1]['value'], precision: 4, strip_insignificant_zeros: true) %> <%= translated_unit %>
            <% if active_record.units.size == 2 %>
              <% multi, other_unit = convert(unit) %>
              <% if other_unit %>
                / <%= number_with_precision(ca[1]['value'] * multi, precision: 4, strip_insignificant_zeros: true) %> <%= other_unit %>
              <% end %>
            <% end %>
          <% else %>
            n/a
          <% end %>
        <% elsif ca[1].is_a?(Array) %>
          <%= ca[1].map { |id| t("custom_attributes.#{active_record.options[id.to_s]}") }.join(", ") %>
        <% else %>
          <% if active_record[:input_type] == 'boolean' %>
            <%= t("custom_attributes.#{ca[1] ? 'yes' : 'no'}") %>
          <% else %>
            <%= t("custom_attributes.#{active_record.options[ca[1].to_s]}") %>
          <% end %>
        <% end %>
      </dd>
    <% end %>
  <% end %>
</dl>
