<% redirect_to ||= nil %>
<button class="u-textUnderline" data-dialog="dialog-<%= id %>"><%= t('product.remove.label') %></button>

<dialog id="dialog-<%= id %>">
  Do you want to move your <b><%= possession.display_name %></b> to your list of previous products?

  <div class="Form-submit">
    <div class="u-flex u-spaceBetween u-alignCenter u-gap-md u-flexWrap">
      <div class="u-flex u-spaceBetween u-gap-md">
        <%= form_tag possession_move_to_prev_owneds_path(possession_id: possession.id) do %>
          <% if redirect_to %>
            <input type="hidden" name="redirect_to" value="<%= redirect_to %>">
          <% end %>
          <button class="Button">Yes</button>
        <% end %>
        <%= button_to possession.delete_path, method: :delete, class: "Button Button--negative" do %>
          No, just remove it from my collection
        <% end %>
      </div>
      <form method="dialog">
        <button>Close</button>
      </form>
    </div>
  </div>
</dialog>
