<% redirect_to ||= nil %>
<button class="u-textUnderline" data-dialog="dialog-<%= id %>"><%= t('bookmark_list.remove_bookmark.label') %></button>

<dialog id="dialog-<%= id %>">
  <%= sanitize t('bookmark_list.remove_bookmark.confirm', name: possession.display_name), tags: ['b'] %>

  <div class="Form-submit">
    <div class="u-flex u-spaceBetween u-alignCenter u-gap-md u-flexWrap">
      <div class="u-flex u-spaceBetween u-gap-md">
        <%= button_to possession.delete_path, method: :delete, class: "Button" do %>
          Yes
        <% end %>
        <%= form_for possession, method: :put do %>
          <input type="hidden" name="remove_from_bookmark_list" value="1">
          <% if redirect_to %>
            <input type="hidden" name="redirect_to" value="<%= redirect_to %>">
          <% end %>
          <button class="Button Button--negative">No, just remove it from this list</button>
        <% end %>
      </div>
      <form method="dialog">
        <button>Close</button>
      </form>
    </div>
  </div>
</dialog>
