<% show_labels ||= false %>
<% product ||= nil %>
<% brand ||= nil %>
<% only ||= [:discontinued, :closed, :has_brand, :has_product] %>

<div class="Symbols">

  <% if only.include?(:discontinued) && product && product.discontinued || only.include?(:closed) && brand && brand.closed %>
    <div class="Symbols-item">
      <% if show_labels %>
        <span class="Symbol"><%= t('symbols.discontinued') %></span>
      <% else %>
        <span class="Symbol Symbol--iconOnly" title="<%= t('symbols.discontinued') %>" aria-label="<%= t('symbols.discontinued') %>">D</span>
      <% end %>
    </div>
  <% end %>

  <% if only.include?(:has_brand) && user_has_brand?(brand) %>
    <div class="Symbols-item">
      <% if show_labels %>
        <span class="Symbol Symbol--positive">✓ <%= t('symbols.in_your_collection') %></span>
      <% else %>
        <span class="Symbol Symbol--positive Symbol--iconOnly" title="<%= t('symbols.in_your_collection') %>" aria-label="<%= t('symbols.in_your_collection') %>">✓</span>
      <% end %>
    </div>
  <% end %>

  <% if only.include?(:has_product) && user_has_product?(product) %>
    <div class="Symbols-item">
      <% if show_labels %>
        <span class="Symbol Symbol--positive">✓ <%= t('symbols.in_your_collection') %></span>
      <% else %>
        <span class="Symbol Symbol--positive Symbol--iconOnly" title="<%= t('symbols.in_your_collection') %>" aria-label="<%= t('symbols.in_your_collection') %>">✓</span>
      <% end %>
    </div>
  <% end %>

</div>
