<% show_labels ||= false %>
<% product ||= nil %>
<% brand ||= nil %>
<% only ||= [:discontinued, :has_brand, :has_product, :has_bookmark, :has_prev_owned] %>

<div class="Symbols">

  <% if only.include?(:discontinued) && (product && product.discontinued || brand && brand.discontinued) %>
    <div class="Symbols-item">
      <% if show_labels %>
        <span class="Symbol"><%= t('symbols.discontinued') %></span>
      <% else %>
        <span class="Symbol Symbol--iconOnly" title="<%= t('symbols.discontinued') %>" aria-label="<%= t('symbols.discontinued') %>">D</span>
      <% end %>
    </div>
  <% end %>

  <% if only.include?(:has_brand) && user_has_brand?(current_user, brand) %>
    <div class="Symbols-item">
      <% if show_labels %>
        <span class="Symbol Symbol--positive">✓ <%= t('symbols.in_your_collection') %></span>
      <% else %>
        <span class="Symbol Symbol--positive Symbol--iconOnly" title="<%= t('symbols.in_your_collection') %>" aria-label="<%= t('symbols.in_your_collection') %>">✓</span>
      <% end %>
    </div>
  <% end %>

  <% if only.include?(:has_product) && user_has_product?(current_user, product.id) %>
    <div class="Symbols-item">
      <% if show_labels %>
        <span class="Symbol Symbol--positive">✓ <%= t('symbols.in_your_collection') %></span>
      <% else %>
        <span class="Symbol Symbol--positive Symbol--iconOnly" title="<%= t('symbols.in_your_collection') %>" aria-label="<%= t('symbols.in_your_collection') %>">✓</span>
      <% end %>
    </div>
  <% end %>

  <% if only.include?(:has_bookmark) && user_has_bookmark?(current_user, product) %>
    <div class="Symbols-item">
      <% if show_labels %>
        <span class="Symbol Symbol--positive">✓ <%= t('symbols.in_your_bookmarks') %></span>
      <% else %>
        <span class="Symbol Symbol--positive Symbol--iconOnly" title="<%= t('symbols.in_your_bookmarks') %>" aria-label="<%= t('symbols.in_your_bookmarks') %>">B</span>
      <% end %>
    </div>
  <% end %>

  <% if only.include?(:has_prev_owned) && user_has_previously_owned?(current_user, product) %>
    <div class="Symbols-item">
      <% if show_labels %>
        <span class="Symbol">P <%= t('symbols.prev_owned') %></span>
      <% else %>
        <span class="Symbol Symbol--iconOnly" title="<%= t('symbols.prev_owned') %>" aria-label="<%= t('symbols.prev_owned') %>">P</span>
      <% end %>
    </div>
  <% end %>
</div>
