<div class="Symbols"
  <%= "data-product-variant=#{item.id}" if type == 'ProductVariant' %>
  <%= "data-product=#{item.id}" if type == 'Product' %>
  <%= "data-brand=#{item.id}" if type == 'Brand' %>
>
  <div class="Symbols-item" data-symbol="in_collection" hidden>
    <svg title="<%= t('symbols.in_your_collection') %>" aria-label="<%= t('symbols.in_your_collection') %>" class="IconSymbol IconSymbol--positive" xmlns="http://www.w3.org/2000/svg" viewBox="2 2 20 20" width="24" height="24"><path stroke-linecap="round" stroke-linejoin="round" d="m9 12.8 2.3 2.2L15 9.7m6 2.3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/></svg>
  </div>

  <div class="Symbols-item" data-symbol="previously_owned" hidden>
    <span title="<%= t('symbols.prev_owned') %>" aria-label="<%= t('symbols.prev_owned') %>" class="IconSymbol IconSymbol--prevOwned">P</span>
  </div>

  <div class="Symbols-item" data-symbol="bookmarked" hidden>
    <svg title="<%= t('symbols.in_your_bookmarks') %>" aria-label="<%= t('symbols.in_your_bookmarks') %>" class="IconSymbol IconSymbol--bookmark" xmlns="http://www.w3.org/2000/svg" viewBox="2 2 20 20" width="24" height="24"><path stroke-linecap="round" stroke-linejoin="round" d="M17.6 3.32c1.1.13 1.9 1.08 1.9 2.19V21L12 17.25 4.5 21V5.5c0-1.1.8-2.05 1.9-2.18a48.5 48.5 0 0 1 11.2 0Z"/></svg>
  </div>
</div>
