<% content = capture do %>
  <%= form_for @bookmark_list, url: bookmark_list_path(id: @bookmark_list.id), html: { class: "EntityForm", method: :put } do |f| %>
    <%= render "form", f: f, bookmark_list: @bookmark_list %>
  <% end %>

  <h2>Delete <%= @bookmark_list.name %></h2>
  <%= render "shared/delete_bookmark_list_dialog", bookmark_list: @bookmark_list %>
<% end %>

<%= render layout: "shared/dashboard", locals: { active_dashboard_menu: @active_dashboard_menu } do %>
  <%= render "layout", content:, heading: @bookmark_list.name %>
<% end %>
