<%= render layout: "shared/dashboard", locals: { active_dashboard_menu: @active_dashboard_menu } do %>
  <%= form_for @bookmark_list, url: bookmark_list_path(id: @bookmark_list.id), html: { class: "EntityForm", method: :put } do |f| %>
    <% content_for :heading do %>
      <%= t('edit') %>
      <span><%= @bookmark_list.name %></span>
    <% end %>

    <%= render "form", f: f, bookmark_list: @bookmark_list %>
  <% end %>
<% end %>

<dialog id="content-explanation">
  <div class="Rte">
    <h2>What are bookmark lists?</h2>
    <p>You can create lists and assign your bookmarks to those.</p>
    <p>This can be helpful if you for example bookmark lots of products of one category or if you want to get a whole new setup and have all the bookmarks for that in one place.</p>
    <form method="dialog">
      <button class="Button">Close</button>
    </form>
  </div>
</dialog>
