<% content = capture do %>
  <%= form_for @bookmark_list, url: bookmark_list_path(id: @bookmark_list.id), html: { class: "EntityForm", method: :put } do |f| %>
    <%= render "form", f: f, bookmark_list: @bookmark_list %>
  <% end %>

  <h2>Delete <%= @bookmark_list.name %></h2>
  <%= button_to t('bookmark_list.delete.label'),
    bookmark_list_path(id: @bookmark_list.id),
    method: :delete,
    class: "DeleteButton Button Button--negative",
    "data-msg": t('bookmark_list.delete.confirm', name: @bookmark_list.name)
  %>
<% end %>

<%= render layout: "shared/dashboard", locals: { active_dashboard_menu: @active_dashboard_menu } do %>
  <%= render "layout", content:, heading: @bookmark_list.name %>
<% end %>
