<div class="EntityPossession-giftToggle">
  <%= f.check_box :gift %>
  <%= f.label :gift %>
</div>
<div class="EntityPossession-formPrice">
  <div class="u-flex u-gap-md">
    <div>
      <%= f.label :price_purchase %>
      <%= f.text_field :price_purchase, inputmode: "number" %>
    </div>
    <div>
      <%= f.label :price_purchase_currency %>
      <%= f.select :price_purchase_currency do %>
        <option value=""></option>
        <% ['USD', 'EUR'].each do |id| %>
          <option value="<%= id %>"<%= " selected" if f.object[:price_purchase_currency] == id %>><%= CURRENCIES.find { |currency| currency[:id] == id }[:name] %></option>
        <% end %>
        <hr>
        <% CURRENCIES.select { |currency| !['USD', 'EUR'].include?(currency[:id]) }.sort_by { |currency| currency[:id] }.each do |currency| %>
          <option value="<%= currency[:id] %>"<%= " selected" if f.object[:price_purchase_currency] == currency[:id] %>><%= currency[:name] %></option>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if possession.prev_owned %>
    <div class="u-flex u-gap-md">
      <div>
        <%= f.label :price_sale %>
        <%= f.text_field :price_sale, inputmode: "number" %>
      </div>
      <div>
        <%= f.label :price_sale_currency %>
        <%= f.select :price_sale_currency do %>
          <option value=""></option>
          <% ['USD', 'EUR'].each do |id| %>
            <option value="<%= id %>"<%= " selected" if f.object[:price_sale_currency] == id %>><%= CURRENCIES.find { |currency| currency[:id] == id }[:name] %></option>
          <% end %>
          <hr>
          <% CURRENCIES.select { |currency| !['USD', 'EUR'].include?(currency[:id]) }.sort_by { |currency| currency[:id] }.each do |currency| %>
            <option value="<%= currency[:id] %>"<%= " selected" if f.object[:price_sale_currency] == currency[:id] %>><%= currency[:name] %></option>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
