<div class="Heading">
  <h1><%= @sub_category.name %></h1>
</div>

<%= render "shared/filter", reset_path: category_sub_category_path(id: @sub_category.friendly_id, category_id: @sub_category.category.friendly_id), collection: @products, render_abc: true, render_categories: false, sub_categories: @sub_categories %>

<% if @products.any? %>
  <table>
    <thead>
      <tr>
        <th><%= t('headings.brand').html_safe %></th>
        <th><%= t('name') %></th>
        <th class="Table-symbols"></th>
      </tr>
    </thead>
    <tbody>
      <% @products.sort_by{|c| c[:name].downcase}.each do |product| %>
        <tr<% if user_has_product?(current_user, product) %> class="is-positive"<% end %>>
          <td><%= product.brand.name %></td>
          <th scope="row"><%= link_to product.name, product_path(id: product.friendly_id) %></th>
          <td class="Table-symbols">
            <%= render "shared/symbols", product: product %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @products %>
<% else %>
  <%= render "shared/empty_state", message: t('empty_state.products') %>
<% end %>

<%= render "shared/page_actions" %>
