<% content_for :css do %>
  <%= stylesheet_link_tag "contributions", crossorigin: true, integrity: true %>
<% end %>
<%= render layout: "shared/dashboard", locals: { active_dashboard_menu: @active_dashboard_menu } do %>
  <div class="Heading">
    <h1><%= t('headings.contributions') %></h1>
  </div>

  <div class="Contributions u-flex u-flexWrap u-gap-lg">
    <div class="Contributions-section Contributions-section--lvl1">
      <h2><%= Product.model_name.human(count: 2) %></h2>
      <div class="u-flex u-flexWrap u-gap-lg">
        <div class="Contributions-section Contributions-section--lvl2">
          <h3><%= t('headings.created') %></h3>
          <% if @items['create'] %>
            <ol>
              <% @items['create'].each do |product| %>
                <li><%= link_to product.display_name, product.path %></li>
              <% end %>
            </ol>
          <% else %>
            -
          <% end %>
        </div>
        <div class="Contributions-section Contributions-section--lvl2">
          <h3><%= t('headings.edited') %></h3>
          <% if @items['update'] %>
            <ol>
              <% @items['update'].each do |product| %>
                <li><%= link_to product.display_name, product.path %></li>
              <% end %>
            </ol>
          <% else %>
            -
          <% end %>
        </div>
      </div>
    </div>
    <div class="Contributions-section Contributions-section--lvl1">
      <h2><%= Brand.model_name.human(count: 2) %></h2>
      <div class="u-flex u-flexWrap u-gap-lg">
        <div class="Contributions-section Contributions-section--lvl2">
          <h3><%= t('headings.created') %></h3>
          <% if @brands['create'] %>
            <ol>
              <% @brands['create'].each do |brand| %>
                <li><%= link_to brand.name, brand %></li>
              <% end %>
            </ol>
          <% else %>
            -
          <% end %>
        </div>
        <div class="Contributions-section Contributions-section--lvl2">
          <h3><%= t('headings.edited') %></h3>
          <% if @brands['update'] %>
            <ol>
              <% @brands['update'].each do |brand| %>
                <li><%= link_to brand.name, brand %></li>
              <% end %>
            </ol>
          <% else %>
            -
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
