<% content_for :css do %>
  <%= stylesheet_link_tag "numbers" %>
  <%= stylesheet_link_tag "statistics" %>
  <%= stylesheet_link_tag "user_dashboard" %>
<% end %>
<%= render layout: "shared/dashboard", locals: { active_dashboard_menu: @active_dashboard_menu } do %>
  <h1><span><%= t('headings.dashboard') %></span><%= ", #{current_user.user_name}" %>!</h1>
  
  <% if @app_news.any? %>
    <details class="AppNews">
      <summary><%= t('app_news.heading') %></summary>
      <div class="Rte">
        <% @app_news.each do |news| %>
          <div>
            <time datetime="<%= news.created_at %>"><%= format_date(news.created_at) %></time>
            <%= news.formatted_text %>
          </div>
        <% end %>
        <%= button_to app_news_mark_as_read_path(ids: @app_news.map(&:id)), class: "Button" do %>
          <%= t('app_news.mark_as_read') %>
        <% end %>
      </div>
    </details>
  <% end %>

  <div class="UserDashboard">
    <div class="UserDashboard-feed">
      <%= render "shared/overview/section_heading",
          heading: t('headings.feed'),
          heading_class: "UserDashboard-heading",
          view_all_path: dashboard_feed_path %>
      <%= render "shared/activity_feed/feed", feed_items: @feed, empty_state_message: t('empty_state.no_activity_dashboard'), show_actor: true %>
    </div>

    <div class="UserDashboard-content">

      <%= render "shared/overview/statistics_section",
          section_class: "UserDashboard-statistics",
          heading_class: "UserDashboard-heading",
          heading: t('headings.your_insights'),
          view_all_path: dashboard_statistics_root_path,
          statistics: overview_statistics_for(
            products_count: @current_amount_of_products,
            brands_count: @current_amount_of_brands,
            spendings: @current_spendings
          ) %>

      <%= render "shared/overview/events_section",
          section_class: "UserDashboard-events",
          heading_class: "UserDashboard-heading",
          heading: t('headings.your_events'),
          view_all_path: dashboard_events_path,
          events: @events,
          attendee_counts: @event_attendee_counts,
          empty_message: t('empty_state.no_upcoming_events', path: dashboard_events_path) %>

      <div class="UserDashboard-newest">
        <div class="UserDashboard-heading">
          <h2>New on HiFi&thinsp;Log</h2>
        </div>
        
        <div class="UserDashboard-newestLists">

          <% if @newest_products.length > 0 %>
            <div>
              <div class="UserDashboard-subHeading">
                <h3><%= Product.model_name.human.pluralize %></h3>
                <%= link_to "View all", products_path %>
              </div>
              <ol>
                <% @newest_products.first(5).each do |product| %>
                  <li>
                    <%= link_to product.model_no.present? ? "#{product.display_name} (#{product.model_no})" : product.display_name, product.path %>
                  </li>
                <% end %>
              </ol>
            </div>
          <% end %>

          <% if @newest_brands.length > 0 %>
            <div>
              <div class="UserDashboard-subHeading">
                <h3><%= Brand.model_name.human.pluralize %></h3>
                <%= link_to "View all", brands_path %>
              </div>
              <ol>
                <% @newest_brands.first(5).each do |brand| %>
                  <li>
                    <%= link_to brand.name, brand_path(id: brand.friendly_id) %>
                  </li>
                <% end %>
              </ol>
            </div>
          <% end %>

          <% if @newest_events.length > 0 %>
            <div>
              <div class="UserDashboard-subHeading">
                <h3><%= Event.model_name.human.pluralize %></h3>
                <%= link_to "View all", events_path %>
              </div>
              <ol>
                <% @newest_events.first(5).each do |event| %>
                  <li>
                    <%= link_to event.name, event_path(year: event.calendar_year, slug: event.friendly_id) %>
                  </li>
                <% end %>
              </ol>
            </div>
          <% end %>
          
          <div>
            <div class="UserDashboard-subHeading">
              <h3><%= User.model_name.human.pluralize %></h3>
              <%= link_to "View all", users_path %>
            </div>
            <ol>
              <% @newest_users.each do |user| %>
                <li>
                  <%= user.visible? ?  link_to(user.user_name, user_path(id: user.lowercase_user_name)) : user.user_name %>
                </li>
              <% end %>
            </ol>
          </div>

        </div>

      </div>

    </div>
  </div>
<% end %>
