<% content_for :css do %>
  <%= stylesheet_link_tag "numbers" %>
  <%= stylesheet_link_tag "statistics" %>
  <%= stylesheet_link_tag "user_dashboard" %>
<% end %>
<%= render layout: "shared/dashboard", locals: { active_dashboard_menu: @active_dashboard_menu } do %>
  <h1><span><%= t('headings.dashboard') %></span><%= ", #{current_user.user_name}" %>!</h1>
  
  <% if @app_news.any? %>
    <details class="AppNews">
      <summary><%= t('app_news.heading') %></summary>
      <div class="Rte">
        <% @app_news.each do |news| %>
          <div>
            <time datetime="<%= news.created_at %>"><%= format_date(news.created_at) %></time>
            <%= news.formatted_text %>
          </div>
        <% end %>
        <%= button_to app_news_mark_as_read_path(ids: @app_news.map(&:id)), class: "Button" do %>
          <%= t('app_news.mark_as_read') %>
        <% end %>
      </div>
    </details>
  <% end %>

  <div class="UserDashboard">
    <div class="UserDashboard-feed">
      <div class="UserDashboard-heading">
        <h2>Your Activity</h2>
        <%= link_to "View all", dashboard_activity_path %>
      </div>
      <%= render "shared/feed", feed_items: @feed, empty_state_message: t('empty_state.no_activity_dashboard') %>
    </div>

    <div class="UserDashboard-content">
  
      <div class="UserDashboard-statistics Statistics">
        <div class="UserDashboard-heading">
          <h2>Your Statistics</h2>
          <%= link_to "View all", dashboard_statistics_root_path %>
        </div>
        <%= render "statistics/overview_statistics",
            overview_statistics: current_overview_statistics(
              products_count: @current_amount_of_products,
              brands_count: @current_amount_of_brands,
              spendings: @current_spendings
            ) %>
      </div>

      <div class="UserDashboard-events">
        <div class="UserDashboard-heading">
          <h2>Your Events</h2>
          <%= link_to "View all", dashboard_events_path %>
        </div>

        <% if @events.any? %>
          <%= render "shared/compact_events_list", events: @events, attendee_counts: @event_attendee_counts %>
        <% else %>
          <%= render "shared/empty_state", message: "<p><b>You have no upcoming events.</b></p><p>You can view all upcoming events <a href=\"#{dashboard_events_path}\">here</a>.</p>" %>
        <% end %>
      </div>

      <div class="UserDashboard-newest">
        <div class="UserDashboard-heading">
          <h2>New on HiFi&thinsp;Log</h2>
        </div>
        
        <div class="UserDashboard-newestLists">

          <% if @newest_products.length > 0 %>
            <div>
              <div class="UserDashboard-subHeading">
                <h3><%= Product.model_name.human.pluralize %></h3>
                <%= link_to "View all", products_path %>
              </div>
              <ol>
                <% @newest_products.last(5).each do |product| %>
                  <li>
                    <%= link_to product.model_no.present? ? "#{product.display_name} (#{product.model_no})" : product.display_name, product.path %>
                  </li>
                <% end %>
              </ol>
            </div>
          <% end %>

          <% if @newest_brands.length > 0 %>
            <div>
              <div class="UserDashboard-subHeading">
                <h3><%= Brand.model_name.human.pluralize %></h3>
                <%= link_to "View all", brands_path %>
              </div>
              <ol>
                <% @newest_brands.last(5).each do |brand| %>
                  <li>
                    <%= link_to brand.name, brand_path(id: brand.friendly_id) %>
                  </li>
                <% end %>
              </ol>
            </div>
          <% end %>

          <% if @newest_events.length > 0 %>
            <div>
              <div class="UserDashboard-subHeading">
                <h3><%= Event.model_name.human.pluralize %></h3>
                <%= link_to "View all", events_path %>
              </div>
              <ol>
                <% @newest_events.last(5).each do |event| %>
                  <li>
                    <%= link_to event.name, event_path(year: event.calendar_year, slug: event.friendly_id) %>
                  </li>
                <% end %>
              </ol>
            </div>
          <% end %>
          
          <div>
            <div class="UserDashboard-subHeading">
              <h3><%= User.model_name.human.pluralize %></h3>
              <%= link_to "View all", users_path %>
            </div>
            <ol>
              <% @newest_users.each do |user| %>
                <li>
                  <%= user.visible? ?  link_to(user.user_name, user_path(id: user.lowercase_user_name)) : user.user_name %>
                </li>
              <% end %>
            </ol>
          </div>

        </div>

      </div>

    </div>
  </div>
<% end %>
