<%= render layout: "shared/dashboard" do %>
  <div class="Heading">
    <h1><%= current_user.user_name ? t('headings.dashboard_name', name: current_user.user_name) : t('headings.dashboard') %></h1>
  </div>

  <ul class="DashboardNumbers">
    <li>
      <%= link_to dashboard_products_path, class: "DashboardNumber" do %>
        <h2 class="DashboardNumber-heading"><%= t('heading.products') %></h2>
        <span class="DashboardNumber-value"><%= user_products_count(current_user) %></span>
      <% end %>
    </li>
    <li>
      <%= link_to dashboard_bookmarks_path, class: "DashboardNumber" do %>
        <h2 class="DashboardNumber-heading"><%= t('heading.bookmarks') %></h2>
        <span class="DashboardNumber-value"><%= user_bookmarks_count(current_user) %></span>
      <% end %>
    </li>
    <li>
      <%= link_to dashboard_setups_path, class: "DashboardNumber" do %>
        <h2 class="DashboardNumber-heading"><%= t('heading.setups') %></h2>
        <span class="DashboardNumber-value"><%= user_setups_count(current_user) %></span>
      <% end %>
    </li>
  </ul>

  <div class="DashboardStats">
    <h2>Your Hifi&hairsp;log Stats</h2>

    <table>
      <thead>
        <tr>
          <th colspan="2"><%= t('headings.products') %></th>
          <th colspan="2"><%= t('headings.brands') %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span>Created</span> <%= @products_created %></td>
          <td><span>Edited</span> <%= @products_edited %></td>
          <td><span>Created</span> <%= @brands_created %></td>
          <td><span>Edited</span> <%= @brands_edited %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
