<% additional_instructions ||= [] %>

<% content_for :guidelines do %>
  <details class="Instructions">
    <summary>Product Version / Update Guidelines</summary>
    <div class="Instructions-content Rte">
      <p>Thank you for contributing to HiFi&thinsp;Log!</p>
      <p>Please read the following instructions to make sure all products are added properly:</p>
      <ul>
        <li>If possible, please add a short, descriptive name like "LTD 2024" or "Update 2024".</li>
        <li>Not all information has to be filled out right away. Fields marked with "optional" can be filled out later.</li>
        <li>If you for example only know the year (or year and month) when an update / a version has been released or discontinued, you can omit the other fields.</li>
        <li>The description can contain any relevant information that is not covered by the other fields, i.e. more detailed information about this specific version or update as in "Temporarily available in special colors" or similar.</li>
        <li>
          The description field supports Markdown for basic styling:<br>
          <code><b><%= "**bold text**" %></b></code><br>
          <code><em><%= "*italic text*" %></em></code><br>
          <code><%= "- unordered lists" %></code><br>
          <code><%= "1. ordered lists" %></code>
        </li>
        <li>The price should ideally be the retail price recommended by the manufacturer provided in USD (or alternatively in EUR) to allow better comparisons. If you cannot provide that, you can also add the price in a different currency.</li>
        <li>Product versions / updates should cover smaller updates or special editions of a product, introduced under the same product name. Major updates (usually introduced with a name update like "MK II") or variants (usually coming with different technical performances) should be added as a new product.</li>
        <% additional_instructions.each do |instruction| %>
          <li><%= instruction %></li>
        <% end %>
      </ul>
      </ul>
    </div>
  </details>
<% end %>

<%= render "shared/product_form", f: f, entity: product_variant, include_comment: include_comment, prefix: "product_variant", brand: brand do %>
  <div class="Form-grid u-gap-lg">
    <div>
      <div class="Form-field">
        <%= f.label :name, class: "Form-label h3" %>
        <%= f.text_field :name, required: true %>
      </div>
    </div>

    <div>
      <div class="Form-field">
        <%= f.label :model_no, class: "Form-label h3" do %>
          Model no. / Alternative name
          <small><i>(optional)</i></small>
        <% end %>
        <%= f.text_field :model_no %>
      </div>
    </div>
  </div>
<% end %>
