<% content_for :css do %>
  <%= stylesheet_link_tag "entity", crossorigin: true, integrity: true %>
  <%= stylesheet_link_tag "product", crossorigin: true, integrity: true %>
<% end %>
<% content_for :js do %>
  <%= javascript_include_tag "gallery", type: "module", nonce: true, crossorigin: true, integrity: true %>
<% end %>
<div class="Entity">
  <div class="Entity-main">
    <div class="Product-details">
      <div class="Heading">
        <h1>
          <span><%= @product.brand.name %></span> <%= @product.name %>
          <span class="Product-variantName">&mdash; <%= @product_variant.name_with_fallback %></span>
        </h1>
      </div>

      <% if @product_variant.description.present? %>
        <div class="Entity-description Rte">
          <%= sanitize @product_variant.formatted_description.html_safe, tags: %w(p b i strong em br ul ol li) %>
        </div>
      <% end %>

      <dl class="Data">
        <% if @product_variant.discontinued? %>
          <dt><%= t('status') %></dt>
          <dd><span class="Symbol"><%= t('symbols.discontinued') %></span></dd>
        <% end %>
        <% if @product.brand.present? %>
          <dt><%= Brand.model_name.human %></dt>
          <dd><%= link_to @product.brand.name, brand_path(id: @product.brand.friendly_id) %></dd>
        <% end %>
        <dt><%= Category.model_name.human %></dt>
        <dd>
          <%= @product.sub_categories.map { |sub_category| link_to sub_category.name, products_path(sub_category: sub_category.friendly_id) }.join(", ").html_safe %>
          <% if @product.custom_attributes.present? %>
            <br><span class="Data-secondary"><%= @product.custom_attributes_list %></span>
          <% end %>
        </dd>
        <dt><%= Product.human_attribute_name(:release_date) %></dt>
        <dd>
          <% if @product_variant.release_date.present? %>
            <time datetime="<%= @product_variant.release_date %>" data-format="false"><%= @product_variant.release_date %></time>
          <% else %>
            -
          <% end %>
        </dd>
        <% if @product_variant.discontinued? %>
          <dt><%= t('discontinued') %></dt>
          <dd>
            <% if @product_variant.discontinued_date.present? %>
              <time datetime="<%= @product_variant.discontinued_date %>" data-format="false"><%= @product_variant.discontinued_date %></time>
            <% else %>
              -
            <% end %>
          </dd>
        <% end %>
        <dt><%= Product.human_attribute_name(:price) %><sup>1</sup></dt>
        <dd>
          <% if @product_variant.price.present? %>
            <%= @product_variant.display_price %>
          <% else %>
            -
          <% end %>
        </dd>
      </dl>

      <% if @product_variant.product_options.any? %>
        <div class="Product-section">
          <h2><%= Product.human_attribute_name(:product_options) %></h2>
          <ul>
            <% @product_variant.product_options.each do |option| %>
              <li><%= option[:option] %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if @public_possessions_with_image.any? %>
        <div class="Product-section">
          <h2>User photos</h2>
          <ul class="ImageLightbox ImageGallery" style="--size: 7.5rem;">
            <% @public_possessions_with_image.each_with_index do |possession, i| %>
              <li class="ImageLightbox-item">
                <button class="ImageLightbox-thumb ImageGallery-thumb" aria-controls="image-dialog-<%= possession.image.id %>">
                  <picture>
                    <%= image_tag cdn_image_url(possession.image.variant(:thumb)), "aria-hidden": "true", alt: "" %>
                  </picture>
                </button>
                <dialog class="ImageLightbox-dialog ImageGallery-dialog" id="image-dialog-<%= possession.image.id %>">
                  <picture>
                    <%= image_tag cdn_image_url(possession.image.variant(:large)), "aria-hidden": "true", alt: "", loading: "lazy" %>
                  </picture>
                  <div class="ImageGallery-info is-dark">
                    <% if @public_possessions_with_image.size > 1 %>
                      <% if i < @public_possessions_with_image.size - 1 %>
                        <button type="button" rel="next" aria-label="Next">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" width="24" height="24"><path stroke-linecap="round" stroke-linejoin="round" d="m8.3 4.5 7.4 7.5-7.4 7.5"/></svg>
                        </button>
                      <% end %>
                      <% if i > 0 %>
                        <button type="button" rel="prev" aria-label="Previous">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" width="24" height="24"><path stroke-linecap="round" stroke-linejoin="round" d="M15.8 19.5 8.2 12l7.6-7.5"/></svg>
                        </button>
                      <% end %>
                    <% end %>
                    <p>by <%= link_to possession.user.user_name, possession.user.profile_path %></p>
                  </div>
                </dialog>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="Product-section">
        <% if @product.product_variants.any? %>
          <div class="Heading">
            <h2>All versions / updates</h2>
            <%= link_to t('product_variant.new.link'), user_signed_in? ? product_variants_new_path(product_id: @product.friendly_id) : new_user_session_path(redirect: product_variants_new_path(product_id: @product.friendly_id)) %>
          </div>
          <table-saw breakpoint="(max-width: 40rem)" type="container">
            <table>
              <thead>
                <th class="u-hiddenVisually">
                  <%= Product.human_attribute_name(:discontinued) %>
                </th>
                <th><%= Product.human_attribute_name(:name) %></th>
                <th><%= Product.human_attribute_name(:description) %></th>
                <th><%= Product.human_attribute_name(:release_date) %></th>
                <th><%= Product.human_attribute_name(:price) %><sup>1</sup></th>
                <th class="Table-symbols"><%= t('status') %></th>
              </thead>
              <tbody>
                <tr<% if @product.discontinued? %> class="is-discontinued"<% end %>>
                  <td class="u-hiddenVisually">
                    <% if @product.discontinued? %>
                      <%= Product.human_attribute_name(:discontinued) %>
                    <% end %>
                  </td>
                  <th><b><%= link_to @product.name, product_path(id: @product.friendly_id) %></b></th>
                  <td class="Table-sm">Initial / Stock version</td>
                  <td class="Table-sm"><%= @product.release_date.present? ? @product.release_date : "-" %></td>
                  <td class="Table-sm"><%= @product.price.present? ? @product.display_price : "-" %></td>
                  <td class="Table-symbols"><%= render "shared/symbols", product: @product %></td>
                </tr>
                <% @product.product_variants.order(:release_year, :release_month, :release_day).each do |variant| %>
                  <tr<% if @product_variant == variant %> aria-current="true"<% end %><% if variant.discontinued? %> class="is-discontinued"<% end %>>
                    <td class="u-hiddenVisually">
                      <% if variant.discontinued? %>
                        <%= Product.human_attribute_name(:discontinued) %>
                      <% end %>
                    </td>
                    <th><b><%= link_to variant.name_with_fallback, variant.path %></b></th>
                    <td class="Table-sm"><%= variant.description.present? ? variant.description : "-" %></td>
                    <td class="Table-sm"><%= variant.release_date.present? ? variant.release_date : "-" %></td>
                    <td class="Table-sm"><%= variant.price.present? ? variant.display_price : "-" %></td>
                    <td class="Table-symbols"><%= render "shared/symbols", product_variant: variant %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </table-saw>
        <% end %>
      </div>
    </div>
  </div>
  <div class="Entity-sub Product-sub u-pullOut">
    <%= render "products/actions" %>

    <hr>

    <dl>
      <dt>Notes</dt>
      <dd>
        <% if @note.present? %>
          Last Updated: <%= link_to product_new_variant_notes_path(product_id: @product.friendly_id, id: @product_variant.friendly_id) do %>
            <time datetime="<%= formatted_datetime @note.updated_at %>" data-time="true"><%= formatted_datetime @note.updated_at %></time>
          <% end %>
        <% else %>
          <%= link_to "Add notes", user_signed_in? ? product_new_variant_notes_path(product_id: @product.friendly_id, id: @product_variant.friendly_id) : new_user_session_path(redirect: product_new_variant_notes_path(product_id: @product.friendly_id, id: @product_variant.friendly_id)) %>
        <% end %>
      </dd>
      <dt><%= t('product.meta.owned_by') %></dt>
      <dd><%= t('amount_users', count: @product_variant.users.size) %></dd>
    </dl>

    <div class="Entity-meta">
      <ul class="Entity-metaLinks MetaLinks">
        <li>
          <%= link_to t('edit'), user_signed_in? ? product_edit_variant_path(product_id: @product.friendly_id, id: @product_variant.friendly_id) : new_user_session_path(redirect: product_edit_variant_path(product_id: @product.friendly_id, id: @product_variant.friendly_id)) %>
        </li>
        <li>
          <%= link_to t('headings.changelog'), user_signed_in? ? product_variant_changelog_path(product_id: @product.friendly_id, id: @product_variant.friendly_id) : new_user_session_path(redirect: product_variant_changelog_path(product_id: @product.friendly_id, id: @product_variant.friendly_id)) %>
        </li>
      </ul>
      <dl>
        <dt><%= t('headings.contributors') %></dt>
        <dd>
          <%= @contributors.any? ? @contributors.map { |c| c["profile_visibility"] != 0 ? (link_to c["user_name"], user_path(id: c["user_name"].downcase)) : c["user_name"] }.join(", ").html_safe : "hifilog.com" %>
          </ul>
        </dd>
      </dl>
    </div>
  </div>
</div>

<ol class="Footnotes">
  <li>The provided price is the retail price given by the manufacturer. If the product has multiple versions, this is the lowest price, i.e. the price for the basic / stock version. Please note that this information might be outdated and that it most likely is different from country to country.</li>
</ol>
