<div class="Feed-body">
  <div class="Feed-iconContainer" aria-hidden="true">
    <%= user_activity_icon(verb, event_upcoming:) %>
    <%= render "shared/activity/icon_check", verb: verb, event_past:, event_upcoming: %>
  </div>
  <div class="Feed-text">
    <div class="Feed-primary">
      <%= primary_html %>
    </div>
    <time datetime="<%= format_iso_datetime logged_at %>" title="<%= logged_at.strftime("%B %d, %Y") %>">
      <%= time_ago_in_words logged_at %> ago
    </time>
  </div>
</div>
