<div class="Heading">
  <h1><%= t('headings.brands').html_safe %></h1>
  <div class="Heading-amount">
    <%= t('amount_brands', count: @total_size) %>
  </div>
</div>

<nav class="Pagination Pagination--abc" aria-label="Filter by letter">
  <ol class="Pagination-list">
    <li>
      <a class="Pagination-all" href="<%= brands_path %>"<%= ' aria-current="true"'.html_safe unless params[:letter].present? %>>All</a>
    </li>
    <% ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'].each do |letter| %>
      <li>
        <a href="<%= letter_brands_path(letter: letter) %>"<%= ' aria-current="true"'.html_safe if params[:letter] == letter %>><%= letter %></a>
      </li>
    <% end %>
  </ol>
</nav>

<% if @brands.any? %>
  <table>
    <thead>
      <th><%= t('name') %></th>
      <th><%= t('headings.categories').html_safe %></th>
      <th class="Table-products u-alignCenter"><%= t('headings.products') %></th>
      <th class="Table-symbols"></th>
    </thead>
    <tbody>
      <% @brands.each do |brand| %>
        <tr>
          <th scope="row"><%= link_to brand.name, brand_path(id: brand.friendly_id) %></th>
          <td>
            <%= brand.categories.any? ? brand.categories.map{ |category| category.name }.join(", ").html_safe : "-" %>
          </td>
          <td class="Table-products u-alignCenter"><%= brand.products.any? ? brand.products.size : "-"  %></td>
          <td>
            <%= render "shared/symbols", brand: brand %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @brands %>
<% else %>
  <%= render "shared/empty_state", message: t('empty_state.brands') %>
<% end %>

<%= render "shared/page_actions" %>
