<div class="Heading">
  <h1><%= t('headings.brands').html_safe %></h1>
  <%= link_to t('new_brand.link'), user_signed_in? ? new_brand_path : new_user_session_path(redirect: new_brand_path), class: "Button" %>
</div>

<%= render "shared/filter", reset_path: brands_path, collection: @brands, render_abc: true, render_categories: true, render_status: true %>

<% if @brands.any? %>
  <%= render "shared/brands_table", brands: @brands %>
  <%= paginate @brands %>
<% else %>
  <%= render "shared/empty_state", message: t('empty_state.brands') %>
<% end %>

<%= render "shared/page_actions" %>
