<% content_for :header do %>
  <% if @sub_category %>
    <h1 class="h1-sm">
      <span class="IndexPage-category"><%= @category.name %></span><span class="u-hiddenVisually">:</span> <%= @sub_category.name %>
    </h1>
  <% else %>
    <h1><%= @category ? @category.name : Brand.model_name.human(count: 2) %></h1>
  <% end %>
<% end %>

<% content_for :filter do %>
  <%= render "shared/filter", reset_path: brands_path(category: params[:category]), collection: @brands, query: @brands_query, type: :brands, custom_attributes: @custom_attributes, category: @category, sub_category: @sub_category, filter_applied: @filter_applied %>
<% end %>

<% content_for :add_link do %>
  <%= link_to t('brand.new.link'), user_signed_in? ? new_brand_path(sub_category: @sub_category&.slug) : new_user_session_path(redirect: new_brand_path(sub_category: @sub_category&.slug)), class: "Button Button--secondary", rel: "nofollow" %>
<% end %>

<% content_for :sort do %>
  <input type="hidden" name="country" value="<%= params[:country] %>">
  <label for="sort"><%= t('sort_by.label') %></label>
  <select name="sort" id="sort">
    <option value="name_asc"<%= " selected" if params[:sort] == "name_asc" %>><%= t('sort_by.name_asc') %></option>
    <option value="name_desc"<%= " selected" if params[:sort] == "name_desc" %>><%= t('sort_by.name_desc') %></option>
    <option value="products_desc"<%= " selected" if params[:sort] == "products_desc" %>><%= t('sort_by.products_desc') %></option>
    <option value="products_asc"<%= " selected" if params[:sort] == "products_asc" %>><%= t('sort_by.products_asc') %></option>
    <option value="added_desc"<%= " selected" if params[:sort] == "added_desc" %>><%= t('sort_by.added_desc') %></option>
    <option value="added_asc"<%= " selected" if params[:sort] == "added_asc" %>><%= t('sort_by.added_asc') %></option>
    <option value="updated_desc"<%= " selected" if params[:sort] == "updated_desc" %>><%= t('sort_by.updated_desc') %></option>
    <option value="updated_asc"<%= " selected" if params[:sort] == "updated_asc" %>><%= t('sort_by.updated_asc') %></option>
  </select>
<% end %>

<% content_for :table do %>
  <%= render "shared/brands_table", brands: @brands, category: @category, sub_category: @sub_category, product_counts: @product_counts %>
<% end %>

<%= render "shared/index_page",
  records: @brands,
  empty_state_message: t('empty_state.brands_filter', path: new_brand_path),
  category: @category,
  sub_category: @sub_category,
  full_page: true
%>
