<div class="Heading">
  <h1><%= t('headings.brands').html_safe %></h1>
  <div class="Heading-amount">
    <%= t('amount_brands', count: @total_size) %>
  </div>
  <%= link_to t('new_brand.link'), user_signed_in? ? new_brand_path : new_user_session_path(redirect: new_brand_path), class: "Button" %>
</div>

<nav class="Pagination Pagination--abc" aria-label="<%= t('filter.abc.label') %>">
  <ol class="Pagination-list">
    <li>
      <a class="Pagination-all" href="<%= brands_path %>"<%= ' aria-current="true"'.html_safe unless params[:letter].present? %>><%= t('filter.all') %></a>
    </li>
    <% abc.each do |letter| %>
      <li>
        <a href="<%= brands_path(letter: letter) %>"<%= ' aria-current="true"'.html_safe if params[:letter] == letter %>><%= letter %></a>
      </li>
    <% end %>
  </ol>
</nav>

<% if @brands.any? %>
  <%= render "shared/brands_table", brands: @brands %>
  <%= paginate @brands %>
<% else %>
  <%= render "shared/empty_state", message: t('empty_state.brands') %>
<% end %>

<%= render "shared/page_actions" %>
