<% content_for :css do %>
  <%= stylesheet_link_tag "user_form" %>
  <%= stylesheet_link_tag "new_product" %>
<% end %>

<div class="UserForm UserForm--centered">
  <div class="Heading">
    <h1><%= t('new_brand.heading') %></h1>
  </div>

  <% if @brand.errors.any? %>
    <%= render "shared/flash_messages", messages: @brand.errors.map { |error| ["alert", error.full_message] } %>
  <% end %>

  <%= form_for @brand, html: { class: "UserForm NewProduct", method: :post } do |f| %>
    <div class="UserForm-field">
      <%= f.label :name, class: "UserForm-label" %>
      <%= f.text_field :name, required: true %>
    </div>

    <div class="UserForm-field">
      <%= f.label :website, class: "UserForm-label" %>
      <%= f.url_field :website %>
    </div>

    <div class="UserForm-field">
      <span class="UserForm-label"><%= t('symbols.discontinued') %></span>
      <div class="UserForm-options">
        <%= f.radio_button :discontinued, 0, checked: @brand.discontinued.nil? || @brand.discontinued == false %>
        <%= f.label :discontinued, "No", value: 0 %>
        <%= f.radio_button :discontinued, 1, checked: @brand.discontinued == true %>
        <%= f.label :discontinued, "Yes", value: 1  %>
      </div>
    </div>

    <div class="UserForm-submit">
      <%= f.button t('new_brand.submit'), type: "submit", class: "Button" %>
    </div>
  <% end %>
</div>
