<% content_for :css do %>
  <%= stylesheet_link_tag "form" %>
  <%= stylesheet_link_tag "entity_form" %>
<% end %>

<div class="Form Form--centered">
  <div class="Heading">
    <h1><%= t('new_brand.heading') %></h1>
  </div>

  <details class="Instructions">
    <summary>Please read before adding a brand</summary>
    <div class="Instructions-content Rte">
      <p>Thank you for contributing to HiFi&thinsp;Log!</p>
      <p>Please read the following instructions to make sure all brands are added properly:</p>
      <ul>
        <li>Not all information has to be filled out right away. Fields marked with "optional" can be filled out later.</li>
        <li>Categories will be automatically assigned to a brand based on the products added to a brand. You can however assign categories to a brand on this page, so categories are already listed for a brand when they do not have products assigned to it yet.</li>
        <li>The description can contain any relevant information that is not discovered by the other fields.</li>
        <li>
          The description field supports the following HTML tags:
          <code><%=h "<b>" %></code>,
          <code><%=h "<strong>" %></code>,
          <code><%=h "<i>" %></code>,
          <code><%=h "<em>" %></code>,
          <code><%=h "<br>" %></code>,
          <code><%=h "<ul>" %></code>,
          <code><%=h "<ol>" %></code>,
          <code><%=h "<li>" %></code>
        </li>
      </ul>
    </div>
  </details>

  <% if @brand.errors.any? %>
    <%= render "shared/flash_messages", messages: @brand.errors.map { |error| ["alert", error.full_message] } %>
  <% end %>

  <%= form_for @brand, html: { class: "Form EntityForm", method: :post } do |f| %>
    <div class="Form-field">
      <%= f.label :name, class: "Form-label" %>
      <%= f.text_field :name, required: true %>
    </div>

    <div class="Form-field">
      <%= f.label :full_name, class: "Form-label" do %>
        <%= t('brand.full_name') %> <small><i>(optional)</i></small>
      <% end %>
      <%= f.text_field :full_name %>
    </div>

    <div class="Form-field">
      <div class="Form-label"><%= t('headings.categories') %></div>
      <div class="Options">
        <% @categories.each do |category| %>
          <details <% if (category.sub_category_ids & @brand.sub_category_ids).any? %>open<% end %>>
          <summary><%= category.name %></summary>
            <% category.sub_categories.each do |sub_category| %>
              <div class="Options-item">
                <%= check_box_tag "brand[sub_category_ids][#{sub_category.id}]", sub_category.id, @brand.sub_category_ids.include?(sub_category.id), name: "brand[sub_category_ids][]" %>
                <%= label_tag "brand[sub_category_ids][#{sub_category.id}]", sub_category.name %>
              </div>
            <% end %>
          </details>
        <% end %>
      </div>
    </div>

    <div class="Form-field">
      <%= f.label :website, class: "Form-label" do %>
        <%= t('brand.website') %> <small><i>(optional)</i></small>
      <% end %>
      <%= f.url_field :website %>
    </div>

    <div class="Form-field">
      <%= f.label :year_founded, class: "Form-label" do %>
        <%= t('brand.year_founded') %> <small><i>(optional)</i></small>
      <% end %>
      <%= f.text_field :year_founded, inputmode: "number", list: "years" %>
      <datalist id="years">
        <% (1900..Date.today.year).to_a.reverse.each do |year| %>
          <option value="<%= year %>"></option>
        <% end %>
      </datalist>
    </div>

    <div class="Form-field">
      <%= f.label :country_code, class: "Form-label" do %>
        <%= t('brand.country_code') %> <small><i>(optional)</i></small>
      <% end %>
      <%= f.country_select :country_code, include_blank: true %>
    </div>

    <div class="Form-field">
      <%= f.label :description, class: "Form-label" do %>
        <%= t('brand.description') %> <small><i>(optional)</i></small>
      <% end %>
      <%= f.text_area :description %>
    </div>

    <div class="Form-field Form-field--inline">
      <span class="Form-label"><%= t('symbols.discontinued') %></span>
      <div class="Form-options">
        <%= f.radio_button :discontinued, 0, checked: @brand.discontinued.nil? || @brand.discontinued == false %>
        <%= f.label :discontinued, "No", value: 0 %>
        <%= f.radio_button :discontinued, 1, checked: @brand.discontinued == true %>
        <%= f.label :discontinued, "Yes", value: 1  %>
      </div>
    </div>

    <div class="Form-submit">
      <%= f.button type: "submit", class: "Button Button--loadingIcon" do %>
        <span><%= t('new_brand.submit') %></span>
      <% end %>
    </div>
  <% end %>
</div>
