<% content_for :header do %>
  <h1>
    <%= @brand.name %>
    <% if @sub_category.present? or @category.present? %>
      <span class="IndexPage-category"><%= (@sub_category.present? ? @sub_category : @category).name %></span>
    <% else %>
      <span class="IndexPage-category"><%= Product.model_name.human.pluralize %></span>
    <% end %>
  </h1>
<% end %>

<% content_for :actions do %>
    <b>
      <a href="<%= brand_path(id: @brand.friendly_id) %>">
        &larr; <span>Back</span>
      </a>
    </b>
    <%= link_to user_signed_in? ? new_product_path(brand_id: @brand.id, sub_category: @sub_category&.slug) : new_user_session_path(redirect: new_product_path(brand_id: @brand.id, sub_category: @sub_category&.slug)), rel: "nofollow" do %>
      <span><%= t('product.new.link') %></span>
    <% end %>
<% end %>

<% content_for :filter do %>
  <%= render "shared/filter", reset_path: brand_products_path(@brand.friendly_id), filter_brand: @brand, collection: @products, query: @products_query, type: :brand_products, custom_attributes: @custom_attributes, filter_applied: @filter_applied %>
<% end %>

<% content_for :sort do %>
  <label for="sort-select">Sort</label>
  <select name="sort" id="sort-select">
    <option value="name_asc"<%= " selected" if params[:sort] == "name_asc" %>><%= t('sort_by.name_asc') %></option>
    <option value="name_desc"<%= " selected" if params[:sort] == "name_desc" %>><%= t('sort_by.name_desc') %></option>
    <option value="release_date_desc"<%= " selected" if params[:sort] == "release_date_desc" %>><%= t('sort_by.release_date_desc') %></option>
    <option value="release_date_asc"<%= " selected" if params[:sort] == "release_date_asc" %>><%= t('sort_by.release_date_asc') %></option>
  </select>
<% end %>

<% content_for :table do %>
  <%= render "shared/products_table", products: @products, hide_brand: true, filter_applied: @filter_applied %>
<% end %>

<%= render "shared/index_page",
  records: @products,
  empty_state_message: t('empty_state.cta', name: h(@brand.name), path: user_signed_in? ? new_product_path(brand_id: @brand.id) : new_user_session_path(redirect: new_product_path(brand_id: @brand.id))),
  category: @category,
  sub_category: @sub_category,
  type: :product
%>

<%= json_ld_script_tag(brand_products_breadcrumb_json_ld(
      brand: @brand,
      category: @category,
      sub_category: @sub_category,
      canonical_url: @canonical_url
    )) %>
<%= json_ld_script_tag(brand_products_item_list_json_ld(brand: @brand, meta_desc: @meta_desc, products: @products, canonical_url: @canonical_url)) %>
