<%= render layout: "layout", locals: { active: :products } do %>
  <% content_for :header do %>
    <h2><%= Product.model_name.human(count: 2) %></h2>
    <%= link_to t('product.new.link'), user_signed_in? ? new_product_path(brand_id: @brand.id) : new_user_session_path(redirect: new_product_path(brand_id: @brand.id)), class: "Button" %>
  <% end %>

  <% content_for :filter do %>
    <%= render "shared/filter", reset_path: brand_path(id: @brand.friendly_id, sub_category: params[:sub_category]), collection: @products, query: @brands_query, sub_categories: @all_sub_categories_grouped, type: :brand_products, custom_attributes: @custom_attributes %>
  <% end %>

  <% content_for :sort do %>
    <label for="sort">Sort</label>
    <select name="sort" id="sort">
      <option value="name_asc"<%= " selected" if params[:sort] == "name_asc" %>><%= t('sort_by.name_asc') %></option>
      <option value="name_desc"<%= " selected" if params[:sort] == "name_desc" %>><%= t('sort_by.name_desc') %></option>
      <option value="release_date_desc"<%= " selected" if params[:sort] == "release_date_desc" %>><%= t('sort_by.release_date_desc') %></option>
      <option value="release_date_asc"<%= " selected" if params[:sort] == "release_date_asc" %>><%= t('sort_by.release_date_asc') %></option>
    </select>
  <% end %>

  <% content_for :table do %>
    <%= render "shared/products_table", products: @products, hide_brand: true %>
  <% end %>

  <%= render "shared/index_page",
    records: @products,
    empty_state_message: t('empty_state.cta', name: h(@brand.name), path: user_signed_in? ? new_product_path(brand_id: @brand.id) : new_user_session_path(redirect: new_product_path(brand_id: @brand.id))),
    category: @category,
    sub_category: @sub_category,
    render_category: false
  %>
<% end %>
