<div class="Heading">
  <h1><%= @brand.name %></h1>
  <div class="Heading-amount">
    <%= t('amount_products', count: @products.size) %>
  </div>
</div>

<% if @brand.sub_categories.size > 1 %>
  <nav class="Pagination" aria-label="Filter by category">
    <ol class="Pagination-list">
      <li>
        <a class="Pagination-all" href="<%= brand_path(id: @brand.friendly_id) %>"<%= ' aria-current="true"'.html_safe unless params[:category].present? %>>All</a>
      </li>
      <% @brand.sub_categories.each do |sub_category| %>
        <li>
          <a href="<%= brand_category_path(brand_id: @brand.friendly_id, category: sub_category.friendly_id) %>"<%= ' aria-current="true"'.html_safe if params[:category] == sub_category.friendly_id %>><%= sub_category[:name] %></a>
        </li>
      <% end %>
    </ol>
  </nav>
<% end %>

<% if @products.any? %>
  <table>
    <thead>
      <th><%= t('name') %></th>
      <th><%= t('headings.category').html_safe %></th>
      <th class="Table-symbols"></th>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr<% if user_has_product?(product) %> class="is-positive"<% end %>>
          <th scope="row"><%= link_to product.name, brand_product_path(id: product.friendly_id, brand_id: @brand.friendly_id) %></th>
          <td>
            <% if product.sub_categories.any? %>
              <%= product.sub_categories.map{ |sub_category| sub_category.name }.join(", ") %>
            <% else %>
              <%= product.categories.map{ |category| category.name }.join(", ") %>
            <% end %>
          </td>
          <td>
            <%= render "shared/symbols", product: product %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @products %>
<% else %>
  <%= render "shared/empty_state", message: t('empty_state.products') %>
<% end %>

<%= render "shared/page_actions", back_link: true %>
