<% content_for :css do %>
  <%= stylesheet_link_tag "product" %>
<% end %>
<div class="Product">
  <div class="Product-main">
    <div class="Product-details">
      <div class="Heading">
        <div>
          <h1><%= @brand.name %></h1>
          <% if @brand.full_name %><small><%= @brand.full_name %></small><% end %>
        </div>
      </div>

      <dl class="Data">
        <% if @brand.discontinued %>
          <dt><%= t('status') %></dt>
          <dd><%= render "shared/symbols", brand: @brand, show_labels: true, only: [:discontinued] %></dd>
        <% end %>
        <dt><%= t('country').html_safe %></dt>
        <dd><%= @brand.country_name.present? ? @brand.country_name : "-" %></dd>
        <dt><%= t('website') %></dt>
        <dd><%= @brand.website.present? ? (link_to @brand.website, @brand.website) : "-" %></dd>
      </dl>
    </div>
  </div>

  <div class="Product-sub">
    <dl>
      <dt><%= t('product.meta.owned_by') %></dt>
      <dd><%= t('amount_users', count: User.joins(:products).where(products: { brand_id: @brand.id }).distinct.size) %></dd>
    </dl>

    <ul class="Product-metaLinks">
      <li>
        <%= link_to t('new_product.link'), user_signed_in? ? new_product_path(brand_id: @brand.id) : new_user_session_path(redirect: new_product_path(brand_id: @brand.id)) %>
      </li>
      <li>
        <%= link_to t('edit'), user_signed_in? ? edit_brand_path(id: @brand.friendly_id) : new_user_session_path(redirect: edit_brand_path(id: @brand.friendly_id)) %>
      </li>
      <li>
        <%= link_to t('headings.changelog'), user_signed_in? ? brand_changelog_path(@brand) : new_user_session_path(redirect: brand_changelog_path(@brand)) %>
      </li>
    </ul>
  </div>
</div>

<% if @brand.sub_categories.any? && @brand.sub_categories.size > 1 %>
  <ol class="Pagination">
    <li>
      <a class="Pagination-all" href="<%= brand_path(id: @brand.friendly_id) %>"<%= ' aria-current="true"'.html_safe unless params[:category].present? %>><%= t('filter.all') %></a>
    </li>
    <% @brand.sub_categories.each do |sub_category| %>
      <li>
        <a href="<%= brand_path(brand_id: @brand.friendly_id, category: sub_category.friendly_id) %>"<%= ' aria-current="true"'.html_safe if params[:category] == sub_category.friendly_id %>><%= sub_category[:name] %></a>
      </li>
    <% end %>
  </ol>
<% end %>

<% if @products.any? %>
  <p class="Filter-info"><small><%= page_entries_info @products %></small></p>
  <table-saw>
    <table>
      <thead>
        <tr>
          <th><%= t('name') %></th>
          <th><%= t('headings.category').html_safe %></th>
          <th class="Table-symbols"></th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr<% if user_has_product?(current_user, product) %> class="is-positive"<% end %>>
            <th scope="row"><%= link_to product.name, brand_product_path(id: product.friendly_id, brand_id: @brand.friendly_id) %></th>
            <td>
              <% if product.sub_categories.any? %>
                <%= product.sub_categories.map{ |sub_category| sub_category.name }.join(", ") %>
              <% else %>
                <%= product.categories.map{ |category| category.name }.join(", ") %>
              <% end %>
            </td>
            <td>
              <%= render "shared/symbols", product: product %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </table-saw>

  <%= paginate @products %>
<% else %>
  <%= render "shared/empty_state", message: t('empty_state.products') %>
<% end %>

<%= render "shared/page_actions" %>

