<% content_for :css do %>
  <%= stylesheet_link_tag "entity" %>
<% end %>
<div class="Entity">
  <div class="Entity-main">
    <div class="Product-details">
      <div class="Heading">
        <div>
          <h1><%= @brand.name %></h1>
          <% if @brand.full_name %><small><%= @brand.full_name %></small><% end %>
        </div>
      </div>

      <dl class="Data">
        <% if @brand.discontinued %>
          <dt><%= t('status') %></dt>
          <dd><%= render "shared/symbols", brand: @brand, show_labels: true, only: [:discontinued] %></dd>
        <% end %>
        <dt><%= t('country').html_safe %></dt>
        <dd><%= @brand.country_name.present? ? @brand.country_name : "-" %></dd>
        <dt><%= t('brand.website') %></dt>
        <dd><%= @brand.website.present? ? (link_to @brand.website, @brand.website, rel: "noreferrer noopener") : "-" %></dd>
        <dt><%= t('brand.year_founded') %></dt>
        <dd><%= @brand.year_founded.present? ? @brand.year_founded : "-" %></dd>
      </dl>

      <% if @all_sub_categories.any? %>
        <h2><%= t('headings.categories') %></h2>

        <dl class="Data">
          <% @all_sub_categories.each do |section| %>
            <dt><%= section[0].name %></dt>
            <dd><%= section[1].map { |c| link_to c.name, products_path(sub_category: c.friendly_id) }.join(", ").html_safe %></dd>
          <% end %>
        </dl>
      <% end %>

      <% if @brand.description.present? %>
        <h2>About</h2>
        <div class="Entity-description Rte">
          <%= sanitize(simple_format(@brand.description.strip), tags: %w(b i strong em br ul ol li)) %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="Entity-sub u-pullOut">
    <dl>
      <dt><%= t('product.meta.owned_by') %></dt>
      <dd><%= t('amount_users', count: User.joins(:products).where(products: { brand_id: @brand.id }).distinct.size) %></dd>
    </dl>

    <div class="Entity-meta">
      <dl>
        <dt><%= t('headings.contributors') %></dt>
        <dd>
          <%= @contributors.any? ? @contributors.map { |c| c["profile_visibility"] != 0 ? (link_to c["user_name"], user_path(id: c["user_name"])) : c["user_name"] }.join(", ").html_safe : "hifilog.com" %>
          </ul>
        </dd>
      </dl>

      <ul class="Entity-metaLinks">
        <li>
          <%= link_to t('new_product.link'), user_signed_in? ? new_product_path(brand_id: @brand.id) : new_user_session_path(redirect: new_product_path(brand_id: @brand.id)) %>
        </li>
        <li>
          <%= link_to t('edit'), user_signed_in? ? edit_brand_path(id: @brand.friendly_id) : new_user_session_path(redirect: edit_brand_path(id: @brand.friendly_id)) %>
        </li>
        <li>
          <%= link_to t('headings.changelog'), user_signed_in? ? brand_changelog_path(@brand) : new_user_session_path(redirect: brand_changelog_path(@brand)) %>
        </li>
      </ul>
    </div>
  </div>
</div>

<h2 id="list"><%= t('headings.products') %></h2>

<% if @total_products_count > 0 %>
  <%= render "shared/filter", reset_path: brands_path, collection: @products, query: @brands_query do %>
    <div class="FilterSort">
      <div class="u-flex u-alignCenter u-gap-md">
        <label for="sort">Sort</label>
        <select name="sort" id="sort">
          <option value="name_asc"<%= " selected" if params[:sort] == "name_asc" %>>Name: A first</option>
          <option value="name_desc"<%= " selected" if params[:sort] == "name_desc" %>>Name: Z first</option>
          <option value="release_date_desc"<%= " selected" if params[:sort] == "release_date_desc" %>><%= t('product.release_date') %>: Newest first</option>
          <option value="release_date_asc"<%= " selected" if params[:sort] == "release_date_asc" %>><%= t('product.release_date') %>: Oldest first</option>
          <option value="added_desc"<%= " selected" if params[:sort] == "added_desc" %>>Added: Newest first</option>
          <option value="added_asc"<%= " selected" if params[:sort] == "added_asc" %>>Added: Oldest first</option>
          <option value="updated_desc"<%= " selected" if params[:sort] == "updated_desc" %>>Updated: Newest first</option>
          <option value="updated_asc"<%= " selected" if params[:sort] == "updated_asc" %>>Updated: Oldest first</option>
        </select>
      </div>
    </div>
  <% end %>

  <% if @products.any? %>
    <%= render "shared/products_table", products: @products, hide_brand: true %>
    <%= paginate @products, params: { anchor: "list" } %>
  <% else %>
    <%= render "shared/empty_state", message: t('empty_state.products') %>
  <% end %>
<% else %>
  <%= render "shared/empty_state", message: t('empty_state.cta', name: @brand.name, path: new_product_path(brand_id: @brand.id)) %>
<% end %>

<%= render "shared/page_actions" %>

<% if @brands_query %>
  <%= javascript_tag nonce: true do %>
    {
      const list = document.querySelector("#list");

      if (list) {
        list.scrollIntoView();
      }
    }
  <% end %>
<% end %>
