<div class="Heading">
  <h1><%= t('headings.categories').html_safe %></h1>
  <div class="Heading-amount">
    <%= t('amount_categories', count: @sub_categories.size) %>
  </div>
</div>

<nav class="Pagination" aria-label="<%= t('filter.category.label') %>">
  <ol class="Pagination-list">
    <li>
      <a class="Pagination-all" href="<%= categories_path %>"<%= ' aria-current="true"'.html_safe unless params[:id].present? %>><%= t('filter.all') %></a>
    </li>
    <% @categories.each do |category| %>
      <li>
        <a href="<%= category_path(id: category.friendly_id) %>"<%= ' aria-current="true"'.html_safe if params[:id].to_i == category[:id] %>><%= category[:name] %></a>
      </li>
    <% end %>
  </ol>
</nav>

<table>
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th class="Table-products u-alignCenter"><%= t('headings.products') %></th>
    </tr>
  </thead>
  <tbody>
    <% @sub_categories.each do |sub_category| %>
      <tr>
        <th scope="row">
          <%= link_to sub_category.name, category_sub_category_path(id: sub_category.friendly_id, category_id: sub_category.friendly_category_id) %><br>
        </th>
        <td class="u-alignCenter"><%= sub_category.products.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render "shared/page_actions" %>
