<% content_for :css do %>
  <%= stylesheet_link_tag "home" %>
  <%= stylesheet_link_tag "user_form" %>
<% end %>

<div class="Home">
  <div class="Home-content">
    <% if flash.any? %>
      <%= render "shared/flash_messages", messages: flash %>
    <% else %>
      <p class="Home-intro">
        <%= t('home.intro', products_count: rounddown(products_count), products_path: products_path, brands_count: brands_count, brands_path: brands_path, categories_count: categories_count, categories_path: categories_path).html_safe %>
      </p>
      <p><%= t('home.sign_up', sign_up_path: new_user_registration_path).html_safe %></p>
    <% end %>
  </div>
  <div class="Home-register">
    <div class="Home-form">
      <h2><%= t('user_form.signup') %></h2>

      <%= form_for(User.new, url: user_registration_path) do |f| %>
        <div>
          <%= f.label :email do %>
            Email
          <% end %>
          <%= f.email_field :email, autocomplete: "email" %>
        </div>

        <div>
          <%= f.label :user_name do %>
            Username <small><i>(optional)</i></small>
          <% end %>
          <%= f.text_field :user_name %>
        </div>

        <div>
          <%= f.label :password do %>
            Password
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <small class="UserForm-hint"><%= @minimum_password_length %> characters minimum</small>
          <% end %>
        </div>

        <div>
          <%= f.label :password_confirmation do %>
            Password confirmation
          <% end %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="Home-submit">
          <button type="submit" class="Button"><%= t('user_form.signup') %></button>
        </div>
      <% end %>
    </div>
  </div>
  <picture class="Home-picture">
    <source srcset="/home/01.avif" type="image/avif">
    <img src="/home/01.jpg" aria-hidden="true" alt="" fetchpriority="high">
  </picture>
</div>
