<% content_for :css do %>
  <%= stylesheet_link_tag "home", crossorigin: true, integrity: true %>
<% end %>

<div class="Home">
  <div class="Home-content">
    <% if flash.any? %>
      <%= render "shared/flash_messages", messages: flash %>
    <% else %>
      <h1 class="Home-intro">
        <%
          products_rounded = round_up_or_down(products_count)
          if products_rounded[:dir] == :down
        %>
          <%= t('home.intro_down', products_count: number_with_delimiter(products_rounded[:value]), products_path: products_path, brands_count: brands_count, brands_path: brands_path, categories_count: categories_count).html_safe %>
        <% elsif products_rounded[:dir] == :eq %>
          <%= t('home.intro_eq', products_count: number_with_delimiter(products_rounded[:value]), products_path: products_path, brands_count: brands_count, brands_path: brands_path, categories_count: categories_count).html_safe %>
        <% else %>
          <%= t('home.intro_up', products_count: number_with_delimiter(products_rounded[:value]), products_path: products_path, brands_count: brands_count, brands_path: brands_path, categories_count: categories_count).html_safe %>
        <% end %>
      </h1>
      <p><%= t('home.sign_up', sign_up_path: new_user_registration_path).html_safe %></p>
    <% end %>
  </div>
  <div class="Home-register">
    <div class="Home-form">
      <h2><%= t('user_form.signup') %></h2>

      <%= form_for(User.new, url: user_registration_path) do |f| %>
        <div>
          <%= f.label :email do %>
            Email
          <% end %>
          <%= f.email_field :email, required: true, autocomplete: "email" %>
        </div>

        <div>
          <%= f.label :user_name do %>
            <%= t('user.edit.update.fields.user_name') %>
          <% end %>
          <%= f.text_field :user_name, required: true %>
        </div>

        <div>
          <%= f.label :password do %>
            Password
          <% end %>
          <%= f.password_field :password, required: true, autocomplete: "new-password" %>
          <small class="Form-hint">12 characters minimum</small>
        </div>

        <div>
          <%= f.label :password_confirmation do %>
            Password confirmation
          <% end %>
          <%= f.password_field :password_confirmation, required: true, autocomplete: "new-password" %>
        </div>

        <div class="Home-submit">
          <button type="submit" class="Button"><%= t('user_form.signup') %></button>
        </div>
      <% end %>
    </div>
  </div>
  <picture class="Home-picture">
    <source srcset="<%= asset_url "/home/01.avif" %>" type="image/avif">
    <img src="<%= asset_url "/home/01.jpg" %>" aria-hidden="true" alt="" fetchpriority="high">
  </picture>

  <div class="Home-features is-dark">
    <div class="Home-feature">
      <div class="Rte">
        <h3>Browse current and discontinued products</h3>
        <p>If you are considering a new purchase or looking for information about a discontinued product: <i>HiFi&thinsp;Log</i> lists products that are still in production, but also those that have long since been discontinued.</p>
      </div>
    </div>
    <div class="Home-feature">
      <div class="Rte">
        <h3>Help expanding the database</h3>
        <p>Be part of a community and contribute to expanding our database by adding new products and brands to <i>HiFi&thinsp;Log</i> or updating inaccurate or missing information.</p>
      </div>
    </div>
    <div class="Home-feature">
      <div class="Rte">
        <h3>Find brands and their products</h3>
        <p>If you are interested in the products of specific brand or want to know which brands offer certain kinds of products, you can search through almost 3000 brands.</p>
      </div>
    </div>
    <div class="Home-feature">
      <div class="Rte">
        <h3>Create bookmarks and notes</h3>
        <p>Bookmark any product you are interested in to ensure you remember it later. You can also write private notes for any product — wether you own them, have bookmarked them or neither.</p>
      </div>
    </div>
    <div class="Home-feature">
      <div class="Rte">
        <h3>Build your personal collection</h3>
        <p>You can add existing or your own custom built products to your collection, assign them to different listening setups and upload photos of your own gear to show others what you own.</p>
      </div>
    </div>
    <div class="Home-feature">
      <div class="Rte">
        <h3>Keep track of products you used to own</h3>
        <p>If the list of hi-fi gear you used to own becomes longer and longer, you can simply add them to your list of previously owned products.</p>
      </div>
    </div>
  </div>
</div>
