<% variant_id = product_variant ? product_variant.id : nil %>
<% if user_signed_in? %>
  <% possessions.each do |possession| %>
    <div class="EntityPossession" data-current="<%= !possession.prev_owned %>">
      <% if possession.errors.any? %>
        <%= render "shared/flash_messages", messages: possession.errors.map { |error| ["alert", error.full_message] } %>
      <% end %>

      <div class="EntityPossession-heading u-flex">
        <div>
          <%= render "shared/image_upload", item: ItemPresenter.new(possession), image_update_item: possession, size: "5.2rem", prefix: "possessions" %>
        </div>
        <div>
          <b class="EntityPossession-headingName"><%= possession.prev_owned ? t('symbols.prev_owned') : t('symbols.in_your_collection') %></b>
          <% if possession.period_from || possession.period_to || possession.setup || possession.product_option || possession.price_purchase || possession.price_sale %>
            <div class="EntityPossession-period">
              <% if possession.prev_owned %>
                <% if possession.period_from && possession.period_to %>
                  <small>
                    <span class="u-block">Owned from:</span>
                    <time datetime="<%= possession.period_from %>"><%= format_date(possession.period_from).html_safe %></time> &ndash; <time datetime="<%= possession.period_to %>"><%= format_date(possession.period_to).html_safe %></time>
                  </small>
                <% elsif possession.period_from %>
                  <small>
                    <span>Owned since:</span>
                    <time datetime="<%= possession.period_from %>"><%= format_date(possession.period_from).html_safe %></time>
                  </small>
                <% elsif possession.period_to %>
                  <small>
                    <span>Owned until:</span>
                    <time datetime="<%= possession.period_to %>"><%= format_date(possession.period_to).html_safe %></time>
                  </small>
                <% end %>
              <% else %>
                <% if possession.period_from %>
                  <small>
                    <span>Since:</span>
                    <time datetime="<%= possession.period_from %>"><%= format_date(possession.period_from).html_safe %></time>
                  </small>
                <% end %>
              <% end %>
              <% if possession.setup %>
                <small>
                  <span>Setup:</span>
                  <%= link_to possession.setup.name, dashboard_setup_path(possession.setup) %>
                </small>
              <% end %>
              <% if possession.product_option %>
                <small>
                  <span>Option:</span>
                  <%= possession.product_option.option %>
                </small>
              <% end %>
              <% if possession.price_purchase %>
                <small>
                  <span><%= Possession.human_attribute_name(:price_purchase) %>:</span>
                  <%= display_price(possession.price_purchase, possession.price_purchase_currency) %>
                </small>
              <% end %>
              <% if possession.price_sale %>
                <small>
                  <span><%= Possession.human_attribute_name(:price_sale) %>:</span>
                  <%= display_price(possession.price_sale, possession.price_sale_currency) %>
                </small>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <details class="EntityPossession-metaLinks Entity-metaLinks">
        <summary>Edit / Remove</summary>
        <%= form_for possession, method: :put, html: { class: "EntityPossession-setup", id: "possession-form-#{possession.id}" } do |f| %>
          <div class="EntityPossession-form">
            <% unless possession.prev_owned %>
              <%= f.label :period_from, "Since" %>
              <%= f.date_field :period_from %>
              <% if setups.any? %>
                <label for="setup-select-<%= possession.id %>">Setup</label>
                <select name="setup_id" id="setup-select-<%= possession.id %>">
                  <option value="">None</option>
                  <% setups.each do |setup| %>
                    <option value="<%= setup.id %>"<%= " selected" if possession.setup == setup %>><%= setup.name %></option>
                  <% end %>
                </select>
              <% end %>
            <% else %>
              <%= f.label :period_from, "From" %>
              <%= f.date_field :period_from %>
              <%= f.label :period_to, "Until" %>
              <%= f.date_field :period_to %>
            <% end %>
            <% item = product_variant.present? ? product_variant : product %>
            <% if item.product_options.any? %>
              <label for="product-options-<%= possession.id %>">Option</label>
              <select name="possession[product_option_id]" id="product-options-<%= possession.id %>">
                <option value="">None</option>
                <% item.product_options.each do |option| %>
                  <option value="<%= option.id %>"<%= " selected" if possession.product_option == option %>><%= option.option %></option>
                <% end %>
              </select>
            <% end %>
          </div>
          <div class="EntityPossession-formPrice">
            <div class="u-flex u-gap-md">
              <div>
                <%= f.label :price_purchase %>
                <%= f.text_field :price_purchase, inputmode: "number" %>
              </div>
              <div>
                <%= f.label :price_purchase_currency %>
                <%= f.select :price_purchase_currency do %>
                  <option value=""></option>
                  <% ['USD', 'EUR'].each do |id| %>
                    <option value="<%= id %>"<%= " selected" if f.object[:price_purchase_currency] == id %>><%= CURRENCIES.find { |currency| currency[:id] == id }[:name] %></option>
                  <% end %>
                  <hr>
                  <% CURRENCIES.select { |currency| !['USD', 'EUR'].include?(currency[:id]) }.sort_by { |currency| currency[:id] }.each do |currency| %>
                    <option value="<%= currency[:id] %>"<%= " selected" if f.object[:price_purchase_currency] == currency[:id] %>><%= currency[:name] %></option>
                  <% end %>
                <% end %>
              </div>
            </div>
            <% if possession.prev_owned %>
              <div class="u-flex u-gap-md">
                <div>
                  <%= f.label :price_sale %>
                  <%= f.text_field :price_sale, inputmode: "number" %>
                </div>
                <div>
                  <%= f.label :price_sale_currency %>
                  <%= f.select :price_sale_currency do %>
                    <option value=""></option>
                    <% ['USD', 'EUR'].each do |id| %>
                      <option value="<%= id %>"<%= " selected" if f.object[:price_sale_currency] == id %>><%= CURRENCIES.find { |currency| currency[:id] == id }[:name] %></option>
                    <% end %>
                    <hr>
                    <% CURRENCIES.select { |currency| !['USD', 'EUR'].include?(currency[:id]) }.sort_by { |currency| currency[:id] }.each do |currency| %>
                      <option value="<%= currency[:id] %>"<%= " selected" if f.object[:price_sale_currency] == currency[:id] %>><%= currency[:name] %></option>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        <div class="u-flex u-spaceBetween">
          <button class="Button Button--loadingIcon" form="possession-form-<%= possession.id %>">Save</button>
          <% if possession.prev_owned %>
            <%= button_to possession.delete_button_label,
              possession.delete_path,
              method: :delete,
              class: "DeleteButton u-textUnderline",
              "data-msg": possession.delete_confirm_msg
            %>
          <% else %>
            <%= render "shared/remove_product_from_possessions", possession: possession, id: possession.id %>
          <% end %>
        </div>
      </details>
    </div>
  <% end %>
<% end %>

<div class="Product-action">
  <%= button_to possessions_path(id: product.id, product_variant_id: variant_id), class: "Button Button--loadingIcon" do %>
    <span class="u-flex u-alignCenter u-gap-sm">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" width="20" height="20"><path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/></svg>
      <%= t('add_to_collection').html_safe %>
    </span>
  <% end %>
</div>

<div class="Product-action">
  <%= button_to possessions_path(id: product.id, product_variant_id: variant_id, prev_owned: true), class: "Button Button--secondary Button--loadingIcon" do %>
    <span class="u-flex u-alignCenter u-gap-sm">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" width="20" height="20"><path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/></svg>
      <%= t('add_to_prev_owned').html_safe %>
    </span>
  <% end %>
</div>

<div class="Product-action<%= " EntityPossession EntityPossession--bookmark" if bookmark && current_user.bookmark_lists.length > 0 %>">
  <%= render "shared/bookmark_button", bookmark: bookmark, delete_redirect_to: (variant_id.present? ? product_variant_path(product_id: @product.friendly_id, id: @product_variant.friendly_id) : product_path(id: @product.friendly_id)), create_bookmarks_path: bookmarks_path(product_id: product.id, product_variant_id: variant_id), include_lists: true %>
</div>
