<% additional_instructions ||= [] %>

<% content_for :css do %>
  <%= stylesheet_link_tag "entity_form", crossorigin: true, integrity: true %>
<% end %>
<% content_for :js do %>
  <%= javascript_include_tag "entity_form", type: "module", nonce: true, crossorigin: true, integrity: true %>
<% end %>

<div class="Form Form--centered">
  <div class="Heading">
    <h1><%= yield :heading %></h1>
  </div>

  <details class="Instructions">
    <summary>Product Guidelines</summary>
    <div class="Instructions-content Rte">
      <p>Thank you for contributing to HiFi&thinsp;Log!</p>
      <p>Please read the following instructions to make sure all products are added properly:</p>
      <ul>
        <li>Products that you add here should reflect the initial release of a product. You can add subsequent releases to a product after creating the initial release of a product.</li>
        <li>Please only add the product name, not the brand name, in the field "Name". The brand name will be added automatically.</li>
        <li>Not all information has to be filled out right away. Fields marked with "optional" can be filled out later.</li>
        <li>You can assign multiple categories to a product, for example "Over-Ear Headphones" + "Noise Cancelling Headphones".</li>
        <li>If you for example only know the year (or year and month) when a product has been released or discontinued, you can omit the other fields.</li>
        <li>The description can contain any relevant information that is not covered by the other fields.</li>
        <li>
          The description field supports Markdown for basic styling:<br>
          <code><b><%= "**bold text**" %></b></code><br>
          <code><em><%= "*italic text*" %></em></code><br>
          <code><%= "- unordered lists" %></code><br>
          <code><%= "1. ordered lists" %></code>
        </li>
        <li>The price should ideally be the retail price recommended by the manufacturer provided in USD (or alternatively in EUR) to allow better comparisons. If you cannot provide that, you can also add the price in a different currency.</li>
        <li>If the product comes with different prices due to product versions, please use the lowest price (i.e. the price of the basic / stock version).</li>
        <% additional_instructions.each do |instruction| %>
          <li><%= instruction %></li>
        <% end %>
      </ul>
      </ul>
    </div>
  </details>

  <% if @product.errors.any? %>
    <%= render "shared/flash_messages", messages: @product.errors.map { |error| ["alert", error.full_message] } %>
  <% end %>

  <div class="Form-field">
    <h2 class="h3 Form-label">
      <%= f.label :name %>
    </h2>
    <%= f.text_field :name, required: true %>
  </div>

  <% unless @brand && @brand.id %>
    <% unless @brand && @brand.errors.any? %>
      <div class="Form-field">
        <h2 class="h3 Form-label">
          <%= f.label :brand %>
        </h2>
        <input type="text" id="brand-filter" autocomplete="off" value="" placeholder="Search for brand name…">
      </div>
      <div class="Form-field Options Options--brands"></div>
      <template id="brand-template">
        <div class="Options-item" data-brand="" hidden>
          <input type="radio" name="product[brand_id]" value="">
          <label></label>
        </div>
      </template>
    <% end %>
    <div class="Form-field ProductFormAddBrand" <%= "hidden" unless @brand && @brand.errors.any? %>>
      <% unless @brand && @brand.errors.any? %>
        <p><b>We could not find the brand you are looking for.</b><br>Please feel free to contribute it by adding it here:</p>
      <% end %>
      <fieldset class="ProductFormAddBrand-fieldset">
        <legend>Add new brand</legend>
        <%= f.fields_for :brand do |brand_form| %>
          <%= render "shared/flash_messages", messages: @brand.errors.map { |error| ["alert", error.full_message] } if @brand && @brand.errors.any? %>
          <div class="Form-field">
            <%= brand_form.label :name, class: "Form-label" %>
            <%= brand_form.text_field :name %>
          </div>

          <div class="Form-field">
            <%= brand_form.label :full_name, class: "Form-label" do %>
              <%= t('brand.full_name') %> <small><i>(optional)</i></small>
            <% end %>
            <%= brand_form.text_field :full_name %>
          </div>

          <div class="Form-field">
            <%= brand_form.label :website, class: "Form-label" do %>
              <%= t('brand.website') %> <small><i>(optional)</i></small>
            <% end %>
            <%= brand_form.url_field :website %>
          </div>

          <div class="Form-field">
            <%= brand_form.label :founded_year, class: "Form-label" do %>
              <%= t('brand.founded_year') %> <small><i>(optional)</i></small>
            <% end %>
            <%= brand_form.text_field :founded_year, inputmode: "number", list: "brand-years" %>
            <datalist id="brand-years">
              <% (1900..Date.today.year).to_a.reverse.each do |year| %>
                <option value="<%= year %>"></option>
              <% end %>
            </datalist>
          </div>

          <div class="Form-field">
            <%= brand_form.label :country_code, class: "Form-label" do %>
              <%= t('brand.country_code') %> <small><i>(optional)</i></small>
            <% end %>
            <%= brand_form.country_select :country_code, include_blank: true %>
          </div>

          <div class="Form-field">
            <%= brand_form.label :description, class: "Form-label" do %>
              <%= t('brand.description') %> <small><i>(optional)</i></small>
            <% end %>
            <%= brand_form.text_area :description %>
          </div>

          <div class="Form-field Form-field--inline">
            <span class="Form-label"><%= t('symbols.discontinued') %></span>
            <div class="Form-options">
              <%= brand_form.radio_button :discontinued, 0, checked: @brand.nil? || (@brand.discontinued.nil? || @brand.discontinued) == false %>
              <%= brand_form.label :discontinued, "No", value: 0 %>
              <%= brand_form.radio_button :discontinued, 1, checked: !@brand.nil? && @brand.discontinued == true %>
              <%= brand_form.label :discontinued, "Yes", value: 1  %>
            </div>
          </div>
        <% end %>
      </fieldset>
    </div>
  <% end %>

  <div class="Form-field">
    <h2 class="Form-label h3"><%= t('headings.categories') %></h2>
    <div class="Options is-light EntityForm-subCategories">
      <% @categories.each do |category| %>
        <details <% if (category.sub_category_ids & @product.sub_category_ids).any? %>open<% end %>>
          <summary><%= category.name %></summary>
          <% category.sub_categories.each do |sub_category| %>
            <div class="Options-item">
              <%= check_box_tag "product[sub_category_ids][#{sub_category.id}]", sub_category.id, @product.sub_category_ids.include?(sub_category.id), name: "product[sub_category_ids][]" %>
              <%= label_tag "product[sub_category_ids][#{sub_category.id}]", sub_category.name %>
            </div>
          <% end %>
        </details>
      <% end %>
    </div>
  </div>

  <div class="Form-field EntityForm-attributes">
    <div class="h3 Form-label"><%= t('activerecord.attributes.sub_category.custom_attribute_ids') %></div>
    <div class="Options is-light">
      <% CustomAttribute.all.each do |custom_attribute| %>
        <div class="EntityForm-attribute" data-sub-category-ids="<%= custom_attribute.sub_category_ids %>" hidden>
          <% custom_attribute.options.each do |option| %>
            <div class="Form-options">
              <input type="radio" name="<%= "product[custom_attributes][#{custom_attribute.id}]" %>" value="<%= option[0] %>" id="<%= "product[custom_attributes][#{custom_attribute.id}]-#{option[0]}" %>"<%= " checked" if @product.custom_attributes.present? && @product.custom_attributes["#{custom_attribute.id}"] == option[0] %><%#= " disabled" if !@product.sub_category_ids.include?(sub_category.id) %>>
              <label for="<%= "product[custom_attributes][#{custom_attribute.id}]-#{option[0]}" %>"><%= t("custom_attributes.#{option[1]}") %></label>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="Form-field ProductOptionsForm js-ProductOptionsForm">
    <div class="Form-fieldHeader">
      <h2 class="h3 Form-label">
        <%= t('product.options') %> <small><i>(optional)</i></small>
      </h2>
      <small><button data-dialog="options-dialog" type="button">What are options?</button></small>
    </div>
    <ol class="ProductOptionsForm-list">
      <% if @product.product_options.any? %>
        <% @product.product_options.each_with_index do |option, i| %>
          <li>
            <input type="text" name="product_options_attributes[<%= i %>][option]" value="<%= option[:option] %>">
            <input autocomplete="off" type="hidden" value="<%= option[:id] %>" name="product_options_attributes[<%= i %>][id]">
          </li>
        <% end %>
      <% else %>
        <li>
          <input type="text" name="product_options_attributes[0][option]">
        </li>
      <% end %>
    </ol>
    <button type="button" class="ProductOptionsForm-button js-ProductOptionsForm-button">Add option</button>
    <%= javascript_tag nonce: true do %>
      {
        const wrapper = document.querySelector(".js-ProductOptionsForm");

        if (wrapper) {
          const button = wrapper.querySelector(".js-ProductOptionsForm-button");
          const list = wrapper.querySelector("ol");
          const template = wrapper.querySelector("template");

          if (button && list) {
            button.addEventListener("click", () => {
              const clone = list.firstElementChild.cloneNode(true);
              const input = clone.querySelector("input");

              input.id = `${input.id}-${Date.now()}`
              input.name = input.name.replace(new RegExp(/[0-9]+/), list.querySelectorAll("li").length)
              input.value = "";

              list.appendChild(document.importNode(clone, true));
            });
          }
        }
      }
    <% end %>
  </div>

  <div class="Form-field">
    <h2 class="h3 Form-label">
      <%= t('product.description') %> <small><i>(optional)</i></small>
    </h2>
    <%= f.text_area :description %>
  </div>

  <div class="Form-field">
    <h2 class="h3 Form-label">Price</h2>
    <div class="u-flex u-gap-md">
      <div>
        <%= f.label :price, class: "Form-label" do %>
          <%= t('activerecord.attributes.product.price') %> <small><i>(optional)</i></small>
        <% end %>
        <%= f.text_field :price, inputmode: "number" %>
      </div>
      <div>
        <%= f.label :price_currency, class: "Form-label" do %>
          <%= t('activerecord.attributes.product.price_currency') %> <small><i>(optional)</i></small>
        <% end %>
        <%= f.select :price_currency do %>
          <option value=""></option>
          <% ['USD', 'EUR'].each do |id| %>
            <option value="<%= id %>"<%= " selected" if @product.price_currency == id %>><%= CURRENCIES.find { |currency| currency[:id] == id }[:name] %></option>
          <% end %>
          <hr>
          <% CURRENCIES.select { |currency| !['USD', 'EUR'].include?(currency[:id]) }.sort_by { |currency| currency[:id] }.each do |currency| %>
            <option value="<%= currency[:id] %>"<%= " selected" if @product.price_currency == currency[:id] %>><%= currency[:name] %></option>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="Form-field">
    <h2 class="h3 Form-label">Production</h2>
    <%= f.label :release_date, class: "Form-label" do %>
      <%= t('product.release_date') %> <small><i>(optional)</i></small>
    <% end %>
    <div class="EntityForm-date">
      <%= f.select :release_day, (1..31).map { |d| [d, d] }, { include_blank: "Day" }, { "aria-label": "Day" } %>
      <%= select_month(@product.release_month, { field_name: "release_month", prefix: "product", prompt: "Month" }, { "aria-label": "Month" }) %>
      <%= f.text_field :release_year, inputmode: "number", list: "years", placeholder: "Year", "aria-label": "Year" %>
    </div>
    <small>If you for example only know the year, you can also omit day and month.</small>
    <datalist id="years">
      <% (1900..Date.today.year+1).to_a.reverse.each do |year| %>
        <option value="<%= year %>"></option>
      <% end %>
    </datalist>
  </div>

  <% if @brand && @brand.discontinued %>
    <p class="EntityForm-note">
      <small>
        Since <i><%= @brand.name %></i> has been discontinued, this product will automatically be set to discontinued as well.
      </small>
    </p>
  <% else %>
    <div class="Form-field Form-field--inline Entity-discontinued">
      <span class="Form-label"><%= t('symbols.discontinued') %></span>
      <div class="Form-options">
        <%= f.radio_button :discontinued, 0, checked: (@product.discontinued.nil? || @product.discontinued == false) %>
        <%= f.label :discontinued, "No", value: 0 %>
        <%= f.radio_button :discontinued, 1, checked: (@product.discontinued == true) %>
        <%= f.label :discontinued, "Yes", value: 1  %>
      </div>
    </div>
  <% end %>

  <div class="Form-field Entity-discontinuedDate"<%= "hidden" unless @product.discontinued? %>>
    <%= f.label :discontinued_date, class: "Form-label" do %>
      <%= t('product.discontinued_date') %> <small><i>(optional)</i></small>
    <% end %>
    <div class="EntityForm-date">
      <%= f.select :discontinued_day, (1..31).map { |d| [d, d] }, { include_blank: "Day" }, { "aria-label": "Day", disabled: @product.discontinued.nil? || @product.discontinued == false } %>
      <%= select_month(@product.discontinued_month, { field_name: "discontinued_month", prefix: "product", prompt: "Month" }, { "aria-label": "Month", disabled: (@product.discontinued.nil? || @product.discontinued == false) }) %>
      <%= f.text_field :discontinued_year, inputmode: "number", list: "years", placeholder: "Year", disabled: (@product.discontinued.nil? || @product.discontinued == false), "aria-label": "Year" %>
    </div>
    <small>If you for example only know the year, you can also omit day and month.</small>
    <datalist id="years">
      <% (1900..Date.today.year+1).to_a.reverse.each do |year| %>
        <option value="<%= year %>"></option>
      <% end %>
    </datalist>
  </div>

  <% if include_comment %>
    <div class="Form-field Form-field--divider">
      <h2 class="h3 Form-label">
        <%= t('activerecord.attributes.version.comment') %> <small><i>(optional)</i></small>
      </h2>
      <%= f.text_area :comment %>
    </div>
  <% end %>

  <div class="Form-submit">
    <%= f.button type: "submit", class: "Button Button--loadingIcon" do %>
      <span><%= t('new_product.submit') %></span>
    <% end %>
  </div>
</div>
