<% additional_instructions ||= [] %>

<% content_for :guidelines do %>
  <details class="Instructions">
    <summary>Product Guidelines</summary>
    <div class="Instructions-content Rte">
      <p>Thank you for contributing to HiFi&thinsp;Log!</p>
      <p>Please read the following instructions to make sure all products are added properly:</p>
      <ul>
        <li>Products that you add here should reflect the initial release of a product. You can add subsequent releases to a product after creating the initial release of a product.</li>
        <li>Please only add the product name, not the brand name, in the field "Name". The brand name will be added automatically.</li>
        <li>Not all information has to be filled out right away. Fields marked with "optional" can be filled out later.</li>
        <li>You can assign multiple categories to a product, for example "Over-Ear Headphones" + "Noise Cancelling Headphones".</li>
        <li>If you for example only know the year (or year and month) when a product has been released or discontinued, you can omit the other fields.</li>
        <li>The description can contain any relevant information that is not covered by the other fields.</li>
        <li>
          The description field supports Markdown for basic styling:<br>
          <code><b><%= "**bold text**" %></b></code><br>
          <code><em><%= "*italic text*" %></em></code><br>
          <code><%= "- unordered lists" %></code><br>
          <code><%= "1. ordered lists" %></code>
        </li>
        <li>The price should ideally be the retail price recommended by the manufacturer provided in USD (or alternatively in EUR) to allow better comparisons. If you cannot provide that, you can also add the price in a different currency.</li>
        <li>If the product comes with different prices due to product versions, please use the lowest price (i.e. the price of the basic / stock version).</li>
        <% additional_instructions.each do |instruction| %>
          <li><%= instruction %></li>
        <% end %>
      </ul>
      </ul>
    </div>
  </details>
<% end %>

<%= render "shared/product_form", f: f, entity: product, include_comment: include_comment, prefix: "product", brand: brand do %>
  <div class="Form-field">
    <h2><%= f.label :brand %></h2>
    <input type="text" id="brand-filter" autocomplete="off" value="<%= brand.name %>"<%= " disabled" if brand.id.present? %> placeholder="Search for brand name…" aria-label="Brand name">
  </div>
  <% unless brand && brand.id %>
    <% unless brand && brand.errors.any? %>
      <div class="Form-field Options Options--brands"></div>
      <template id="brand-template">
        <div class="Options-item" data-brand="" hidden>
          <input type="radio" name="product[brand_id]" value="">
          <label></label>
        </div>
      </template>
    <% end %>
    <div class="Form-field ProductFormAddBrand" <%= "hidden" unless brand && brand.errors.any? %>>
      <% unless brand && brand.errors.any? %>
        <p><b>We could not find the brand you are looking for.</b><br>Please feel free to contribute it by adding it here:</p>
      <% end %>
      <fieldset class="ProductFormAddBrand-fieldset">
        <legend>Add new brand</legend>
        <%= f.fields_for :brand do |brand_form| %>
          <%= render "shared/flash_messages", messages: brand.errors.map { |error| ["alert", error.full_message] } if brand && brand.errors.any? %>
          <div class="Form-field">
            <%= brand_form.label :name, class: "Form-label" %>
            <%= brand_form.text_field :name, placeholder: "Foo" %>
          </div>

          <div class="Form-field">
            <%= brand_form.label :full_name, class: "Form-label" do %>
              <%= Brand.human_attribute_name(:full_name) %> <small><i>(optional)</i></small>
            <% end %>
            <%= brand_form.text_field :full_name %>
          </div>

          <div class="Form-field">
            <%= brand_form.label :website, class: "Form-label" do %>
              <%= Brand.human_attribute_name(:website) %> <small><i>(optional)</i></small>
            <% end %>
            <%= brand_form.url_field :website %>
          </div>

          <div class="Form-field">
            <%= brand_form.label :founded_year, class: "Form-label" do %>
              <%= Brand.human_attribute_name(:founded_year) %> <small><i>(optional)</i></small>
            <% end %>
            <%= brand_form.text_field :founded_year, inputmode: "number", list: "brand-years" %>
            <datalist id="brand-years">
              <% (1900..Date.today.year).to_a.reverse.each do |year| %>
                <option value="<%= year %>"></option>
              <% end %>
            </datalist>
          </div>

          <div class="Form-field">
            <%= brand_form.label :country_code, class: "Form-label" do %>
              <%= Brand.human_attribute_name(:country_code) %> <small><i>(optional)</i></small>
            <% end %>
            <%= brand_form.country_select :country_code, include_blank: true %>
          </div>

          <div class="Form-field">
            <%= brand_form.label :description, class: "Form-label" do %>
              <%= Brand.human_attribute_name(:description) %> <small><i>(optional)</i></small>
            <% end %>
            <%= brand_form.text_area :description %>
          </div>

          <div class="Form-field Form-field--inline">
            <span class="Form-label"><%= t('symbols.discontinued') %></span>
            <div class="Form-options">
              <%= brand_form.radio_button :discontinued, 0, checked: brand.nil? || (brand.discontinued.nil? || brand.discontinued) == false %>
              <%= brand_form.label :discontinued, "No", value: 0 %>
              <%= brand_form.radio_button :discontinued, 1, checked: !brand.nil? && brand.discontinued == true %>
              <%= brand_form.label :discontinued, "Yes", value: 1  %>
            </div>
          </div>
        <% end %>
      </fieldset>
    </div>
  <% end %>

  <h2>Product</h2>

  <div class="Form-grid u-gap-lg">
    <div>
      <div class="Form-field">
        <%= f.label :name, class: "Form-label h3" %>
        <%= f.text_field :name, required: true, placeholder: "e.g. #{['Heresy IV', 'HE-1', 'Ongaku'].sample}" %>
      </div>
    </div>

    <div>
      <div class="Form-field">
        <%= f.label :model_no, class: "Form-label h3" do %>
          Model no. / Alternative name
          <small><i>(optional)</i></small>
        <% end %>
        <%= f.text_field :model_no %>
      </div>
    </div>
  </div>

  <div class="Form-field">
    <h3 class="Form-label"><%= Category.model_name.human(count: 2) %></h3>
    <div class="Options is-light EntityForm-subCategories">
      <% menu_categories.each do |columns| %>
        <div>
          <% columns[1].each do |category| %>
            <h4><%= category.name %></h4>
            <ul class="u-flex u-flexColumn u-gap-sm">
              <% category.sub_categories.each do |sub_category| %>
                <li class="Options-item">
                  <%= check_box_tag "product[sub_category_ids][#{sub_category.id}]", sub_category.id, product.sub_category_ids.include?(sub_category.id), name: "product[sub_category_ids][]" %>
                  <%= label_tag "product[sub_category_ids][#{sub_category.id}]", sub_category.name %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="Form-field EntityForm-attributes">
    <h3><%= SubCategory.human_attribute_name(:custom_attribute_ids) %></h3>
    <div class="Options EntityFormAttributes is-light">
      <% CustomAttribute.all.each do |custom_attribute| %>
        <div class="EntityForm-attribute" data-sub-category-ids="<%= custom_attribute.sub_category_ids %>" hidden>
          <% if custom_attribute.options&.any? %>
            <div class="EntityFormAttribute-label">
              <%= t("custom_attribute_labels.#{custom_attribute.label}") %>
            </div>
            <div class="EntityFormAttribute-options">
              <% custom_attribute.options.each do |option| %>
                <div class="u-flex u-gap-sm u-alignCenter">
                  <% if custom_attribute.input_type == 'options' %>
                    <input type="checkbox" name="<%= "product[custom_attributes][#{custom_attribute.label}][]" %>" value="<%= option[0] %>" id="<%= "product[custom_attributes][#{custom_attribute.id}]-#{option[0]}" %>"<%= " checked" if product.custom_attributes.present? && product.custom_attributes[custom_attribute.label]&.include?(option[0]) %>>
                  <% else %>
                    <input type="radio" name="<%= "product[custom_attributes][#{custom_attribute.label}]" %>" value="<%= option[0] %>" id="<%= "product[custom_attributes][#{custom_attribute.id}]-#{option[0]}" %>"<%= " checked" if product.custom_attributes.present? && product.custom_attributes[custom_attribute.label] == option[0] %>>
                  <% end %>
                  <label for="<%= "product[custom_attributes][#{custom_attribute.id}]-#{option[0]}" %>"><%= t("custom_attributes.#{option[1]}") %></label>
                </div>
              <% end %>
            </div>
          <% elsif custom_attribute.inputs.any? %>
            <div class="EntityFormAttribute-label">
              <%= t("custom_attribute_labels.#{custom_attribute.label}") %>
            </div>
            <div class="EntityFormAttribute-inputs">
              <div class="EntityFormAttribute-grid">
                <% custom_attribute.inputs.each do |input| %>
                  <div>
                    <label for="<%= "product[custom_attributes][#{custom_attribute.label}]-value-#{input}" %>" class="Form-label">
                      <%= t("custom_attribute_inputs.#{input}") %>
                    </label>
                    <div class="u-flex u-gap-sm u-alignCenter">
                      <input class="Form-input" type="text" inputmode="number" name="<%= "product[custom_attributes][#{custom_attribute.label}][value][#{input}]" %>" id="<%= "product[custom_attributes][#{custom_attribute.label}]-value-#{input}" %>" value="<%= product.custom_attributes&.dig(custom_attribute.label, 'value').present? ? product.custom_attributes.dig(custom_attribute.label, 'value', input) : "" %>">
                      <% if custom_attribute.units.size == 1 %>
                        <span class="Unit">
                          <%= t("custom_attribute_units.#{custom_attribute.units.first}").html_safe %>
                        </span>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
              <% if custom_attribute.units.size > 1 %>
                <div class="EntityFormAttributes-units u-flex u-gap-md u-alignCenter">
                  <% custom_attribute.units.each do |unit| %>
                    <div class="u-flex u-gap-sm u-alignCenter">
                      <input type="radio" name="<%= "product[custom_attributes][#{custom_attribute.label}][unit]" %>" id="<%= "product[custom_attributes][#{custom_attribute.label}]-#{unit}" %>" value="<%= unit %>"<%= " checked" if product.custom_attributes.present? && unit == product.custom_attributes.dig(custom_attribute.label, 'unit') %>>
                      <label for="<%= "product[custom_attributes][#{custom_attribute.label}]-#{unit}" %>">
                        <%= t("custom_attribute_units.#{unit}").html_safe %>
                      </label>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% elsif custom_attribute.input_type == 'boolean' %>
          <div class="EntityFormAttribute-label">
            <%= t("custom_attribute_labels.#{custom_attribute.label}") %>
          </div>
          <div class="EntityFormAttribute-options">
            <div class="u-flex u-gap-sm u-alignCenter">
              <input type="radio" name="<%= "product[custom_attributes][#{custom_attribute.label}]" %>" value="1" id="<%= "product[custom_attributes][#{custom_attribute.id}]-1" %>"<%= " checked" if product.custom_attributes.present? && product.custom_attributes[custom_attribute.label] == true %>>
              <label for="<%= "product[custom_attributes][#{custom_attribute.id}]-1" %>">Yes</label>
            </div>
            <div class="u-flex u-gap-sm u-alignCenter">
              <input type="radio" name="<%= "product[custom_attributes][#{custom_attribute.label}]" %>" value="0" id="<%= "product[custom_attributes][#{custom_attribute.id}]-0" %>"<%= " checked" if product.custom_attributes.present? && product.custom_attributes[custom_attribute.label] == false %>>
              <label for="<%= "product[custom_attributes][#{custom_attribute.id}]-0" %>">No</label>
            </div>
          </div>
          <% else %>
            <label for="<%= "product[custom_attributes][#{custom_attribute.label}]" %>" class="EntityFormAttribute-label">
              <%= t("custom_attribute_labels.#{custom_attribute.label}") %>
            </label>
            <div class="EntityFormAttribute-inputs">
              <div class="EntityFormAttribute-grid">
                <div class="u-flex u-gap-sm u-alignCenter">
                  <input class="Form-input" type="text" inputmode="number" name="<%= "product[custom_attributes][#{custom_attribute.label}][value]" %>" id="<%= "product[custom_attributes][#{custom_attribute.label}]" %>" value="<%= product.custom_attributes.present? && product.custom_attributes[custom_attribute.label] ? product.custom_attributes[custom_attribute.label]['value'] : '' %>">
                  <% if custom_attribute.units.size == 1 %>
                    <span class="Unit">
                      <%= t("custom_attribute_units.#{custom_attribute.units.first}").html_safe %>
                    </span>
                  <% end %>
                </div>
              </div>
              <% if custom_attribute.units.size > 1 %>
                <div class="u-flex u-gap-md u-alignCenter">
                  <% custom_attribute.units.each do |unit| %>
                    <div class="u-flex u-gap-sm u-alignCenter">
                      <input type="radio" name="<%= "product[custom_attributes][#{custom_attribute.label}][unit]" %>" id="<%= "product[custom_attributes][#{custom_attribute.label}]-#{unit}" %>" value="<%= unit %>"<%= " checked" if product.custom_attributes.present? && unit == product.custom_attributes.dig(custom_attribute.label, 'unit') %>>
                      <label for="<%= "product[custom_attributes][#{custom_attribute.label}]-#{unit}" %>">
                        <%= t("custom_attribute_units.#{unit}").html_safe %>
                      </label>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

<% end %>
