<div class="Heading">
  <h1><%= t('headings.products') %></h1>
  <%= link_to t('new_product.link'), user_signed_in? ? new_product_path : new_user_session_path(redirect: new_product_path), class: "Button" %>
</div>

<%= render "shared/filter", reset_path: products_path, collection: @products, render_abc: true, render_categories: true, render_status: true %>

<% if @products.any? %>
  <%= render "shared/products_table", products: @products %>
  <%= paginate @products %>
<% else %>
  <%= render "shared/empty_state", message: t('empty_state.products') %>
<% end %>

<%= render "shared/page_actions" %>
