<% content_for :header do %>
  <% if @sub_category %>
    <h1 class="h1-sm">
      <small><%= @category.name %></small><span class="u-hiddenVisually">:</span> <%= @sub_category.name %>
    </h1>
  <% else %>
    <h1><%= @category ? @category.name : Product.model_name.human(count: 2) %></h1>
  <% end %>
<% end %>

<% content_for :filter do %>
  <%= render "shared/filter", reset_path: products_path(sub_category: params[:sub_category]), collection: @products, custom_attributes: @custom_attributes, query: @products_query, type: :products, category: @category, sub_category: @sub_category, filter_applied: @filter_applied %>
<% end %>

<% content_for :add_link do %>
  <%= link_to t('product.new.link'), user_signed_in? ? new_product_path(sub_category: @sub_category&.slug) : new_user_session_path(redirect: new_product_path(sub_category: params[:sub_category])), class: "Button Button--secondary" %>
<% end %>

<% content_for :sort do %>
  <input type="hidden" name="country" value="<%= params[:country] %>">
  <label for="sort">Sort</label>
  <select name="sort" id="sort">
    <option value="name_asc"<%= " selected" if params[:sort] == "name_asc" %>><%= t('sort_by.name_asc') %></option>
    <option value="name_desc"<%= " selected" if params[:sort] == "name_desc" %>><%= t('sort_by.name_desc') %></option>
    <option value="release_date_desc"<%= " selected" if params[:sort] == "release_date_desc" %>><%= t('sort_by.release_date_desc') %></option>
    <option value="release_date_asc"<%= " selected" if params[:sort] == "release_date_asc" %>><%= t('sort_by.release_date_asc') %></option>
    <option value="added_desc"<%= " selected" if params[:sort] == "added_desc" %>><%= t('sort_by.added_desc') %></option>
    <option value="added_asc"<%= " selected" if params[:sort] == "added_asc" %>><%= t('sort_by.added_asc') %></option>
    <option value="updated_desc"<%= " selected" if params[:sort] == "updated_desc" %>><%= t('sort_by.updated_desc') %></option>
    <option value="updated_asc"<%= " selected" if params[:sort] == "updated_asc" %>><%= t('sort_by.updated_asc') %></option>
  </select>
<% end %>

<% content_for :table do %>
  <%= render "shared/products_table", products: @products, hide_category: @sub_category.present?, filter_applied: @filter_applied %>
<% end %>

<%= render "shared/index_page",
  records: @products,
  empty_state_message: t('empty_state.products_filter', path: new_product_path),
  category: @category,
  sub_category: @sub_category,
  full_page: true
%>
