<div class="Heading">
  <h1><%= t('headings.products') %></h1>
  <div class="Heading-amount">
    <%= t('amount_products', count: @total_size) %>
  </div>
</div>

<nav class="Pagination Pagination--abc" aria-label="Filter by letter">
  <ol class="Pagination-list">
    <li>
      <a class="Pagination-all" href="<%= products_path %>"<%= ' aria-current="true"'.html_safe unless params[:letter].present? %>>All</a>
    </li>
    <% ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'].each do |letter| %>
      <li>
        <a href="<%= letter_products_path(letter: letter) %>"<%= ' aria-current="true"'.html_safe if params[:letter] == letter %>><%= letter %></a>
      </li>
    <% end %>
  </ol>
</nav>

<% if @products.any? %>
  <%= render "shared/products_table", products: @products %>
  <%= paginate @products %>
<% else %>
  <%= render "shared/empty_state", message: t('empty_state.products') %>
<% end %>

<%= render "shared/page_actions" %>
