<%= form_for @product, html: { class: "EntityForm", method: :post, "data-url": all_brands_path } do |f| %>
  <%= f.hidden_field :brand_id, value: @brand.id if @brand && @brand.id %>

  <% content_for :heading do %>
    <%= t('product.new.heading') %>
    <% if @brand && @brand.name %>
      <br>
      <span>to <%= @brand.name %></span>
    <% end %>
  <% end %>

  <% content_for :brand_discontinued_note do %>
    <% if @brand && @brand.name %>Since <i><%= @brand.name %></i> has been discontinued, this product will automatically be set to discontinued as well.<% end %>
  <% end %>

  <%= render "form", f: f, include_comment: false, product: @product, brand: @brand, categories: @categories %>
<% end %>

<%= render "shared/options_dialog" %>
