<% content_for :css do %>
  <%= stylesheet_link_tag "form" %>
  <%= stylesheet_link_tag "new_product" %>
<% end %>
<% content_for :js do %>
  <%= javascript_include_tag "new_product", type: "module" %>
<% end %>

<div class="Form Form--centered">
  <div class="Heading">
    <h1>
      <%= t('new_product.heading') %>
      <% if @brand && @brand.name %>
        <br>
        <span>to <%= @brand.name %></span>
      <% end %>
    </h1>
  </div>

  <details class="Instructions">
    <summary>Please read before adding a product</summary>
    <div class="Instructions-content Rte">
      <p>Thank you for contributing to HiFi&thinsp;Log!</p>
      <p>Please read the following instructions to make sure all products are added properly:</p>
      <ul>
        <li>Please only add the product name, not the brand name, in the field "Name". The brand name will be added automatically.</li>
        <li>Not all information has to be filled out right away. Fields marked with "optional" can be filled out later.</li>
        <li>You can assign multiple categories to a product, for example "Over-Ear Headphones" + "Noise Cancelling Headphones".</li>
        <li>If you for example only know the year (or year and month) when a product has been released, you can omit the other fields.</li>
        <li>When adding a product to a brand that has been discontinued, the product will automatically be set to discontinued as well, no matter what you select.</li>
        <li>The description can contain any relevant information that is not discovered by the other fields.</li>
        <li>
          The description field supports the following HTML tags:
          <code><%=h "<b>" %></code>,
          <code><%=h "<strong>" %></code>,
          <code><%=h "<i>" %></code>,
          <code><%=h "<em>" %></code>,
          <code><%=h "<br>" %></code>,
          <code><%=h "<ul>" %></code>,
          <code><%=h "<ol>" %></code>,
          <code><%=h "<li>" %></code>
        </li>
      </ul>
      </ul>
    </div>
  </details>

  <% if @product.errors.any? %>
    <%= render "shared/flash_messages", messages: @product.errors.map { |error| ["alert", error.full_message] } %>
  <% end %>

  <%= form_for @product, html: { class: "NewProduct", method: :post, "data-url": all_brands_path } do |f| %>
    <%= f.hidden_field :brand_id, value: @brand.id if @brand && @brand.id %>

    <div class="Form-field">
      <%= f.label :name, class: "Form-label" %>
      <%= f.text_field :name, required: true %>
    </div>

    <% unless @brand && @brand.id %>
      <% unless @brand && @brand.errors.any? %>
        <div class="Form-field">
          <%= f.label :brand, class: "Form-label" %>
          <input type="text" id="brand-filter" autocomplete="off" value="" placeholder="Search for brand name…">
        </div>
        <div class="Form-field Options Options--brands"></div>
        <template id="brand-template">
          <div class="Options-item" data-brand="" hidden>
            <input type="radio" name="product[brand_id]" value="">
            <label></label>
          </div>
        </template>
      <% end %>
      <div class="Form-field ProductFormAddBrand" <%= "hidden" unless @brand && @brand.errors.any? %>>
        <% unless @brand && @brand.errors.any? %>
          <p><b>We could not find the brand you are looking for.</b><br>Please feel free to contribute it by adding it here:</p>
        <% end %>
        <fieldset class="ProductFormAddBrand-fieldset">
          <legend>Add new brand</legend>
          <%= f.fields_for :brand do |brand_form| %>
            <%= render "shared/flash_messages", messages: @brand.errors.map { |error| ["alert", error.full_message] } if @brand && @brand.errors.any? %>
            <div class="Form-field">
              <%= brand_form.label :name, class: "Form-label" %>
              <%= brand_form.text_field :name %>
            </div>

            <div class="Form-field">
              <%= brand_form.label :full_name, class: "Form-label" do %>
                <%= t('brand.full_name') %> <small><i>(optional)</i></small>
              <% end %>
              <%= brand_form.text_field :full_name %>
            </div>

            <div class="Form-field">
              <%= brand_form.label :website, class: "Form-label" do %>
                <%= t('brand.website') %> <small><i>(optional)</i></small>
              <% end %>
              <%= brand_form.url_field :website %>
            </div>

            <div class="Form-field">
              <%= brand_form.label :year_founded, class: "Form-label" do %>
                <%= t('brand.year_founded') %> <small><i>(optional)</i></small>
              <% end %>
              <%= brand_form.text_field :year_founded, inputmode: "number", list: "brand-years" %>
              <datalist id="brand-years">
                <% (1900..Date.today.year).to_a.reverse.each do |year| %>
                  <option value="<%= year %>"></option>
                <% end %>
              </datalist>
            </div>

            <div class="Form-field">
              <%= brand_form.label :country_code, class: "Form-label" do %>
                <%= t('brand.country_code') %> <small><i>(optional)</i></small>
              <% end %>
              <%= brand_form.country_select :country_code, include_blank: true %>
            </div>

            <div class="Form-field">
              <%= brand_form.label :description, class: "Form-label" do %>
                <%= t('brand.description') %> <small><i>(optional)</i></small>
              <% end %>
              <%= brand_form.text_area :description %>
            </div>

            <div class="Form-field Form-field--inline">
              <span class="Form-label"><%= t('symbols.discontinued') %></span>
              <div class="Form-options">
                <%= brand_form.radio_button :discontinued, 0, checked: @brand.nil? || (@brand.discontinued.nil? || @brand.discontinued) == false %>
                <%= brand_form.label :discontinued, "No", value: 0 %>
                <%= brand_form.radio_button :discontinued, 1, checked: !@brand.nil? && @brand.discontinued == true %>
                <%= brand_form.label :discontinued, "Yes", value: 1  %>
              </div>
            </div>
          <% end %>
        </fieldset>
      </div>
    <% end %>

    <div class="Form-field">
      <div class="Form-label"><%= t('headings.categories') %></div>
      <div class="Options">
        <% @categories.each do |category| %>
          <details <% if (category.sub_category_ids & @product.sub_category_ids).any? %>open<% end %>>
            <summary><%= category.name %></summary>
            <% category.sub_categories.each do |sub_category| %>
              <div class="Options-item">
                <%= check_box_tag "product[sub_category_ids][#{sub_category.id}]", sub_category.id, @product.sub_category_ids.include?(sub_category.id), name: "product[sub_category_ids][]" %>
                <%= label_tag "product[sub_category_ids][#{sub_category.id}]", sub_category.name %>
              </div>
            <% end %>
          </details>
        <% end %>
      </div>
    </div>

    <div class="Form-field">
      <%= f.label :release_date, class: "Form-label" do %>
        Release date <small><i>(optional)</i></small>
      <% end %>
      <div class="NewProduct-date">
        <%= f.select :release_day do %>
          <option value="">Day</option>
          <% (1..31).each do |day| %>
            <option value="<%= day %>"<%= " selected" if @product.release_day == day %>><%= day %></option>
          <% end %>
        <% end %>
        <%= select_month(@product.release_month, field_name: "release_month", prefix: "product", prompt: "Month") %>
        <%= f.text_field :release_year, inputmode: "number", list: "years", placeholder: "Year" %>
      </div>
      <datalist id="years">
        <% (1900..Date.today.year+1).to_a.reverse.each do |year| %>
          <option value="<%= year %>"></option>
        <% end %>
      </datalist>
    </div>

    <div class="Form-field">
      <%= f.label :description, class: "Form-label" do %>
        <%= t('product.description') %> <small><i>(optional)</i></small>
      <% end %>
      <%= f.text_area :description %>
    </div>

    <% if @brand && @brand.discontinued %>
      <p>
        <small>
          Since <i><%= @brand.name %></i> has been set to discontinued, this product will automatically be set to discontinued as well.
        </small>
      </p>
    <% else %>
      <div class="Form-field Form-field--inline">
        <span class="Form-label"><%= t('symbols.discontinued') %></span>
        <div class="Form-options">
          <%= f.radio_button :discontinued, 0, checked: (@product.discontinued.nil? || @product.discontinued == false) %>
          <%= f.label :discontinued, "No", value: 0 %>
          <%= f.radio_button :discontinued, 1, checked: (@product.discontinued == true) %>
          <%= f.label :discontinued, "Yes", value: 1  %>
        </div>
      </div>
    <% end %>

    <div class="Form-submit">
      <%= f.button type: "submit", class: "Button Button--loadingIcon" do %>
        <span><%= t('new_product.submit') %></span>
      <% end %>
    </div>
  <% end %>
</div>
