<% content_for :css do %>
  <%= stylesheet_link_tag "entity" %>
  <%= stylesheet_link_tag "product" %>
<% end %>
<div class="Entity">
  <div class="Entity-main">
    <div class="Product-details">
      <div class="Heading">
        <h1>
          <span><%= @product.brand.name %></span> <%= @product.name %>
        </h1>
      </div>

      <dl class="Data">
        <% if @product.discontinued %>
          <dt><%= t('status') %></dt>
          <dd><%= render "shared/symbols", product: @product, show_labels: true, only: [:discontinued] %></dd>
        <% end %>
        <dt><%= t('headings.brand').html_safe %></dt>
        <dd><%= link_to @product.brand.name, brand_path(id: @product.brand.friendly_id) %></dd>
        <dt><%= t('headings.category').html_safe %></dt>
        <dd>
          <%= @product.sub_categories.map { |sub_category| link_to sub_category.name, category_sub_category_path(id: sub_category.friendly_id, category_id: sub_category.category.friendly_id) }.join(", ").html_safe %>
        </dd>
        <dt>Release Date</dt>
        <dd>
          <% if @product.release_date.present? %>
            <time datetime="<%= @product.release_date %>" data-format="false"><%= @product.release_date %></time>
          <% else %>
            -
          <% end %>
        </dd>
      </dl>
    </div>
  </div>
  <div class="Entity-sub Product-sub u-pullOut">
    <% if user_has_product?(current_user, @product) %>
      <span class="Symbol Symbol--positive Symbol--large">✓ <%= t('symbols.in_your_collection') %></span>

      <div class="Product-actions">
        <% @setups.each do |setup| %>
          <div class="Product-action Product-action--add">
            <% if setup.products.include?(@product) %>
              <%= button_to t('remove_from', name: setup.name).html_safe, setup_product_path(product_id: @product.id, setup_id: setup.id), method: :delete, class: "TextButton TextButton--negative" %>
            <% else %>
              <%= button_to t('add_to', name: setup.name).html_safe, setup_products_path(product_id: @product.id, setup_id: setup.id), method: :post, class: "TextButton" %>
            <% end %>
          </div>
        <% end %>
        <div class="Product-action Product-action--remove">
          <%= button_to t('remove_from_collection'), owned_product_path(id: @product.id), method: :delete, class: "TextButton TextButton--negative" %>
        </div>
      </div>
    <% else %>
      <% if @bookmark %>
        <%= button_to t('add_to_collection'), owned_products_path(id: @product.id, bookmark_id: @bookmark.id), class: "Button" %>

        <div class="Product-bookmark">
          <span class="Symbol Symbol--positive Symbol--large">✓ <%= t('symbols.in_your_bookmarks') %></span>

          <div class="Product-actions">
            <div class="Product-action Product-action--remove">
              <%= button_to t('remove_from_bookmarks'), bookmark_path(id: @bookmark.id), method: :delete, class: "TextButton TextButton--negative" %>
            </div>
          </div>
        </div>
      <% else %>
        <%= button_to t('add_to_collection'), owned_products_path(id: @product.id), class: "Button" %>
        <div class="Product-bookmark">
          <%= button_to t('add_to_bookmarks'), bookmarks_path(id: @product.id), class: "Button" %>
        </div>
      <% end %>
    <% end %>

    <hr>

    <dl>
      <dt><%= t('product.meta.owned_by') %></dt>
      <dd><%= t('amount_users', count: @product.users.size) %></dd>
    </dl>

    <div class="Entity-meta">
      <dl>
        <dt><%= t('headings.contributors') %></dt>
        <dd>
          <%= @contributors.any? ? @contributors.map { |c| c["profile_visibility"] != 0 ? (link_to c["user_name"], user_path(id: c["user_name"])) : c["user_name"] }.join(", ").html_safe : "hifilog.com" %>
          </ul>
        </dd>
      </dl>

      <ul class="Entity-metaLinks">
        <li>
          <%= link_to t('edit'), user_signed_in? ? edit_product_path(id: @product.friendly_id) : new_user_session_path(redirect: edit_product_path(id: @product.friendly_id)) %>
        </li>
        <li>
          <%= link_to t('headings.changelog'), user_signed_in? ? product_changelog_path(product_id: @product.friendly_id) : new_user_session_path(redirect: product_changelog_path(product_id: @product.friendly_id)) %>
        </li>
      </ul>
    </div>
  </div>
</div>
<% if request.referer != request.url %>
  <%= render "shared/back_link" %>
<% end %>
