<% content_for :css do %>
  <%= stylesheet_link_tag "product" %>
<% end %>
<div class="Product">
  <div class="Product-main">
    <div class="Product-details">
      <div class="Heading">
        <h1>
          <span><%= @product.brand.name %></span> <%= @product.name %>
        </h1>
      </div>

      <dl>
        <% if @product.discontinued %>
          <div>
            <dt><%= t('status') %></dt>
            <dd><%= render "shared/symbols", product: @product, show_labels: true, only: [:discontinued] %></dd>
          </div>
        <% end %>
        <div>
          <dt><%= t('headings.brand').html_safe %></dt>
          <dd><%= link_to @product.brand.name, brand_path(id: @product.brand.friendly_id) %></dd>
        </div>
        <div>
          <dt><%= t('headings.category').html_safe %></dt>
          <dd>
            <%= @product.sub_categories.map { |sub_category| link_to sub_category.name, category_sub_category_path(id: sub_category.friendly_id, category_id: sub_category.category.friendly_id) }.join(", ").html_safe %>
          </dd>
        </div>
      </dl>
    </div>
  </div>
  <div class="Product-sub">
    <% if user_has_product?(@product) %>
      <span class="Symbol Symbol--positive Symbol--large">✓ <%= t('symbols.in_your_collection') %></span>

      <div class="Product-actions">
        <% if current_user.setups.any? %>
          <% current_user.setups.each do |setup| %>
            <div class="Product-action Product-action--add">
              <% if @setups.include?(setup) %>
                <%= button_to t('remove_from', name: setup.name).html_safe, setup_product_path(product_id: @product.id, setup_id: setup.id), method: :delete, class: "TextButton TextButton--negative" %>
              <% else %>
                <%= button_to t('add_to', name: setup.name).html_safe, setup_products_path(product_id: @product.id, setup_id: setup.id), method: :post, class: "TextButton" %>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <div class="Product-action Product-action--remove">
          <%= button_to t('remove_from_collection'), user_product_path(id: @product.id), method: :delete, class: "TextButton TextButton--negative" %>
        </div>
      </div>
    <% else %>
      <% if @bookmark %>
        <%= button_to t('add_to_collection'), user_products_path(id: @product.id, bookmark_id: @bookmark.id), class: "Button" %>

        <div class="Product-bookmark">
          <span class="Symbol Symbol--positive Symbol--large">✓ <%= t('symbols.in_your_bookmarks') %></span>

          <div class="Product-actions">
            <div class="Product-action Product-action--remove">
              <%= button_to t('remove_from_bookmarks'), bookmark_path(id: @bookmark.id), method: :delete, class: "TextButton TextButton--negative" %>
            </div>
          </div>
        </div>
      <% else %>
        <%= button_to t('add_to_collection'), user_products_path(id: @product.id), class: "Button" %>
        <div class="Product-bookmark">
          <%= button_to t('add_to_bookmarks'), bookmarks_path(id: @product.id), class: "Button" %>
        </div>
      <% end %>
    <% end %>

    <hr>
    <dl>
      <dt>Owned by</dt>
      <dd><%= t('amount_users', count: @product.users.size) %></dd>
      <dt>Added</dt>
      <dd>
        <time datetime="<%= formatted_datetime @product.created_at %>"><%= formatted_datetime @product.created_at %></time>
      </dd>
      <dt>Last edit</dt>
      <dd>
        <% if @product.created_at != @product.updated_at %>
          <time datetime="<%= formatted_datetime @product.updated_at %>"><%= formatted_datetime @product.updated_at %></time>
        <% else %>
          &ndash;
        <% end %>
      </dd>
    </dl>
  </div>
</div>
<% if request.referer != request.url %>
  <div class="ProductBackLink">
    <%= render "shared/back_link" %>
  </div>
<% end %>

<script>
  document.querySelectorAll("time").forEach(time => {
    time.textContent = new Date(time.dateTime).toLocaleString([], {
      year: "numeric",
      month: "numeric",
      day: "numeric",
      hour: "2-digit",
      minute: "2-digit",
    });
  });
</script>
