<% content_for :css do %>
  <%= stylesheet_link_tag "entity", crossorigin: true, integrity: true %>
  <%= stylesheet_link_tag "product", crossorigin: true, integrity: true %>
<% end %>
<% content_for :js do %>
  <%= javascript_include_tag "gallery", type: "module", nonce: true, crossorigin: true, integrity: true %>
<% end %>
<div class="Entity">
  <div class="Entity-main">
    <div class="Product-details">
      <div class="Heading">
        <h1>
          <% if @product.brand.present? %>
            <%= link_to brand_path(id: @brand.friendly_id) do %><span><%= @product.brand.name %></span><% end %>
          <% end %> <%= @product.name %>
          <% if @product.model_no.present? %>
            <small><%= @product.model_no %></small>
          <% end %>
        </h1>
        <% if @product.discontinued? %>
          <span class="Symbol"><%= t('symbols.discontinued') %></span>
        <% end %>
      </div>

      <div class="Entity-content">
        <% if @images.any? %>
          <ul class="Entity-image ImageLightbox ImageGallery">
            <% @images.each_with_index do |image, i| %>
              <li class="ImageLightbox-item">
                <button class="ImageLightbox-thumb ImageGallery-thumb" aria-controls="image-dialog-<%= image.id %>">
                  <picture>
                    <%= image_tag cdn_image_url(image.variant(:thumb)), "aria-hidden": "true", alt: "" %>
                  </picture>
                </button>
                <dialog class="ImageLightbox-dialog ImageGallery-dialog" id="image-dialog-<%= image.id %>">
                  <picture>
                    <%= image_tag cdn_image_url(image.variant(:large)), "aria-hidden": "true", alt: "", loading: "lazy" %>
                  </picture>
                  <div class="ImageGallery-info is-dark">
                    <% if @images.size > 1 %>
                      <% if i < @images.size - 1 %>
                        <button type="button" rel="next" aria-label="Next">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" width="24" height="24"><path stroke-linecap="round" stroke-linejoin="round" d="m8.3 4.5 7.4 7.5-7.4 7.5"/></svg>
                        </button>
                      <% end %>
                      <% if i > 0 %>
                        <button type="button" rel="prev" aria-label="Previous">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" width="24" height="24"><path stroke-linecap="round" stroke-linejoin="round" d="M15.8 19.5 8.2 12l7.6-7.5"/></svg>
                        </button>
                      <% end %>
                    <% end %>
                    <p>by <%= link_to image.user.user_name, image.user.profile_path %></p>
                  </div>
                </dialog>
              </li>
            <% end %>
          </ul>
        <% end %>

        <div class="Entity-text">
          <% if @product.description.present? %>
            <div class="Entity-section Rte">
              <%= @product.formatted_description %>
            </div>
          <% end %>

          <dl class="Entity-section Data">
            <dt><%= Category.model_name.human %></dt>
            <dd>
              <%= @product.sub_categories.map { |sub_category| link_to sub_category.name, products_path(sub_category: sub_category.friendly_id) }.join(", ").html_safe %>
            </dd>
            <dt><%= Product.human_attribute_name(:release_date) %></dt>
            <dd>
              <% if @product.release_date.present? %>
                <time datetime="<%= @product.release_date %>"><%= sanitize @product.formatted_release_date %></time>
              <% else %>
                -
              <% end %>
            </dd>
            <% if @product.discontinued? %>
              <dt><%= t('discontinued') %></dt>
              <dd>
                <% if @product.discontinued_date.present? %>
                  <time datetime="<%= @product.discontinued_date %>"><%= sanitize @product.formatted_discontinued_date %></time>
                <% else %>
                  -
                <% end %>
              </dd>
            <% end %>
            <dt><%= Product.human_attribute_name(:price) %><sup>1</sup></dt>
            <dd>
              <% if @product.price.present? %>
                <%= display_price(@product.price, @product.price_currency) %>
              <% else %>
                -
              <% end %>
            </dd>
          </dl>

          <%= render "shared/product_custom_attributes", attributes: @product.custom_attributes if @product.custom_attributes&.any? %>

          <% if @product.product_options.any? %>
            <div class="Entity-section Product-section">
              <h2><%= Product.human_attribute_name(:product_options) %></h2>
              <ul>
                <% @product.product_options.order(:option).each do |option| %>
                  <li>
                    <%= option[:option] %>
                    <% if option[:model_no].present? %>
                      <br><small><%= option[:model_no] %></small>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="Product-section Product-section--variants">
      <%= render "shared/product_variants", product: @product, current: @product %>
    </div>

    <ol class="Footnotes">
      <li>The provided price is the retail price given by the manufacturer. If the product has multiple versions, this is the lowest price, i.e. the price for the basic / stock version. Please note that this information might be outdated and that it most likely is different from country to country.</li>
    </ol>
  </div>
  <div class="Entity-sub Product-sub">
    <%= render "products/actions", possessions: @possessions, product: @product, product_variant: @product_variant, bookmark: @bookmark, setups: @setups %>

    <hr>

    <dl>
      <dt>Notes</dt>
      <dd>
        <% if @note.present? %>
          Last updated: <%= link_to product_new_notes_path(product_id: @product.friendly_id) do %>
            <time datetime="<%= format_iso_datetime @note.updated_at %>"><%= format_datetime(@note.updated_at).html_safe %></time>
          <% end %>
        <% else %>
          <%= link_to "Add notes", user_signed_in? ? product_new_notes_path(product_id: @product.friendly_id) : new_user_session_path(redirect: product_new_notes_path(product_id: @product.friendly_id)), rel: "nofollow" %>
        <% end %>
      </dd>
      <dt><%= t('product.meta.owned_by') %></dt>
      <dd><%= t('amount_users', count: @product.users.size) %></dd>
    </dl>

    <div class="Entity-meta">
      <ul class="Entity-metaLinks MetaLinks">
        <li>
          <%= link_to t('edit'), user_signed_in? ? edit_product_path(id: @product.friendly_id) : new_user_session_path(redirect: edit_product_path(id: @product.friendly_id)), rel: "nofollow" %>
        </li>
        <li>
          <%= link_to t('headings.changelog'), user_signed_in? ? product_changelog_path(product_id: @product.friendly_id) : new_user_session_path(redirect: product_changelog_path(product_id: @product.friendly_id)), rel: "nofollow" %>
        </li>
      </ul>

      <dl>
        <dt><%= t('headings.contributors') %></dt>
        <dd>
          <%= @contributors.any? ? @contributors.map { |c| c["profile_visibility"] != 0 ? (link_to c["user_name"], user_path(id: c["user_name"].downcase)) : c["user_name"] }.join(", ").html_safe : "hifilog.com" %>
          </ul>
        </dd>
      </dl>
    </div>
  </div>
</div>
