<% show_all_path = Rails.application.routes.url_helpers.public_send("#{entity}_path") %>

<button class="MenuMain-link MenuMain-link--mega" aria-controls="menu-<%= entity %>" aria-expanded="false" <%= active_menu_state(active_menu, symbol) %>>
  <span><%= t("headings." + entity) %></span>
  <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 12"><path fill-rule="evenodd" d="M.5.72a1.49 1.49 0 0 1 2.1 0l7.39 7.39L17.38.72a1.49 1.49 0 1 1 2.1 2.1l-8.44 8.44a1.49 1.49 0 0 1-2.1 0L.5 2.82a1.49 1.49 0 0 1 0-2.1z" clip-rule="evenodd"/></svg>
</button>
<div class="MenuMega Menu-subList" id="menu-<%= entity %>">
  <div class="u-container">
    <div class="MenuMega-header">
      <div class="MenuMega-headerTitle">
        <span class="h2"><%= t("headings." + entity) %></span>
        <%= link_to show_all_path do %>
          <span>Show all</span>
        <% end %>
      </div>
      <%= link_to cta_label, user_signed_in? ? cta_path : new_user_session_path(redirect: cta_path), class: "Button" %>
    </div>
    <div class="MenuMega-container">
      <% menu_categories.each do |columns| %>
        <div>
          <% columns[1].each do |cat| %>
            <div class="MenuMega-list">
              <%= link_to Rails.application.routes.url_helpers.public_send("#{entity}_path", { category: cat.friendly_id }),
                class: "MegaMenu MegaMenu-link MegaMenu-link--lvl1 Menu-link--lvl1",
                "aria-current": (request.path == show_all_path && category.present? && category == cat && !sub_category.present?) ? "page" : "false" do %>
                <span><%= cat.name %></span>
              <% end %>
              <ul>
                <% cat.sub_categories.each do |sub| %>
                  <li>
                    <%= link_to Rails.application.routes.url_helpers.public_send("#{entity}_path", { category: "#{cat.friendly_id}[#{sub.friendly_id}]" }),
                      class: "MegaMenu MegaMenu-link MegaMenu-link--lvl2",
                      "aria-current": (request.path == show_all_path && sub_category.present? && sub_category == sub) ? "page" : "false" do %>
                      <span><%= sub.name %></span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
