<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HiFi Gear</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :js %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <a class="Skip" href="#content"><%= t('skip_to_main_content') %></a>
      <nav aria-label="Main" class="Menu u-container">
        <a class="Menu-home" href="<%= root_url %>"<% if is_current_page?(root_path) %> aria-current="page"<% end %>>HiFi Gear</a>
        <ul class="Menu-list Menu-list--main">
          <li>
            <a href="<%= brands_path %>"<%= active_menu_state(:brands) %>>
              <%= t('headings.brands').html_safe %>
            </a>
          </li>
          <li>
            <a href="<%= categories_path %>"<%= active_menu_state(:categories) %>>
              <%= t('headings.categories').html_safe %>
            </a>
          </li>
          <li>
            <a href="<%= products_path %>"<%= active_menu_state(:products) %>>
              <%= t('headings.products') %>
            </a>
          </li>
        </ul>
        <ul class="Menu-list">
          <% if user_signed_in? %>
            <li>
              <a href="<%= dashboard_root_path %>"<%= active_menu_state(:dashboard) %>>
                <%= t('dashboard') %>
              </a>
            </li>
            <li>
              <%= button_to t('user_form.logout'), destroy_user_session_path, method: :delete  %>
            </li>
          <% else %>
            <li>
              <a href="<%= new_user_registration_path %>"<%= active_menu_state(:signup) %>>
                <%= t('user_form.signup') %>
              </a>
            </li>
            <li>
              <a href="<%= new_user_session_path %>"<%= active_menu_state(:login) %>>
                <%= t('user_form.login') %>
              </a>
            </li>
          <% end %>
        </ul>
      </a>
    </header>
    <nav aria-label="Breadcrumbs" class="Breadcrumbs u-container">
      <ol class="Breadcrumbs-list"><%= render_breadcrumbs :tag => :li, :separator => "" %></ol>
    </nav>
    <main class="u-container" id="content">
      <%= render "shared/flash_messages", messages: flash if flash.any? %>
      <%= yield %>
    </main>
  </body>
</html>
