<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= APP_NAME %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= yield :js %>
    <%= javascript_include_tag "theme_toggle", defer: true %>
    <%= stylesheet_link_tag "application" %>
    <%= yield :css %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="<%= strip_tags t('home.intro', products_size: app_size[:products], products_path: products_path, brands_size: app_size[:brands], brands_path: brands_path, categories_size: app_size[:categories], categories_path: categories_path).squish %>">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=3">
    <link rel="icon" type="image/svg" href="/favicon.svg?v=2">
    <link rel="manifest" href="/site.webmanifest">
  </head>

  <body>
    <header>
      <div class="Header u-container">
        <a class="Skip" href="#content"><%= t('skip_to_main_content') %></a>
        <% if @is_home %>
          <h1 class="Menu-home">
            <svg aria-label="HiFi Log" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 2689 409"><path fill="#7A9BB8" d="M1257 210c-1-30 5-58 18-85l11 6 55 31c7 4 12 2 16-5 3-5 1-10-4-14l-63-36-4-2c42-71 133-112 225-81 89 30 145 121 125 221a189 189 0 0 1-197 152c-102-6-179-86-182-187z"/><path fill="#ECC5E3" d="M2320 207v77l-4 34c-6 26-24 41-47 51-20 8-40 12-61 14-32 2-64 2-96-3-16-3-33-7-48-15a73 73 0 0 1-41-59l-1-21V124c0-11 1-22 4-33 5-25 22-41 45-51 19-8 38-12 58-14 31-3 61-3 91 1 18 2 35 6 51 13 30 14 46 37 48 70l1 97m-112 74 3-12V140c0-10-6-18-16-20-16-3-32-3-48 0-10 2-16 10-16 20v129c0 11 5 18 16 20 16 4 32 4 48 0 5-1 8-5 13-8z"/><path fill="#FEFFFF" d="M165 253h-27v109c-1 9-5 15-14 15H44c-9 0-14-5-15-14V48c0-11 5-16 16-17h77c12 1 16 6 16 17v105h80V46c1-10 5-14 15-14l24-1h52c14 0 18 5 18 19v308c0 14-4 19-19 19h-73c-11 0-16-5-17-16V253h-53z"/><path fill="#ECC5E3" d="M2382 89c9-25 27-41 51-49 20-7 41-9 63-9h120c10 1 14 5 15 15v63c-1 11-6 15-17 15h-98l-11 1c-14 2-21 9-21 24v116c2 15 8 21 23 21h46v-74c0-13 5-18 18-18h73c13 0 18 5 18 18v147c0 13-5 18-18 18h-151c-23 0-46-2-68-12a77 77 0 0 1-48-64l-2-32V133c0-15 1-30 7-44zM1906 191h47c14 0 19 5 19 19v149c0 13-5 18-18 18h-242c-14 0-19-5-19-18V50c0-14 5-19 19-19h72c14 0 18 5 18 19v236h66v-77c0-13 5-18 18-18h20z"/><path fill="#FEFEFE" d="M561 135v150h46c13 0 18 5 18 19v55c0 13-5 18-18 18H404c-14 0-18-5-18-18v-56c0-13 5-18 18-18h46V124h-48c-11 0-16-5-16-16V48c0-11 4-16 15-17h203c17 0 21 4 21 22v56c-1 10-6 15-16 15h-48v11zM1212 99v8c0 12-5 17-17 17h-47v161h37l13 1c9 1 13 5 14 14v62c-1 10-6 15-17 15H986c-8-1-13-6-13-14v-64c0-8 4-13 13-13l31-1h20V124h-47c-12 0-17-5-17-17V48c0-11 4-16 16-17h204c14 0 19 5 19 19v49zM684 95V49c0-13 5-18 17-18h214c13 0 17 5 17 18v57c0 13-4 17-18 17H793v50h82c14 0 19 5 19 19v55c0 14-5 18-19 18h-82v98c-1 9-6 14-16 14h-78c-10 0-15-5-15-16V95z"/><path fill="#0F1B24" d="M2207 281c-4 3-7 7-12 8-16 4-32 4-48 0-11-2-16-9-16-20V140c0-10 6-18 16-20 16-3 32-3 48 0 10 2 16 10 16 20v129c0 4-2 8-4 12z"/></svg>
          </h1>
        <% else %>
          <a class="Menu-home" href="<%= root_url %>"<% if current_page?(root_path) %> aria-current="page"<% end %>>
            <svg aria-label="HiFi Log" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 2689 409"><path fill="#7A9BB8" d="M1257 210c-1-30 5-58 18-85l11 6 55 31c7 4 12 2 16-5 3-5 1-10-4-14l-63-36-4-2c42-71 133-112 225-81 89 30 145 121 125 221a189 189 0 0 1-197 152c-102-6-179-86-182-187z"/><path fill="#ECC5E3" d="M2320 207v77l-4 34c-6 26-24 41-47 51-20 8-40 12-61 14-32 2-64 2-96-3-16-3-33-7-48-15a73 73 0 0 1-41-59l-1-21V124c0-11 1-22 4-33 5-25 22-41 45-51 19-8 38-12 58-14 31-3 61-3 91 1 18 2 35 6 51 13 30 14 46 37 48 70l1 97m-112 74 3-12V140c0-10-6-18-16-20-16-3-32-3-48 0-10 2-16 10-16 20v129c0 11 5 18 16 20 16 4 32 4 48 0 5-1 8-5 13-8z"/><path fill="#FEFFFF" d="M165 253h-27v109c-1 9-5 15-14 15H44c-9 0-14-5-15-14V48c0-11 5-16 16-17h77c12 1 16 6 16 17v105h80V46c1-10 5-14 15-14l24-1h52c14 0 18 5 18 19v308c0 14-4 19-19 19h-73c-11 0-16-5-17-16V253h-53z"/><path fill="#ECC5E3" d="M2382 89c9-25 27-41 51-49 20-7 41-9 63-9h120c10 1 14 5 15 15v63c-1 11-6 15-17 15h-98l-11 1c-14 2-21 9-21 24v116c2 15 8 21 23 21h46v-74c0-13 5-18 18-18h73c13 0 18 5 18 18v147c0 13-5 18-18 18h-151c-23 0-46-2-68-12a77 77 0 0 1-48-64l-2-32V133c0-15 1-30 7-44zM1906 191h47c14 0 19 5 19 19v149c0 13-5 18-18 18h-242c-14 0-19-5-19-18V50c0-14 5-19 19-19h72c14 0 18 5 18 19v236h66v-77c0-13 5-18 18-18h20z"/><path fill="#FEFEFE" d="M561 135v150h46c13 0 18 5 18 19v55c0 13-5 18-18 18H404c-14 0-18-5-18-18v-56c0-13 5-18 18-18h46V124h-48c-11 0-16-5-16-16V48c0-11 4-16 15-17h203c17 0 21 4 21 22v56c-1 10-6 15-16 15h-48v11zM1212 99v8c0 12-5 17-17 17h-47v161h37l13 1c9 1 13 5 14 14v62c-1 10-6 15-17 15H986c-8-1-13-6-13-14v-64c0-8 4-13 13-13l31-1h20V124h-47c-12 0-17-5-17-17V48c0-11 4-16 16-17h204c14 0 19 5 19 19v49zM684 95V49c0-13 5-18 17-18h214c13 0 17 5 17 18v57c0 13-4 17-18 17H793v50h82c14 0 19 5 19 19v55c0 14-5 18-19 18h-82v98c-1 9-6 14-16 14h-78c-10 0-15-5-15-16V95z"/><path fill="#0F1B24" d="M2207 281c-4 3-7 7-12 8-16 4-32 4-48 0-11-2-16-9-16-20V140c0-10 6-18 16-20 16-3 32-3 48 0 10 2 16 10 16 20v129c0 4-2 8-4 12z"/></svg>
          </a>
        <% end %>
        <div class="u-flex u-flexGrow">
          <span class="Header-toggleLabel" id="Menu-button-label">Menu</span>
          <button type="button" aria-labelledby="Menu-button-label" aria-controls="menu" aria-expanded="false" class="Header-toggle" onclick="onMenuToggle(this)">
            <svg class="Header-toggleIcon Header-toggleIcon--open" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" width="24" height="24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <svg class="Header-toggleIcon Header-toggleIcon--close" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" width="24" height="24" stroke-width="1.5" stroke="currentColor" width="24" height="24">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
          <div class="Header-menuContainer" id="menu">
            <div class="Header-menu">
              <nav aria-label="Main" class="Menu">
                <ul class="Menu-list Menu-list--main">
                  <li>
                    <a href="<%= products_path %>"<%= active_menu_state(@active_menu, :products) %>>
                      <%= t('headings.products') %>
                    </a>
                  </li>
                  <li>
                    <a href="<%= brands_path %>"<%= active_menu_state(@active_menu, :brands) %>>
                      <%= t('headings.brands').html_safe %>
                    </a>
                  </li>
                  <li>
                    <a href="<%= categories_path %>"<%= active_menu_state(@active_menu, :categories) %>>
                      <%= t('headings.categories').html_safe %>
                    </a>
                  </li>
                </ul>
              </nav>
              <search class="Header-search">
                <%= form_tag search_path, method: :get, class: "Search" do %>
                  <%= text_field_tag :query, nil, type: 'search', value: '', class: 'Search-input', placeholder: t('search') + " …", minlength: 1, required: true %>
                  <%= button_tag 'Search', class: 'Search-button', name: nil, "aria-label": t('search') do %>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" width="20" height="20" stroke-width="1.5" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                    </svg>
                  <% end %>
                <% end %>
              </search>
            </div>
            <nav aria-label="Account">
              <ul class="Menu-list">
                <% if user_signed_in? %>
                  <li>
                    <a href="<%= dashboard_products_path %>"<%= active_menu_state(@active_menu, :dashboard) %>>
                      <%= t('dashboard') %>
                    </a>
                  </li>
                  <li>
                    <%= button_to t('user_form.logout'), destroy_user_session_path, method: :delete  %>
                  </li>
                <% else %>
                  <li>
                    <a href="<%= new_user_registration_path %>"<%= active_menu_state(@active_menu, :signup) %>>
                      <%= t('user_form.signup') %>
                    </a>
                  </li>
                  <li>
                    <a href="<%= new_user_session_path %>"<%= active_menu_state(@active_menu, :login) %>>
                      <%= t('user_form.login') %>
                    </a>
                  </li>
                <% end %>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <% unless render_breadcrumbs.empty? %>
      <nav aria-label="Breadcrumbs" class="Breadcrumbs">
        <ol class="Breadcrumbs-list u-container"><%= render_breadcrumbs :tag => :li, :separator => "" %></ol>
      </nav>
    <% end %>
    <main id="content">
      <div class="u-container">
        <%= render "shared/flash_messages", messages: flash if flash.any? %>
        <%= yield %>
      </div>
    </main>
    <footer>
      <% if newest_products.any? or newest_brands.any? %>
        <div class="Newest is-dark">
          <div class="u-container">
            <h2><%= t('home.recently_added') %></h2>

            <div class="Newest-lists u-flex u-flexWrap">
              <% if newest_products.any? %>
                <div>
                  <h3><%= t('headings.products') %></h3>
                  <ol>
                    <% newest_products.each do |product| %>
                      <li>
                        <time datetime="<%= formatted_date product.created_at %>"><%= formatted_date product.created_at %></time>:
                        <%= link_to product.brand.name + " " + product.name, brand_product_path(id: product.friendly_id, brand_id: product.brand.friendly_id) %>
                      </li>
                    <% end %>
                  </ol>
                </div>
              <% end %>
              <% if newest_brands.any? %>
                <div>
                  <h3><%= t('headings.brands') %></h3>
                  <ol>
                    <% newest_brands.each do |brand| %>
                      <li>
                        <time datetime="<%= formatted_date brand.created_at %>"><%= formatted_date brand.created_at %></time>:
                        <%= link_to brand.name, brand_path(id: brand.friendly_id) %>
                      </li>
                    <% end %>
                  </ol>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="Footer">
        <div class="u-container u-flex u-spaceBetween u-alignCenter u-gap-md">
          <a href="https://www.github.com/mgrsskls/hifi-gear">Source Code</a>
          <theme-toggle>
            <div class="ThemeToggle">
              <input class="u-hiddenVisually" type="radio" name="theme" value="auto" id="theme-auto" checked="">
              <label for="theme-auto">
                <span class="u-hiddenVisually">Automatic</span>
                <svg class="ThemeToggle-icon ThemeToggle-icon--auto" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.75 17 9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2Z"></path>
                </svg>
              </label>
              <input class="u-hiddenVisually" type="radio" name="theme" value="light" id="theme-light">
              <label for="theme-light">
                <span class="u-hiddenVisually">Light</span>
                <svg class="ThemeToggle-icon ThemeToggle-icon--light" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364-.707-.707M6.343 6.343l-.707-.707m12.728 0-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z"></path>
                </svg>
              </label>
              <input class="u-hiddenVisually" type="radio" name="theme" value="dark" id="theme-dark">
              <label for="theme-dark">
                <span class="u-hiddenVisually">Dark</span>
                <svg class="ThemeToggle-icon ThemeToggle-icon--dark" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                  <path d="m20.354 15.354.928.373a1 1 0 0 0-1.3-1.3l.372.927ZM8.646 3.646l.928.373a1 1 0 0 0-1.301-1.301l.373.928Zm11.335 10.78c-.92.37-1.925.574-2.981.574v2a9.976 9.976 0 0 0 3.727-.718l-.746-1.856ZM17 15a8 8 0 0 1-8-8H7c0 5.523 4.477 10 10 10v-2ZM9 7c0-1.056.204-2.061.574-2.981l-1.856-.746A9.975 9.975 0 0 0 7 7h2Zm-5 5a8.003 8.003 0 0 1 5.019-7.426l-.746-1.856A10.003 10.003 0 0 0 2 12h2Zm8 8a8 8 0 0 1-8-8H2c0 5.523 4.477 10 10 10v-2Zm7.426-5.019A8.003 8.003 0 0 1 12 20.001v2c4.207 0 7.805-2.599 9.282-6.274l-1.856-.746Z"></path>
                </svg>
              </label>
            </div>
          </theme-toggle>
        </div>
      </div>
    </footer>
    <script>
      let scrollY = 0;

      function onMenuToggle(button) {
        const shouldOpen = button.getAttribute('aria-expanded') === 'false';

        if (shouldOpen) {
          scrollY = window.scrollY;
          button.setAttribute('aria-expanded', 'true');
        } else {
          button.setAttribute('aria-expanded', 'false');
          window.requestAnimationFrame(() => window.scrollTo(0, scrollY));

        }
      }

      document.querySelectorAll("time").forEach(time => time.textContent = new Date(time.dateTime).toLocaleDateString())
    </script>
  </body>
</html>
