<% content_for :css do %>
  <%= stylesheet_link_tag "user_form" %>
<% end %>
<%= render layout: "shared/dashboard" do %>
  <div class="Heading">
    <h1><%= t('account') %></h1>
  </div>

  <h2>Update your account</h2>

  <div class="UserForm">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "shared/flash_messages", messages: resource.errors.full_messages.map { |message| [ :alert, message ] } if resource.errors.full_messages.any? %>

      <div class="UserForm-field">
        <div>
          <%= f.radio_button :profile_visibility, 0, checked: current_user.profile_visibility == 0 %>
          <%= f.label :profile_visibility_0, "No one but me can see my profile." %>
        </div>
        <div>
          <%= f.radio_button :profile_visibility, 1, checked: current_user.profile_visibility == 1 %>
          <%= f.label :profile_visibility_1, "Only logged in users can see my profile." %>
        </div>
        <div>
          <%= f.radio_button :profile_visibility, 2, checked: current_user.profile_visibility == 2 %>
          <%= f.label :profile_visibility_2, "Logged in and logged out users can see my profile." %>
        </div>

        <p>
          Your profile is visible at the following URL:<br>
          <a href="<%= current_user.profile_path %>"><b><%= request.protocol + request.host_with_port + current_user.profile_path %></b></a>
        </p>
      </div>

      <div class="UserForm-field">
        <%= f.label :user_name, class: "UserForm-label" do %>
          Username <small><i>(optional)</i></small>
        <% end %>
        <%= f.text_field :user_name %>
      </div>

      <div class="UserForm-field">
        <%= f.label :email, class: "UserForm-label" do %>
          Email <small><i>(required)</i></small>
        <% end %>
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="UserForm-field">
        <%= f.label :password, class: "UserForm-label" do %>
          Password <small><i>(leave blank if you don't want to change it)</i></small>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <small class="UserForm-hint"><%= @minimum_password_length %> characters minimum</small>
        <% end %>
      </div>

      <div class="UserForm-field">
        <%= f.label :password_confirmation, class: "UserForm-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <h3>Save your changes</h3>

      <div class="UserForm-field">
        <%= f.label :current_password, class: "UserForm-label" do %>
          Current password <small><i>(required)</i></small>
        <% end %>
        <%= f.password_field :current_password, autocomplete: "current-password" %>
        <small class="UserForm-hint">We need your current password to confirm your changes.</small>
      </div>

      <div class="UserForm-submit">
        <%= f.button "Update", type: "submit", class: "Button" %>
      </div>
    <% end %>
  </div>

  <div class="UserForm">
    <h2>Delete my account</h2>

    <p>If you delete your account, all data associated with your account will immediately be deleted.</p>

    <%= button_to "Delete my account", registration_path(current_user), method: :delete, class: "DeleteAccount Button Button--negative", "data-msg": 'Are you sure you want to delete your account? All data will be deleted immediately.' %>

    <script>
      {
        const button = document.querySelector(".DeleteAccount");

        if (button) {

          button.closest("form").addEventListener("submit", (event) => {
            if (!window.confirm(button.dataset.msg)) {
              event.preventDefault();
            }
          });
        }
      }
    </script>
  </div>
<% end %>
