<%= render layout: "shared/dashboard", locals: { active_dashboard_menu: @active_dashboard_menu, user: @user } do %>
  <div class="Heading">
    <h1><%= t('headings.account') %></h1>
  </div>

  <h2><%= t("user.edit.update.heading") %></h2>

  <div class="Form">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "shared/flash_messages", messages: resource.errors.full_messages.map { |message| [ :alert, message ] } if resource.errors.full_messages.any? %>

      <div class="Form-field">
        <%= f.label :user_name, class: "Form-label" do %>
          <%= t('user.edit.update.fields.user_name') %>
        <% end %>
        <%= f.text_field :user_name, required: true %>
      </div>

      <div class="Form-field">
        <%= f.label :email, class: "Form-label" do %>
          <%= t('user.edit.update.fields.email') %>
        <% end %>
        <%= f.email_field :email, required: true, autocomplete: "email" %>
      </div>

      <div class="Form-field">
        <%= f.label :password, class: "Form-label" do %>
          <%= t('user.edit.update.fields.password') %> <small><i>(<%= t('user.edit.update.leave_blank') %>)</i></small>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <small class="Form-hint"><%= t('user.edit.update.minimum_password_length', minimum: @minimum_password_length) %></small>
        <% end %>
      </div>

      <div class="Form-field">
        <%= f.label :password_confirmation, class: "Form-label" do %>
          <%= t('user.edit.update.fields.confirm_password') %> <small><i>(<%= t('user.edit.update.leave_blank') %>)</i></small>
        <% end %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <h3><%= t('user.edit.update.save.heading') %></h3>

      <div class="Form-field">
        <%= f.label :current_password, class: "Form-label" %>
        <%= f.password_field :current_password, required: true, autocomplete: "current-password" %>
        <small class="Form-hint"><%= t('user.edit.update.save.confirm_with_password') %></small>
      </div>

      <div class="Form-submit">
        <%= f.button t('user.edit.update.save.submit'), type: "submit", class: "Button" %>
      </div>
    <% end %>
  </div>

  <div class="Form">
    <h2><%= t('user.edit.delete.heading') %></h2>

    <p><%= t('user.edit.delete.intro') %></p>

    <%= button_to t('user.edit.delete.submit'), registration_path(current_user), method: :delete, class: "DeleteAccount Button Button--negative", "data-msg": t('user.edit.delete.confirm') %>
  </div>
<% end %>
